<app-text-section
  [title]="'Anmeldung um die Website zu bearbeiten'"
>
  <app-input-form
    [inputFields]="inputFields"
    [submitButtonText]="'Anmelden'"
    (submitButtonClicked)="onSubmit()"
  >
    <app-input-field
      [field]="inputFields.field('email')"
      [id]="'email'"
      [label]="'E-Mail'"
      [type]="FieldType.inputText('E-Mail')"
    ></app-input-field>
    <app-input-field
      [field]="inputFields.field('password')"
      [id]="'password'"
      [label]="'Passwort'"
      [type]="FieldType.secureText('Passwort')"
    ></app-input-field>
  </app-input-form>

  <p
    class="text margin-top-large large"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >oder</p>

  <div
   class="sign-in-container"
   [ngClass]="deviceType.className"
  >
    <div
      class="sign-in-button apple"
      (click)="loginWithApple(); $event.stopPropagation()"
      [ngStyle]="{
        backgroundColor: appearance.current === Appearance.Light ? '#000000' : '#FFFFFF'
      }"
    >
      <img
        *ngIf="appearance.current === Appearance.Light"
        src="assets/images/apple_logo_white.png"
        title="Apple"
        class="logo"
      >
      <img
        *ngIf="appearance.current === Appearance.Dark"
        src="assets/images/apple_logo_black.png"
        title="Apple"
        class="logo"
      >
      <p
        class="button-text"
        [ngStyle]="{
          color: appearance.current === Appearance.Light ? '#FFFFFF' : '#000000'
        }"
      >Mit Apple Anmelden</p>
    </div>
    <p
      *ngIf="signInWithAppleStatus === 'loading'"
      class="status"
      [ngStyle]="{
        color: styleConfig.css('formInfoStatusColor')
      }"
    >Bitte melden Sie sich im seperaten Anmeldefenster an.</p>
    <p
      *ngIf="signInWithAppleStatus !== 'valid' && signInWithAppleStatus !== 'loading'"
      class="status"
      [ngStyle]="{
        color: styleConfig.css('formErrorStatusColor')
      }"
    >{{ loginErrorMessage(signInWithAppleStatus) }}</p>
  </div>

  <div
   class="sign-in-container"
   [ngClass]="deviceType.className"
  >
    <div
      class="sign-in-button google"
      (click)="loginWithGoogle(); $event.stopPropagation()"
      [ngStyle]="{
        backgroundColor: appearance.current === Appearance.Light ? '#FFFFFF' : '#4285F4',
        boxShadow: '0 0 0.25em ' + (appearance.current === Appearance.Light ? '#A0A0A0' : '#202020')
      }"
    >
      <img
        src="assets/images/google_logo.png"
        title="Google"
        class="logo"
        [ngStyle]="{
          backgroundColor: appearance.current === Appearance.Light ? undefined : '#FFFFFF'
        }"
      >
      <p
        class="button-text"
        [ngStyle]="{
          color: appearance.current === Appearance.Light ? '#6A6A6A' : '#FFFFFF'
        }"
      >Mit Google Anmelden</p>
    </div>
    <p
      *ngIf="signInWithGoogleStatus === 'loading'"
      class="status"
      [ngStyle]="{
        color: styleConfig.css('formInfoStatusColor')
      }"
    >Bitte melden Sie sich im seperaten Anmeldefenster an.</p>
    <p
      *ngIf="signInWithGoogleStatus !== 'valid' && signInWithGoogleStatus !== 'loading'"
      class="status"
      [ngStyle]="{
        color: styleConfig.css('formErrorStatusColor')
      }"
    >{{ loginErrorMessage(signInWithGoogleStatus) }}</p>
  </div>

</app-text-section>
