@import '/src/sass/flex'
@import '/src/sass/text'

.sign-in-container
  @include flex-column(flex-start, center)
  width: 65%
  margin-bottom: 32px

  .sign-in-button
    @include flex-row(center, center)
    width: 100%
    cursor: pointer
    height: 50px
    border-radius: 8px
    vertical-align: middle

    .logo
      height: 24px
      width: 24px
      border-radius: 8px
      padding: 13px

    .button-text
      @include font-size('large')
      @include font-weight('normal')
      text-align: center
      flex: 5
      margin-right: 50px

    &.apple .button-text
      font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif

    &.google .button-text
      @include font-roboto

  .status
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    margin-top: 8px
    text-align: left
    width: 100%

  &.tablet
    width: 85%

  &.mobile
    width: 100%

    .sign-in-button .button-text
      @include font-size('medium')
