@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

.container
    .newsletter
        @include flex-row(center, center)
        background-color: color('background')
        border: 1px solid color('text')
        padding: 5px
        width: 95%
        cursor: pointer
        text-decoration: none

        &:first-child
            border-radius: 5px 5px 0 0

        &:last-child
            border-radius: 0 0 5px 5px

        &:first-child:last-child
            border-radius: 5px

        .title-container
            @include flex-column(center, flex-start)
            flex: 3
            margin-left: 10px

            .title
                @include font-montserrat
                @include font-size('normal')
                @include font-weight('small')
                margin-bottom: 2px

            .description
                @include font-montserrat
                @include font-size('small')
                @include font-weight('small')
