
<!-- Authentication is currently checked -->
<text-section
    title="Authentifizierung wird überprüft"
    *ngIf="state === 'loading'"
>
    <p
        class="text large margin-top-large primaryColor"
    >Es wird überprüft, ob Sie berechtigt sind, diese Seite zu besuchen.</p>
</text-section>


<!-- Authentication failed with an error -->
<text-section
    title="Authentifizierung fehlgeschlagen"
    *ngIf="state === 'internalError'"
>
    <p
        class="text large margin-top-large primaryColor"
    >Es konnte nicht überprüft werden, ob Sie berechtigt sind, diese Seite zu besuchen. Bitte laden Sie die Seite neu, um es erneut zu versuchen.</p>
</text-section>


<!-- Authentication failed, user is not allowed to view this page -->
<text-section
    title="Authentifizierung fehlgeschlagen"
    *ngIf="state === 'unauthenticated'"
>
    <p
        class="text large margin-top-large secondaryColor"
    >Sie sind nicht berechtigt, diese Seite zu besuchen.</p>
    <a
        link="bearbeiten/anmelden"
        class="text large primaryColor"
    >Zur Anmeldung</a>
</text-section>

<!-- Authenication successful -->
<ng-content
    *ngIf="state === 'authenticated'"
></ng-content>
