@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%

.all-contacts
  @include flex-row(center, flex-start)
  width: 100%
  flex-wrap: wrap

  &.desktop .container
    width: 20%

  &.tablet .container
    width: 33%

  &.mobile .container
    width: 100%

  .container
    @include flex-column(center, flex-start)
    width: 20%
    margin-bottom: 40px

    .function, .name, .telephone, .mobile, .email
      font-family: 'Montserrat', sans-serif
      font:
        size: 18px
        weight: 400
      padding-bottom: 0
      text-align: center
      margin-bottom: 10px

    .function
      color: #24252A
      font-size: 22px
      margin-bottom: 15px

    .name
      color: #868E90
      font-size: 20px

    .telephone, .mobile, .email
      @include flex-row(center, center)

      i
        margin-right: 5px
        padding-bottom: 0

    &:nth-last-child(1)
      margin-bottom: 0

@media screen and (prefers-color-scheme: dark)
  .all-contacts .container
      .function
        color: #C8D6E5

      .name
        color: #868E90
