<label
    [text]="label"
></label>
<select
    #select
    id="select"
    [ngClass]="{ error: inputField.error }"
    (change)="onBlur()"
>
    <optgroup
        *ngFor="let group of selectOptions.type === 'grouped' ? selectOptions.groups : []; trackBy: SelectGroup.trackByTitle"
        [label]="group.title"
    >
        <option
        *ngFor="let option of group.options; trackBy: SelectOption.trackById"
        [value]="option.id"
        >{{ option.text }}</option>
    </optgroup>
    <option
        *ngFor="let option of selectOptions.type === 'ungrouped' ? selectOptions.options : []; trackBy: SelectOption.trackById"
        [value]="option.id"
    >{{ option.text }}</option>
</select>
<!--p
    id="hint"
>Achtung! Die Anzeige hat einen Fehler. Obwohl die ausgewählte Option nicht richtig angezeigt wird, wurde die Auswahl aber trotzdem übernommen.</p-->
<error-message
    [error]="inputField.error"
 />

