<navigation-bar
    [navigationBarData]="navigationBarData"
/>
<authentication-check
    [roles]="['admin']"
    loginLink="editing/login"
    (onAuthentication)="getCriticism()"
>
    <text-section
        title="Kritik und Vorschläge"
    >
        <result-display
            [result]="criticismResult"
            [showEmptyListError]="true"
        />
        <overview-list
            *ngIf="criticismResult && criticismResult.isSuccess()"
            [overviewListData]="criticismOverviewListData(criticismResult.value)"
        />
    </text-section>
</authentication-check>
