<span class="text-section">
  <h1>Termine bearbeiten</h1>
  <p *ngIf="isStartupLoading" class="large center red top-space">Anmeldedaten werden überprüft.</p>
  <p class="add-event ignore-text-style" (click)="addNewEvent(); $event.stopPropagation()">Neuen Termin hinzufügen</p>
  <span class="event-group-container" *ngFor="let eventGroup of allEvents ?? []" [ngClass]="deviceType.stringValue">
    <p class="group-name ignore-text-style">{{ groupDescription(eventGroup.groupId) }}</p>
    <span class="event-container" *ngFor="let event of getEventsOf(eventGroup.groupId)">
      <span class="title-container">
        <p class="title ignore-text-style">{{ event.title }}</p>
        <p class="subtitle ignore-text-style" *ngIf="event.subtitle !== undefined">{{ event.subtitle }}</p>
      </span>
      <p class="edit-btn ignore-text-style" (click)="editEvent(eventGroup.groupId, event); $event.stopPropagation()">Bearbeiten</p>
      <p class="delete-btn ignore-text-style" (click)="deleteEvent(eventGroup.groupId, event.id); $event.stopPropagation()">Löschen</p>
    </span>
  </span>
</span>
