@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

#event-groups
    @include flex-column(flex-start, center)
    width: 100%

    .event-group
        @include font-montserrat
        @include font-size('x-large')
        @include font-weight('medium')
        margin: 16px 0
        text-align: left
        width: 100%

    .event
        border-bottom: 1px solid color('text')
        margin-bottom: 8px
        padding-bottom: 8px
        width: 100%

        .inner-container
            @include flex-row(flex-start, flex-start)
            overflow: hidden
            padding: 8px 0

            .bar
                margin: -99999px 0
                padding: 99999px 0
                width: 5px

            .date, .title, .subtitle, .link
                @include font-montserrat
                @include font-size('medium')
                @include font-weight('small')
                flex: 3
                margin-left: 10px

            .date
                flex: 4

            .link
                cursor: pointer
                padding-bottom: 0
                text-decoration: none
                width: auto

        &:nth-last-child(2)
            border-bottom: 0

    .show-more-button
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('normal')
        cursor: pointer

    &.mobile .event
        @include flex-column(flex-start, center)

        .date, .title, .subtitle, .link
            margin-bottom: 4px
            width: 100%

#subscribe-calendar, #calendar-subscription-container #subscribe-calendar-link, #calendar-subscription-container #subscribe-calendar-cancel
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('normal')
    border: 1px solid color('text')
    border-radius: 5px
    color: color('text')
    cursor: pointer
    margin-top: 25px
    padding: 2.5px 15px
    text-decoration: none

#calendar-subscription-container
    @include flex-column(flex-start, center)
    border: 1px solid color('text')
    border-radius: 5px
    margin-top: 25px
    padding: 10px 0
    width: 100%

    #selection-container
        @include flex-row(flex-start, center)
        flex-wrap: wrap
        width: 100%

        .group-id
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('small')
            border: 1px solid color('text')
            border-radius: 5px
            color: color('text')
            cursor: pointer
            margin: 5px 7.5px
            padding: 2.5px 15px
            text-align: center

            &.selected
                color: color('primary')

            &:hover
                background-color: color('hoveredBackground')
