@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100%

#event-groups
  @include flex-column(flex-start, center)
  width: 100%

  .event-group
    @include font-montserrat
    @include font-size('x-large')
    @include font-weight('medium')
    margin: 16px 0
    width: 100%
    text-align: left

  .event
    width: 100%
    margin-bottom: 8px
    padding-bottom: 8px
    border-bottom: solid 1px

    .inner-container
        @include flex-row(flex-start, flex-start)
        overflow: hidden
        padding: 8px 0

        .bar
            width: 5px
            padding: 99999px 0
            margin: -99999px 0

        .date, .title, .subtitle, .link
            @include font-montserrat
            @include font-size('medium')
            @include font-weight('small')
            flex: 3
            margin-left: 10px

        .date
            flex: 4

        .link
            width: auto
            padding-bottom: 0
            text-decoration: none
            cursor: pointer

    &:nth-last-child(2)
      border-bottom: none

  .show-more-button
    cursor: pointer
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('normal')

  &.mobile .event
    @include flex-column(flex-start, center)

    .date, .title, .subtitle, .link
      width: 100%
      margin-bottom: 4px

#download-calendar
  @include font-montserrat
  @include font-size('normal')
  @include font-weight('normal')
  cursor: pointer
  border: 1px solid
  padding: 2.5px 15px
  border-radius: 5px
  margin-top: 25px
