<text-section
    [title]="'Kommende Termine'"
>
    <p
      *ngIf="fetchedEventGroups.isLoading()"
      class="text center large primaryColor"
    >Termine werden geladen</p>
    <p
      *ngIf="fetchedEventGroups.isFailure()"
      class="text center large primaryColor"
    >Termine konnten nicht geladen werden</p>
    <p
      *ngIf="fetchedEventGroups.isSuccess() && fetchedEventGroups.content.length === 0"
      class="text center large primaryColor"
    >Keine Termine</p>
    <div
        id="event-groups"
        *ngFor="let eventGroup of fetchedEventGroups.content; trackBy: TrackBy.property('groupId')"
        [ngClass]="deviceType.current"
    >
        <p
        class="event-group textColor"
        >{{ EventGroupId.title[eventGroup.groupId] }}</p>
        <div
            class="event"
            *ngFor="let event of events(eventGroup); trackBy: TrackBy.id"
        >
        <div
            class="inner-container"
        >
            <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
            <div
                class="bar"
                [ngStyle]="{
                    backgroundColor: styleConfig.css(event.isImportant ? 'accent' : (isRecent(event) ? 'primary' : 'secondaryText'))
                }"
            ></div>
            <p
                class="date secondaryColor"
            >{{ event.date.description }}</p>
            <p
                class="title textColor"
            >{{ event.title }}</p>
            <p
                class="subtitle secondaryColor"
            >{{ event.subtitle ?? '' }}</p>
            <a
                class="link primaryColor"
                *ngIf="event.link !== null"
                [href]="event.link"
                target="_blank"
                [title]="event.title"
            >Weitere Informationen</a>
            <p
                class="link"
                *ngIf="event.link === null"
            ></p>
            </div>
        </div>
        <p
            class="show-more-button primaryColor"
            *ngIf="eventGroup.events.length > 5 && expandedGroupId !== eventGroup.groupId"
            role="none"
            (click)="expandGroup(eventGroup.groupId)"
            >Alle anzeigen</p>
            <p
            class="show-more-button primaryColor"
            *ngIf="eventGroup.events.length > 5 && expandedGroupId === eventGroup.groupId"
            role="none"
            (click)="collapseGroups()"
        >Weniger anzeigen</p>
        <p
            *ngIf="eventGroup.events.length <= 5"
        ></p>
    </div>
    <p
        *ngIf="fetchedEventGroups.isSuccess() && fetchedEventGroups.content.length !== 0 && !isCalendarSubscriptionSeletionShown"
        id="subscribe-calendar"
        class="textColor"
        role="none"
        (click)="showCalendarSubscriptionSeletion()"
    >ics-Kalender abonnieren</p>
    <div
        *ngIf="fetchedEventGroups.isSuccess() && fetchedEventGroups.content.length !== 0 && isCalendarSubscriptionSeletionShown"
        id="calendar-subscription-container"
    >
        <p
            class="text"
        >Wähle die Kategorien aus, die du abonnieren möchtest.</p>
        <div
            id="selection-container"
        >
            <p
                *ngFor="let groupId of EventGroupId.all; trackBy: TrackBy.identity"
                class="group-id"
                [ngClass]="{
                    selected: calendarSubscriptionSelection[groupId]
                }"
                role="none"
                (click)="selectEventGroupId(groupId)"
            >{{ EventGroupId.title[groupId] }}</p>
        </div>
        <a
            *ngIf="anyCalendarSubscriptionSelected"
            id="subscribe-calendar-link"
            class="textColor"
            [href]="calendarSubscriptionLink"
            target="_blank"
            title="ics-Kalender abonnieren"
            role="none"
            (click)="hideCalendarSubscriptionSeletion()"
        >Ausgewähltes abonnieren</a>
        <p
            *ngIf="!anyCalendarSubscriptionSelected"
            id="subscribe-calendar-cancel"
            class="textColor"
            role="none"
            (click)="hideCalendarSubscriptionSeletion()"
        >Abbrechen</p>
    </div>
</text-section>
