@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%

google-map
  width: 100%
  border: #485460 1px solid

@media screen and (prefers-color-scheme: dark)
  google-map
    border: #24252A solid 1px
