<text-section
    title="Kader"
>
    <p
        *ngIf="!fetchedSquad"
        class="text center large primaryColor"
    >Kader wird geladen</p>
    <p
        *ngIf="fetchedSquad && fetchedSquad.isFailure()"
        class="text center large primaryColor"
    >Kader konnten nicht geladen werden</p>

    <!-- Coach -->
    <p
        class="text left-align x-large margin-top-normal"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.coach"
    >Trainer</p>
    <div
        class="container"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.coach"
    >
        <squad-person
            class="person"
            [person]="coachPersonInfo(fetchedSquad.value.coach)"
            [ngClass]="deviceType.current"
        />
    </div>

    <!-- Goal keeper -->
    <p
        class="text left-align x-large margin-top-normal"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.goalkeeper && fetchedSquad.value.squad.goalkeeper.length !== 0"
    >Torwart</p>
    <div
        class="container"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.goalkeeper && fetchedSquad.value.squad.goalkeeper.length !== 0"
    >
        <squad-person
            class="person"
            *ngFor="let person of fetchedSquad.value.squad.goalkeeper; trackBy: TrackBy.squadPersonName"
            [person]="squadPersonInfo(person)"
            [ngClass]="deviceType.current"
        />
    </div>

    <!-- Defence -->
    <p
        class="text left-align x-large margin-top-normal"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.defence && fetchedSquad.value.squad.defence.length !== 0"
    >Abwehr</p>
    <div
        class="container"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.defence && fetchedSquad.value.squad.defence.length !== 0"
    >
        <squad-person
            class="person"
            *ngFor="let person of fetchedSquad.value.squad.defence; trackBy: TrackBy.squadPersonName"
            [person]="squadPersonInfo(person)"
            [ngClass]="deviceType.current"
        />
    </div>

    <!-- Midfield -->
    <p
        class="text left-align x-large margin-top-normal"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.midfield && fetchedSquad.value.squad.midfield.length !== 0"
    >Mittelfeld</p>
    <div
        class="container"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.midfield && fetchedSquad.value.squad.midfield.length !== 0"
    >
        <squad-person
            class="person"
            *ngFor="let person of fetchedSquad.value.squad.midfield; trackBy: TrackBy.squadPersonName"
            [person]="squadPersonInfo(person)"
            [ngClass]="deviceType.current"
        />
    </div>

    <!-- Offence -->
    <p
        class="text left-align x-large margin-top-normal"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.offence && fetchedSquad.value.squad.offence.length !== 0"
    >Sturm</p>
    <div
        class="container"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.offence && fetchedSquad.value.squad.offence.length !== 0"
    >
        <squad-person
            class="person"
            *ngFor="let person of fetchedSquad.value.squad.offence; trackBy: TrackBy.squadPersonName"
            [person]="squadPersonInfo(person)"
            [ngClass]="deviceType.current"
        />
    </div>

    <!-- Without disclosures -->
    <p
        class="text left-align x-large margin-top-normal"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.notSpecified && fetchedSquad.value.squad.notSpecified.length !== 0"
    >Ohne Angaben</p>
    <div
        class="container"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.squad && fetchedSquad.value.squad.notSpecified && fetchedSquad.value.squad.notSpecified.length !== 0"
    >
        <squad-person
            class="person"
            *ngFor="let person of fetchedSquad.value.squad.notSpecified; trackBy: TrackBy.squadPersonName"
            [person]="squadPersonInfo(person)"
            [ngClass]="deviceType.current"
        />
    </div>

    <!-- Staff -->
    <p
        class="text left-align x-large margin-top-normal"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.stab && fetchedSquad.value.stab.length !== 0"
    >Stab</p>
    <div
        class="container"
        *ngIf="fetchedSquad && fetchedSquad.isSuccess() && fetchedSquad.value.stab && fetchedSquad.value.stab.length !== 0"
    >
        <squad-person
            class="person"
            *ngFor="let person of fetchedSquad.value.stab; trackBy: TrackBy.squadPersonName"
            [person]="staffPersonInfo(person)"
            [ngClass]="deviceType.current"
        />
    </div>

</text-section>
