<navigation-bar
    [navigationBarData]="navigationBarData"
/>
<authentication-check
    [roles]="['websiteManager']"
    loginLink="editing/login"
    (onAuthentication)="getEvents()"
>
    <text-section
        title="Kommende Termine"
    >
        <button
            class="add-new-button"
            actionLink="editing/events/edit"
            (action)="clearSharedData()"
            [prominent]="true"
        >Neuen Termin hinzufügen</button>
        <result-display
            [result]="eventGroupsResult"
        />
        <ng-container
            *ngIf="eventGroupsResult && eventGroupsResult.isSuccess()"
        >
            <div
                *ngFor="let eventGroup of eventGroupsResult.value; trackBy: TrackBy.property('groupId')"
                class="event-group"
            >
                <p
                    class="text group-name"
                >{{ eventGroupTitle[eventGroup.groupId] }}</p>
                <overview-list
                    [overviewListData]="eventOverviewListData(eventGroup)"
                />
            </div>
        </ng-container>
    </text-section>
</authentication-check>
