@mixin flex-row($vertical: center, $horizontal: center)
    align-items: $vertical
    display: flex
    flex-direction: row
    justify-content: $horizontal

@mixin flex-column($vertical: center, $horizontal: center)
    align-items: $horizontal
    display: flex
    flex-direction: column
    justify-content: $vertical
