@import '/src/sass/text'
@import '/src/sass/color'
@import '/src/sass/flex'

@mixin markdown-container
    color: color('secondaryText')
    @include font-montserrat
    @include font-size('medium')
    @include font-weight('small')
    text-align: justify
    width: 100%

    &::ng-deep
        *
            display: inline-block

        img
            display: block
            margin-left: auto
            margin-right: auto

        a
            color: color('primary')
            cursor: pointer
            text-decoration: none

        .italic
            font-style: italic

        .strong
            color: color('text')
            @include font-weight('medium')

        .horizontal-line
            @include flex-row(center, center)
            height: 2px
            width: 100%

            > *
                background-color: color('text')
                height: 1px
                width: 90%

