@import '/src/sass/text'
@import '/src/sass/color'
@import '/src/sass/flex'

@mixin markdown-container
    @include font-montserrat
    @include font-size('medium')
    @include font-weight('small')
    text-align: justify
    @include dynamic-color(color, 'secondaryText')
    width: 100%

    &::ng-deep
        *
            display: inline-block

        img
            display: block
            margin-left: auto
            margin-right: auto

        a
            text-decoration: none
            cursor: pointer
            @include dynamic-color(color, 'primary')

        .italic
            font-style: italic

        .strong
            @include font-weight('medium')
            @include dynamic-color(color, 'text')

        .horizontal-line
            @include flex-row(center, center)
            width: 100%
            height: 2px

            > *
                width: 90%
                height: 1px
                @include dynamic-color(background-color, 'text')

