@import '/src/sass/flex'

.text-section-like
  @include flex-column()
  margin: 48px 0
  padding-top: 48px
  border-top: #485460 solid 1px
  width: 90%

.text-section
  @include flex-column()
  margin: 48px 0
  padding-top: 48px
  border-top: #485460 solid 1px
  width: 80%

  .red
    color: #CF1D16

  .dark
    color: #24252A

  .top-space
    margin-top: 48px

  h1
    font-family: 'Montserrat', sans-serif
    color: #24252A
    font:
      size: 40px
      weight: 500
    text-align: center
    line-height: 48px
    width: 100%
    padding:
      right: 32px
      left: 32px
      bottom: 48px
    white-space: pre-wrap
    word-break: break-word

  h2
    font-family: 'Montserrat', sans-serif
    color: #24252A
    font:
      size: 28px
      weight: 500
    width: 100%
    text-align: center
    line-height: 32px
    padding:
      right: 32px
      left: 32px
      bottom: 32px
    &.left-align
        width: 100%
        text-align: left

  h3
    font-family: 'Montserrat', sans-serif
    font:
      size: 24px
      weight: 500
    color: #24252A
    line-height: 24px
    padding-bottom: 16px
    width: 100%

  p, a, a > *
    &:not(i)
      font-family: 'Montserrat', sans-serif
    color: #868E90
    font:
      size: 18px
      weight: 400
    text-align: left
    width: 100%
    line-height: 20px
    padding-bottom: 32px

    &.center
      text-align: center

    &.medium
      font-size: 20px
      line-height: 22px
      padding-bottom: 40px

    &.large
      font-size: 24px
      line-height: 26px
      padding-bottom: 48px

    &.small-bottom-space
      padding-bottom: 16px

    &.big-top-space
      padding-top: 25px

    &.block
      text-align: justify

    &.text-margin-right
      margin-right: 5px

  a, a > *
    @include flex-row(center, center)
    text-decoration: none
    cursor: pointer
    color: #CF1D16

    &.inline, &.inline.large, &.inline.medium
      padding: 0
      text-align: justify
      display: inline

    &.left-align
      width: 100%
      text-align: left
      justify-content: flex-start

  a > *
    width: auto

@media screen and (prefers-color-scheme: dark)
  .text-section-like
    border-top: #C8D6E5 solid 1px

  .text-section
    border-top: #C8D6E5 solid 1px

    .red
      color: #CF1D16

    .dark
      color: #C8D6E5

    h1
      color: #C8D6E5

    h2
      color: #C8D6E5

    h3
      color: #C8D6E5

    p
      color: #868E90

    a, a > *
      color: #CF1D16
