@use 'sass:map'

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap')

@mixin font-montserrat
  font-family: 'Montserrat', sans-serif

@mixin font-roboto
  font-family: 'Roboto', sans-serif

@mixin font-open-sans
  font-family: 'Open Sans', sans-serif

@mixin font-metrophobic
  font-family: 'Metrophobic', sans-serif

$font-weight-map: ('thin': 100, 'extra-light': 200, 'light': 300, 'normal': 400, 'medium': 500, 'semi-bold': 550, 'bold': 700, 'extra-bold': 800, 'heavy': 900, 'black': 900)

@mixin font-weight($weight)
    font-weight: map.get($font-weight-map, $weight)

$font-size-map: ('xx-small': 12px, 'x-small': 16px, 'small': 18px, 'normal': 20px, 'medium': 24px, 'large': 26px, 'x-large': 30px, 'header': 40px, 'xl-header': 48px)

@mixin font-size($size)
    font-size: map.get($font-size-map, $size)
    line-height: calc(1.25 * map.get($font-size-map, $size))
