@import '/src/sass/flex'
@import '/src/sass/text'

:host
    @include flex-column(flex-start, center)
    width: 100%

#report
    @include flex-column(center, flex-start)
    width: 100%
    margin-bottom: 25px
    padding-bottom: 25px
    border-bottom: solid 1px

    #date
        @include font-montserrat
        @include font-size('medium')
        @include font-weight('small')
        margin-bottom: 10px

        #group-title
            display: inline-block
            margin-right: 5px

    #message-container
        @include flex-row(flex-start, flex-start)
        width: 100%
        overflow: hidden

        #bar
            width: 5px
            padding: 99999px 0
            margin: -99999px 0
            margin-right: 10px

        #image
            border: solid 1px
            border-radius: 4px
            height: 200px
            width: 200px
            object-fit: cover
            margin-left: 15px

        #title-message
            @include flex-column(flex-start, flex-start)
            width: calc(100% - 15px)

            #title
                @include font-montserrat
                @include font-size('large')
                @include font-weight('medium')

            #message
                @include font-montserrat
                @include font-size('medium')
                @include font-weight('small')
                text-align: justify

                &::ng-deep
                    *
                        display: inline-block

                    a
                        text-decoration: none
                        cursor: pointer

                    .italic
                        font-style: italic

                    .strong
                        @include font-weight('medium')

:host:nth-last-child(1) #report
    border-bottom: none
