@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    width: 100%

#cookie-container
    @include dynamic-color(border-color, 'text')
    @include dynamic-color(background-color, 'background')
    @include flex-column(flex-start, center)
    border: solid 1px
    padding: 80px 0
    width: 100%

    #text1
        @include dynamic-color(color, 'text')
        @include font-montserrat
        @include font-size('medium')
        @include font-weight('small')
        margin-bottom: 32px
        text-align: center

    #button
        @include dynamic-color(color, 'primary')
        @include font-montserrat
        @include font-size('medium')
        @include font-weight('small')
        cursor: pointer
        text-align: center

#maps-container
    border: solid 1px
    width: 100%

    google-map
        @include dynamic-color(border-color, 'text')
