@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    width: 100%

#cookie-container
    @include flex-column(flex-start, center)
    background-color: color('background')
    border: solid 1px
    border-color: color('text')
    padding: 80px 0
    width: 100%

    #text1
        color: color('text')
        @include font-montserrat
        @include font-size('medium')
        @include font-weight('small')
        margin-bottom: 32px
        text-align: center

    #button
        color: color('primary')
        @include font-montserrat
        @include font-size('medium')
        @include font-weight('small')
        cursor: pointer
        text-align: center

#maps-container
    border: solid 1px
    width: 100%

    google-map
        border-color: color('text')
