<div
    *ngIf="!functionalityCookiesSelected"
    id="cookie-container"
>
    <p
        id="text1"
    >Google Maps konnte nicht geladen werden, da Sie nicht den erforderlichen Cookies zugestimmt haben.</p>
    <p
        id="button"
        role="none"
        (click)="acceptFunctionalityCookies()"
    >Funktionelle Cookies jetzt akzeptieren</p>
    </div>
<p
    *ngIf="!apiLoaded && functionalityCookiesSelected"
    class="text center large primaryColor"
>Google Maps wird geladen</p>
<div
    id="maps-container"
    *ngIf="apiLoaded && functionalityCookiesSelected"
>
    <google-map
        [options]="mapOptions"
        width="100%"
        height="65vh"
    >
        <map-marker
            *ngFor="let marker of markers; trackBy: TrackBy.identity"
            [position]="marker"
        />
    </google-map>
</div>
