@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

.sponsors-container
    @include flex-row(flex-start, flex-start)
    overflow: hidden
    width: 100%
    margin-bottom: 25px

    .sponsors
        animation-name: slide
        animation-timing-function: linear
        animation-iteration-count: infinite

        &:first-child
            animation-name: slide-and-hide


@keyframes slide-and-hide
    0%
        transform: translate(0, 0)
    100%
        transform: translate(-100%, 0)
        display: none

@keyframes slide
    0%
        transform: translate(0, 0)
    100%
        transform: translate(-100%, 0)
