@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

#container
    $height: 30px
    $slider-margin: 2px
    $slider-size: calc($height - 2 * $slider-margin)
    $width: calc(3 * $slider-size + 2 * $slider-margin)
    background-color: color('secondaryBackground')
    border: 1px solid color('text')
    border-radius: calc(min($width, $height) / 2)
    cursor: pointer
    height: $height
    width: $width
    z-index: 300

    #slider
        @include flex-row(center, center)
        background-color: color('primary')
        border-radius: calc($slider-size / 2)
        color: color('text')
        font-size: calc($slider-size - 10px)
        height: $slider-size
        margin: $slider-margin 0
        position: relative
        transition: .4s
        width: $slider-size
        z-index: 301

    &.light
        #slider
            margin-left: $slider-margin
            margin-right: calc($width - 2 * $slider-size - $slider-margin)

    &.dark
        #slider
            margin-left: calc($width - $slider-size - $slider-margin)
            margin-right: calc($width - $slider-size - $slider-margin)

    &.system
        #slider
            margin-left: calc($width - 2 * $slider-size - $slider-margin)
            margin-right: $slider-margin
