<span [ngClass]="deviceType.stringValue"
  class="footer">

  <span class="page-links-copyright">
    <span class="page-links">
      <a href="/anfahrt"
        class="link">
        Anfahrt
      </a>
      <a href="/kontakt"
        class="link">
        Kontakt
      </a>
      <a href="/impressum"
        class="link">
        Impressum und Datenschutz
      </a>
    </span>
    <div class="copyright">
      © Copyright 2022 SV Kleinsendelbach e.V.
    </div>
  </span>

  <span class="address-card">
    <span class="top">
      <p class="function">Sportheim</p>
      <p class="name">
        Sportverein Kleinsendelbach e.V
      </p>
    </span>
    <span class="bottom">
      <p class="street">Hauptstraße 21</p>
      <p class="city">
        91077 Kleinsendelbach
      </p>
      <a href="tel:091268304"
        class="telephone">
        <i class="icon fas fa-phone"></i>
        <p class="number">09126 / 8304</p>
      </a>
    </span>
  </span>

  <span class="address-card">
    <span class="top">
      <p class="function">
        Vertretungsberechtigter Vorstand
      </p>
      <p class="name">Sebastian Schuldes</p>
    </span>
    <span class="bottom">
      <p class="street">Mühlenstraße 2</p>
      <p class="city">
        91077 Kleinsendelbach
      </p>
      <a href="tel:015150405030"
        class="telephone">
        <i class="icon fas fa-phone"></i>
        <p class="number">01515 / 0405030</p>
      </a>
    </span>
  </span>
</span>
