@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
  @include flex-column(flex-start, center)
  height: 100%

#header-item
    @include flex-column(flex-start, center)
    position: relative
    width: 100%

    #top-item
        @include flex-row(center, center)
        height: 80px
        cursor: pointer
        text-decoration: none
        width: max-content
        padding: 0 24px
        background-color: color('background')

        &:hover
            background-color: color('hoveredBackground')

        #top-item-text
            @include font-metrophobic
            @include font-size('normal')
            @include font-weight('medium')
            line-height: 80px
            color: color('text')

        .drop-down-arrow
            margin-left: 8px
            color: color('text')

    #sub-items
        @include flex-column(flex-start, center)
        position: absolute
        top: 80px
        z-index: 1002
        width: max-content
        display: none

        .sub-item
            @include flex-row(center, center)
            width: 100%
            padding: 8px 16px
            cursor: pointer
            background-color: color('background')

            &:last-child
                padding-bottom: 16px
                border-radius: 0 0 8px 8px

            &:hover
                background-color: color('hoveredBackground')

            .sub-item-text
                @include font-metrophobic
                @include font-size('normal')
                @include font-weight('medium')
                text-decoration: none
                color: color('text')

    &.expanded #sub-items
        display: flex
        z-index: 1003

@media screen and (prefers-color-scheme: dark)
    #header-item
        #top-item
            background-color: darkColor('background')

            #top-item-text .drop-down-arrow
                color: darkColor('text')

        #top-item:hover
            background-color: darkColor('hoveredBackground')

        #sub-items
            .sub-item
                background-color: darkColor('background')

                &:hover
                    background-color: darkColor('hoveredBackground')

                .sub-item-text
                    color: darkColor('text')

