<text-section
    [title]="'Alte Herren des SV Kleinsendelbach'"
>
    <p
        class="text secondaryColor"
    >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
</text-section>

<events
    [groupIds]="eventGroupIds"
 />

<contact
    [contactData]="contactData"
 />

<text-section
    [title]="'Trainingszeiten'"
>
    <p
        class="text margin-bottom-normal secondaryColor"
    >Das Training findet jeden Mittwoch um 19:00Uhr in Kleinsendelbach am B-Platz an der Sendelmühlstraße statt.</p>
    <maps
        [options]="mapOptions"
        [markers]="[mapOptions.center]"
    />
</text-section>
