<app-text-section
  [title]="'Aktuelle Nachrichten'"
>
  <p
    *ngIf="FetchState.isLoading(fetchedNews)"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Nachrichten werden geladen</p>
  <p
    *ngIf="FetchState.isFailure(fetchedNews)"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Nachrichten konnten nicht geladen werden</p>
  <p
    *ngIf="FetchState.isSuccess(fetchedNews) && FetchState.getContent(fetchedNews).news.length === 0"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Keine Nachrichten</p>
  <div
    id="all-news"
    *ngIf="FetchState.isSuccess(fetchedNews) && FetchState.getContent(fetchedNews).news.length !== 0"
    [ngClass]="deviceType.className"
  >
    <div
      class="news"
      *ngFor="let news of notDisabledNews"
      [ngStyle]="{
        borderColor: styleConfig.css('textColor')
      }"
    >
      <a
        class="thumbnail-link"
        href="{{ newsLink(news).link }}"
        title="{{ newsLink(news).title }}"
      >
        <img
          class="thumbnail"
          src="{{ news.thumbnailUrl }}"
          [ngStyle]="{
            borderColor: styleConfig.css('textColor')
          }"
        >
      </a>
      <div
        class="container"
      >
        <p
          class="date"
          [ngStyle]="{
            color: styleConfig.css('textColor')
          }"
        >{{ getDateDescription(news.date) }}</p>
        <a
          class="title"
          href="{{ newsLink(news).link }}"
          title="{{ newsLink(news).title }}"
          [ngStyle]="{
            color: styleConfig.css('primaryColor')
          }"
        >{{ news.title }}</a>
        <p
          class="subtitle"
          *ngIf="news.subtitle !== undefined"
          [ngStyle]="{
            color: styleConfig.css('textColor')
          }"
        >{{ news.subtitle }}</p>
        <p
          class="shortDescription"
          *ngIf="news.shortDescription !== undefined"
          [ngStyle]="{
            color: styleConfig.css('secondaryTextColor')
          }"
        >{{ news.shortDescription }}</p>
      </div>
    </div>
  </div>
  <a
    id="view-all-news"
    href="{{ allNewsLink.link }}"
    title="{{ allNewsLink.title }}"
    *ngIf="FetchState.isSuccess(fetchedNews) && FetchState.getContent(fetchedNews).hasMore"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Alle Nachrichten</a>
</app-text-section>
