@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(center, center)
  width: 100vw

#text-section
  @include flex-column(center, center)
  width: 85%
  margin: 3em 0
  padding-top: 3em
  border-top: solid 0.075em

  #title
    @include font-montserrat
    @include font-size('header')
    @include font-weight('medium')
    text-align: center
    margin-bottom: 1em

  ::ng-deep .text
    @include font-montserrat
    @include font-size('medium')
    @include font-weight('normal')

    &.center
      text-align: center

    &.small
      @include font-size('small')

    &.large
      @include font-size('large')
      padding-bottom: 2em

    &.margin-top-small
      margin-top: 0.5em

    &.margin-top-normal
      margin-top: 1em

    &.margin-top-large
      margin-top: 2em

    &:is(a)
      text-decoration: none
      cursor: pointer
