<app-text-section
  [title]="'Kontakt zum SV Kleinsendelbach'"
>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Bitte nehmen Sie Kontakt mit uns auf.</p>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Wir werden Ihnen gerne antworten.</p>
</app-text-section>

<app-text-section>
  <app-input-form
    [inputForm]="inputForm"
    [submitButtonText]="'Abschicken'"
    (submitButtonClicked)="onSubmit()"
  ></app-input-form>
</app-text-section>
