<app-text-section
  [title]="'Kontakt zum SV Kleinsendelbach'"
>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Bitte nehmen Sie Kontakt mit uns auf.</p>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Wir werden Ihnen gerne antworten.</p>
</app-text-section>

<app-text-section>
  <app-input-form
    [inputFields]="inputFields"
    [submitButtonText]="'Abschicken'"
    (submitButtonClicked)="onSubmit()"
  >
    <app-input-field
      [field]="inputFields.field('name')"
      [id]="'name'"
      [label]="'Ihr Name:'"
      [type]="FieldType.inputText('Ihr Name')"
    ></app-input-field>
    <app-input-field
      [field]="inputFields.field('email')"
      [id]="'email'"
      [label]="'Ihre E-Mail Adresse:'"
      [type]="FieldType.inputText('Ihre E-Mail Adresse')"
    ></app-input-field>
    <app-input-field
      [field]="inputFields.field('receiver')"
      [id]="'receiver'"
      [label]="'Anfrage an:'"
      [type]="FieldType.select(reveiverNames)"
    ></app-input-field>
    <app-input-field
      [field]="inputFields.field('message')"
      [id]="'message'"
      [label]="'Ihre Nachricht:'"
      [type]="FieldType.textarea('Ihre Nachricht')"
    ></app-input-field>
  </app-input-form>
</app-text-section>
