<app-text-section
  [title]="'Kontakt zum SV Kleinsendelbach'"
>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Bitte nehmen Sie Kontakt mit uns auf.</p>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Wir werden Ihnen gerne antworten.</p>
</app-text-section>

<app-text-section>
  <input-form
  [inputForm]="inputForm"
  [submitButtonText]="'Abschicken'"
  (submitButtonClicked)="onSubmit()"
  >
    <input-field-text
      [label]="'Ihr Name'"
      [inputField]="inputForm.field('name')"
    ></input-field-text>
    <input-field-text
      [label]="'Ihre E-Mail Adresse'"
      [inputField]="inputForm.field('email')"
    ></input-field-text>
    <input-field-select
      [label]="'Anfrage an'"
      [selectOptions]="receiverSelectOptions"
      [inputField]="inputForm.field('receiver')"
    ></input-field-select>
    <input-field-textarea
      [label]="'Ihre Nachricht'"
      [inputField]="inputForm.field('message')"
    ></input-field-textarea>
  </input-form>
</app-text-section>
