@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%

.form
  @include flex-column(flex-start, center)
  padding-bottom: 100px
  width: 50%

  .input
    @include flex-column(flex-start, center)
    width: 100%
    padding-bottom: 16px

    .label
      font:
        family: 'Montserrat', sans-serif
        size: 24px
        weight: 400
      padding:
        left: 8px
        bottom: 8px
      color: #24252A

    .error-msg
      font:
        family: 'Montserrat', sans-serif
        size: 24px
        weight: 400
      padding:
        left: 8px
        top: 8px
        bottom: 16px
      color: #CF1D16

    input
      font:
        family: 'Montserrat', sans-serif
        size: 24px
        weight: 400
      text-align: center
      width: 100%
      height: 40px
      line-height: 40px
      border: 1px solid #24252A
      border-radius: 5px
      color: #24252A
      background-color: #F8F9FA

      &.ng-touched.ng-invalid
        border: 2px solid #CF1D16

    select
      font:
        family: 'Montserrat', sans-serif
        size: 20px
        weight: 400
      width: 100%
      height: 40px
      line-height: 40px
      border: 1px solid #24252A
      border-radius: 5px
      color: #24252A
      background-color: #F8F9FA

      &.ng-touched.ng-invalid
        border: 2px solid #CF1D16

    textarea
      font:
        family: 'Montserrat', sans-serif
        size: 24px
        weight: 400
      resize: none
      text-align: center
      width: 100%
      height: 160px
      border: 1px solid #24252A
      border-radius: 5px
      color: #24252A
      background-color: #F8F9FA

      &.ng-touched.ng-invalid
        border: 2px solid #CF1D16

  .submit
    font:
      family: 'Montserrat', sans-serif
      size: 24px
      weight: 400
    cursor: pointer
    text-align: center
    width: 100%
    height: 40px
    line-height: 24px
    border: 1px solid #24252A
    border-radius: 5px
    color: #24252A
    background-color: #F8F9FA

    &.success
      border: 2px solid #7bc043

    &.failure, &.inputError, &.recaptchFailed
      border: 2px solid #CF1D16

  .status-container
    @include flex-column(flex-start, center)
    width: 100%

    .status
      width: 100%
      font:
        family: 'Montserrat', sans-serif
        size: 24px
        weight: 400
      padding:
        left: 8px
        top: 8px

      &.success
        color: #7bc043
      &.failure, &.inputError, &.recaptchFailed
        color: #CF1D16

  &.evaluated .input
    input.ng-invalid, textarea.ng-invalid, select.ng-invalid
      border: 2px solid #CF1D16

  &.mobile
    width: 100%

@media screen and (prefers-color-scheme: dark)
  .form
    .input
      .label
        color: #C8D6E5

      input, select, textarea
        border: 1px solid #868E90
        color: #868E90
        background-color: #24252A

    .submit
      border: 1px solid #2F3D41
      color: #868E90
      background-color: #24252A
