<text-section
  [title]="'Kontakt zum SV Kleinsendelbach'"
>
    <p
        class="text"
    >Bitte nehmen Sie Kontakt mit uns auf.</p>
    <p
        class="text"
    >Wir werden Ihnen gerne antworten.</p>
    <p
        class="text secondaryColor margin-top-large"
    >Für Kritik und Vorschläge, benutzen Sie bitte dieses Formular:</p>
    <a
        class="text"
        [href]="criticismSuggestionPageLink.link"
        [title]="criticismSuggestionPageLink.title"
        [target]="criticismSuggestionPageLink.target"
    >Kritik und Vorschläge</a>
</text-section>

<text-section>
    <input-form
        [inputForm]="inputForm"
        [submitButtonText]="'Abschicken'"
        (submitButtonClicked)="onSubmit()"
    >
        <input-field-text
            [label]="'Ihr Name'"
            [inputField]="inputForm.field('name')"
        />
        <input-field-inline-select
            [label]="'Antwortoption'"
            [selectOptions]="answerOptionSelectOptions"
            [inputField]="inputForm.field('answerOption')"
        />
        <input-field-text
            *ngIf="inputForm.field('answerOption').value === 'email'"
            [label]="'Ihre E-Mail Adresse'"
            [inputField]="inputForm.field('email')"
        />
        <input-field-text
            *ngIf="inputForm.field('answerOption').value === 'whats-app-sms'"
            [label]="'Ihre Mobilfunknummer'"
            [inputField]="inputForm.field('phoneNumber')"
        />
        <p
            *ngIf="inputForm.field('answerOption').value === 'discord'"
            class="text secondaryColor left-align margin-top-normal"
        >Trete dem SV Kleinselbach Discord bei: <a
            class="text"
            href="https://discord.gg/gpJMrajz7q"
            target="_blank"
            title="Discord beitreten"
        >Jetzt beitreten</a></p>
        <p
            *ngIf="inputForm.field('answerOption').value === 'discord'"
            class="text secondaryColor left-align margin-bottom-small"
        >Gebe in einen Text-Channel (z.B. 'allgemein') den Befehl '/benutzer' ein und kopiere deine Nutzer-ID.</p>
        <input-field-text
            *ngIf="inputForm.field('answerOption').value === 'discord'"
            [label]="'Ihre Discord Nutzer-ID'"
            [inputField]="inputForm.field('discordUserId')"
        />
        <input-field-select
            [label]="'Anfrage an'"
            [selectOptions]="receiverSelectOptions"
            [inputField]="inputForm.field('receiver')"
        />
        <input-field-textarea
            [label]="'Ihre Nachricht'"
            [inputField]="inputForm.field('message')"
        />
    </input-form>
</text-section>
