@import '/src/sass/flex'
@import '/src/sass/text'

#message
  width: 100%
  margin-top: 100px
  @include font-montserrat
  @include font-size('medium')
  @include font-weight('normal')

  ::ng-deep a
    text-decoration: none
