<div
  id="link-rows"
>
  <div
    class="link-row"
    *ngFor="let linkRow of links; trackBy: TrackBy.identity"
  >
    <a
      *ngFor="let linkItem of linkRow; trackBy: TrackBy.property('name')"
      [link]="linkItem.link"
      [title]="linkItem.name"
      class="link-item"
    >
      <fa-icon
        [class]="['icon', linkItem.animation]"
        [icon]="linkItem.icon"
       />
      <p
        class="title"
      >{{ linkItem.name }}</p>
      <p
        class="description"
      >{{ linkItem.description }}</p>
    </a>
  </div>
</div>
