<app-text-section
  [title]="'Kommende Termine'"
>
  <p
    *ngIf="fetchedEventGroups.isLoading()"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Termine werden geladen</p>
  <p
    *ngIf="fetchedEventGroups.isFailure()"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Termine konnten nicht geladen werden</p>
  <p
    *ngIf="fetchedEventGroups.isSuccess() && fetchedEventGroups.content.length === 0"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Keine Termine</p>
  <div
    id="event-groups"
    *ngFor="let eventGroup of fetchedEventGroups.content"
    [ngClass]="deviceType.className"
  >
    <p
      class="event-group"
      [ngStyle]="{
        color: styleConfig.css('textColor')
      }"
    >{{ eventGroupTitle[eventGroup.groupId] }}</p>
    <div
      class="event"
      *ngFor="let event of eventGroup.events"
      [ngStyle]="{
        borderColor: styleConfig.css('textColor')
      }"
    >
      <p
        class="date"
        [ngStyle]="{
          color: styleConfig.css('secondaryTextColor')
        }"
      >{{ Datum.fromIsoDate(event.date).description }}</p>
      <p
        class="title"
        [ngStyle]="{
          color: styleConfig.css('textColor')
        }"
      >{{ event.title }}</p>
      <p
        class="subtitle"
        [ngStyle]="{
          color: styleConfig.css('secondaryTextColor')
        }"
      >{{ event.subtitle ?? '' }}</p>
      <a
        class="link"
        *ngIf="event.link !== undefined"
        href="{{ event.link }}"
        target="_blank"
        title="{{ event.title }}"
        [ngStyle]="{
          color: styleConfig.css('primaryColor')
        }"
      >Weitere Informationen</a>
      <p
        class="link"
        *ngIf="event.link === undefined"
      ></p>
    </div>
  </div>
  <p
    *ngIf="fetchedEventGroups.isSuccess() && fetchedEventGroups.content.length !== 0"
    id="download-calendar"
    (click)="downloadCalendar()"
    [ngStyle]="{
      color: styleConfig.css('textColor'),
      borderColor: styleConfig.css('textColor')
    }"
  >ics-Kalender herunterladen</p>
</app-text-section>
