<navigation-bar
    [navigationBarData]="navigationBarData"
/>
<text-section
    *ngIf="!newsletterResult || newsletterResult.isFailure() || !newsletterResult.value"
    title="Newsletter"
>
    <result-display
        [result]="newsletterResult"
    />
    <p
        *ngIf="newsletterResult && newsletterResult.isSuccess() && !newsletterResult.value"
        class="text align-center color-primary"
    >Newsletter wurde nicht gefunden</p>
</text-section>
<text-section
    *ngIf="newsletterResult && newsletterResult.isSuccess() && newsletterResult.value"
    [title]="this.title(newsletterResult.value)"
>
    <newsletter
        class="newsletter"
        [newsletterData]="newsletterData(newsletterResult.value)"
        scaling="website"
    />
</text-section>

