<text-section
    [title]="this.title"
>
    <p
        *ngIf="!fetchedNewsletter"
        class="text center large primaryColor"
    >Newsletter wird geladen</p>
    <p
        *ngIf="fetchedNewsletter && fetchedNewsletter.isFailure()"
        class="text center large primaryColor"
    >Newsletter konnten nicht geladen werden</p>
    <p
        *ngIf="fetchedNewsletter && fetchedNewsletter.isFailure() && fetchedNewsletter.error === 'no-id'"
        class="text center large primaryColor"
    >Newsletter id wurde nicht übergeben</p>
    <p
        *ngIf="fetchedNewsletter && fetchedNewsletter.isFailure() && fetchedNewsletter.error === 'not-found'"
        class="text center large primaryColor"
    >Newsletter konnten nicht gefunden werden</p>
    <app-newsletter
        *ngIf="fetchedNewsletter && fetchedNewsletter.isSuccess()"
        [newsletter]="fetchedNewsletter.value"
        scaling="website"
        id="newsletter"
    />
</text-section>
