<div
    id="text-section"
>
    <div
        id="title-container"
    >
        <fa-icon
            id="collapse-button"
            *ngIf="collapsed !== null"
            [icon]="collapsed ? 'chevron-up' : 'chevron-down'"
            (click)="toggleCollapsed()"
        />
        <p
            [id]="titleId"
            class="title collapsable"
            *ngIf="title !== null && collapsed !== null"
            role="none"
            (click)="toggleCollapsed()"
        >{{ title }}</p>
        <p
            [id]="titleId"
            class="title"
            *ngIf="title !== null && collapsed === null"
        >{{ title }}</p>
    </div>
    <ng-content
        *ngIf="!collapsed"
    ></ng-content>
</div>
