@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  margin: 10px

  &.desktop
    width: calc(14% - 20px)

  &.tablet
    width: calc(20% - 20px)

  &.mobile
    width: calc(100% - 20px)

.image
  height: 175px
  padding-bottom: 15px

.name
  font-family: 'Montserrat', sans-serif
  color: #CF1D16
  font:
    size: 18px
    weight: 400
  text-align: center
  padding-bottom: 0

.additionalText
  font-family: 'Montserrat', sans-serif
  color: #868E90
  font:
    size: 18px
    weight: 400
  text-align: center
  padding-bottom: 0
  padding-top: 10px
