<span class="text-section">
  <h1 class="no-bottom-space">C-Jugend der SG Kleinsendelbach / Hetzles / Dormitz / Neunkirchen / Kalchreuth</h1>
</span>
<app-component-events [eventGroupIds]="eventGroupIds">
</app-component-events>
<app-component-results [results]="results">
</app-component-results>
<app-component-contact [pageId]="'football-youth/c-youth'">
</app-component-contact>
<app-component-training-time [pageId]="'football-youth/c-youth'">
</app-component-training-time>
<span class="text-section">
  <h1>Kader</h1>
  <img class="image" src="assets/c_jugend_2018.jpg" title="C-Jugend">
</span>
