<app-text-section
  [title]="'C-Jugend der SG Kleinsendelbach / Hetzles / Dormitz / Neunkirchen / Kalchreuth'"
>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
</app-text-section>

<app-events
  [groupIds]="eventGroupIds"
  [eventGroupDescription]="eventGroupDescription"
></app-events>

<app-text-section
  [title]="'Ergebnisse und Tabellen'"
>
  <p
    class="text large"
    [ngStyle]="{
      color: styleConfig.css('textColor')
    }"
  >Ergebnisse der 1. Mannschaft</p>
  <app-bfv-widget
    [teamId]="teamId1"
  ></app-bfv-widget>
  <p
    class="text large margin-top-large"
    [ngStyle]="{
      color: styleConfig.css('textColor')
    }"
  >Ergebnisse der 2. Mannschaft</p>
  <app-bfv-widget
    [teamId]="teamId2"
  ></app-bfv-widget>
</app-text-section>

<app-contact-info
  [contactData]="contactData"
></app-contact-info>

<app-text-section
  [title]="'Trainingszeiten'"
>
  <p
    class="text margin-bottom-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Das Training findet jeden Dienstag und Donnerstag von 17:00Uhr - 18:30Uhr am B-Platz an der Sendelmühlstraße statt.</p>
  <app-maps
    [options]="mapOptions"
    [markers]="mapMarkers"
  ></app-maps>
</app-text-section>

<app-text-section
  [title]="'Kader'"
>
  <img
    class="text-image"
    src="assets/images/c-jugend.jpg"
    title="C-Jugend"
    [ngStyle]="{
      borderColor: styleConfig.css('textColor')
    }"
  >
</app-text-section>
