<text-section
    title="Abteilung Herrenfußball"
>
    <p
        class="text left-align secondaryColor"
    >Die <a
        link="fussball/herren/erste-mannschaft"
        class="text"
    >1. Mannschaft</a> spielt als Spielgemeinschaft SG Kleinsendelbach / Hetzles in der Kreisklasse Kreis Erlangen / Pegnitzgrund Gruppe 3.</p>
    <p
        class="text left-align secondaryColor"
    >Hier geht es zur <a
        class="text"
        href="http://sg-kh.de/sgkh-1-herren/"
        target="_blank"
        title="1. Mannschaft"
    >Homepage</a> der 1. Mannschaft SG Kleinsendelbach / Hetzles.</p>
    <p
        class="text left-align margin-top-large secondaryColor"
    >Die <a
        link="fussball/herren/zweite-mannschaft"
        class="text"
    >2. Mannschaft</a> spielt als Spielgemeinschaft SG Kleinsendelbach / Hetzles 2 in der B-Klasse Kreis Erlangen / Pegnitzgrund Gruppe 3.</p>
    <p
        class="text left-align secondaryColor"
    >Hier geht es zur <a
        class="text"
        href="http://sg-kh.de/sgkh-2-herren/"
        target="_blank"
        title="2. Mannschaft"
    >Homepage</a> der 2. Mannschaft SG Kleinsendelbach / Hetzles.</p>
</text-section>

<links
    [links]="links"
 />

<events
    [groupIds]="eventGroupIds"
 />

<reports
    [isGameReport]="false"
    [groupId]="reportGroupId"
    [maxListCount]="5"
 />

<contact
    [contactData]="contactData"
 />

<text-section>
    <img
        class="text-image"
        src="assets/images/mannschaft.png"
        title="Herrenabteilung"
        alt="Herrenabteilung"
    >
    <p
        class="text margin-top-large secondaryColor"
    >Viel Spaß beim Sport wünscht</p>
    <p
        class="text primaryColor"
    >die Herrenabteilung</p>
</text-section>
