@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%
  margin-top: 75px

.team-image
  width: 100%
  border: #485460 solid 1px

@media screen and (prefers-color-scheme: dark)
  .team-image
    border: #24252A solid 1px
