<span class="text-section">
  <h1>Tanzgruppe „Tanzmäuse“</h1>
  <p class="medium center big-top-space red">Aktuell kann leider kein Tanzen beim SV Kleinsendelbach angeboten werden.</p>
  <!-- p class="block">Unsere Kindertanzgruppen "Tanzmäuse" vermitteln Kindern Spaß an der Bewegung. Als sportlicher Aspekt wird dabei eine Verbesserung der Kondition und Koordination angestrebt. Doch auch im Alltag verbessern Kinder, die regelmäßig Sport betreiben, ihre Leistungen - durch mehr Selbstbewusstsein, bessere Disziplin und Aufnahmefähigkeit, was wiederum zu besseren Noten führt.</p>
  <p class="block">Unsere "Tanzmäuse" üben im Kellerraum des Schulhauses in Kleinsendelbach am Mittwoch (außer in den Ferien) zu folgenden Zeiten:</p>
  <span class="container" [ngClass]="deviceType.stringValue">
    <span class="group-container">
      <p class="name">Minis</p>
      <p class="age">Kindergartenkinder</p>
      <p class="time">Mi. 16:05 bis 16:50Uhr</p>
    </span>
    <span class="group-container">
      <p class="name">Kids</p>
      <p class="age">1. und 2. Klasse</p>
      <p class="time">Mi. 16:50 bis 17:50Uhr</p>
    </span>
    <span class="group-container">
      <p class="name">Juniors</p>
      <p class="age">4. bis 6. Klasse</p>
      <p class="time">Mi. 17:50 bis 18:50Uhr</p>
    </span>
  </span>
  <p class="block">Außerdem finden in manchen Ferien noch mehrtägige Workshops statt.</p>
  <p class="block">Details zum Angebot und zur Möglichkeit von Schnupperstunden erfahren Sie bei Nina Slany unter <a href="tel:01733892263" title="Nina Slany (Mobil)" class="inline">0173 / 3892263</a>.</p -->
</span>
