<app-authentication-check
  [authenticationTypes]="['editEvents']"
  [logInPageLink]="logInPageLink"
>
  <div
    id="back-btn-container"
  >
    <a
      id="back-button"
      title="Zurück"
      href="{{ editNewsLink.link }}"
      [ngStyle]="{
        color: styleConfig.css('textColor'),
        backgroundColor: styleConfig.css('backgroundColor')
      }"
    >Zurück</a>
  </div>
  <text-section
    [title]="previousNews === undefined ? 'Nachricht hinzufügen' : 'Nachricht bearbeiten'"
  >
    <input-form
      [inputForm]="inputForm"
      [submitButtonText]="previousNews === undefined ? 'Hinzufügen' : 'Speichern'"
      (submitButtonClicked)="saveNews()"
    >
      <input-field-text
        [label]="'Titel'"
        [inputField]="inputForm.field('title')"
      ></input-field-text>
      <input-field-text
        [label]="'Untertitel'"
        [placeholder]="'Untertitel (optional)'"
        [inputField]="inputForm.field('subtitle')"
      ></input-field-text>
      <p
      id="input-field-label"
        [ngStyle]="{
          color: styleConfig.css('textColor')
        }"
      >Thumbnail:</p>
      <img
        *ngIf="thumbnailUrl !== undefined"
        src="{{ thumbnailUrl }}"
        title="Thumbnail"
        id="thumbnail"
        [ngStyle]="{
          borderColor: styleConfig.css('textColor')
        }"
      >
      <input
        type="file"
        accept="image/*"
        (change)="$event.preventDefault(); $event.stopPropagation(); uploadThumbnail($event)"
        id="image-selector"
        #imageSelector
      >
      <div
        id="custom-image-selector"
        (click)="$event.preventDefault(); $event.stopPropagation(); imageSelector.click()"
        [ngStyle]="{
          color: styleConfig.css('textColor'),
          backgroundColor: styleConfig.css('backgroundColor'),
          borderColor: styleConfig.css(inputForm.status === 'invalidInput' && thumbnailUrl === undefined ? 'formErrorStatusColor' : 'textColor')
        }"
      >{{ thumbnailUrl === undefined ? 'Bild auswählen' : 'Neues Bild auswählen' }}</div>
      <p
        *ngIf="inputForm.status === 'invalidInput' && thumbnailUrl === undefined"
        id="error-message"
        [ngStyle]="{
          color: styleConfig.css('formErrorStatusColor')
        }"
      >Kein Bild ausgewählt</p>
      <div id="spacer"></div>
      <input-field-textarea
        [label]="'Kurzbeschreibung'"
        [placeholder]="'Kurzbeschreibung (optional)'"
        [inputField]="inputForm.field('shortDescription')"
      ></input-field-textarea>
      <input-field-text-editor
        [label]="'Nachricht'"
        [inputField]="inputForm.field('message')"
        [uploadFile]="uploadFile"
      ></input-field-text-editor>
    </input-form>
  </text-section>
</app-authentication-check>
