<span class="text-section">
  <h1 *ngIf="editType === 'update'">Nachricht bearbeiten</h1>
  <h1 *ngIf="editType === 'add'">Nachricht hinzufügen</h1>
  <p *ngIf="!authService.loggedIn" class="large center red top-space">Anmeldedaten werden überprüft.</p>
</span>
<app-input-form *ngIf="authService.loggedIn"[inputFields]="inputFields" class="form" [ngClass]="deviceType.stringValue">
  <p class="label ignore-text-style">Titel:</p>
  <input type="text" placeholder="Titel" formId="title" [ngClass]="{ touched: inputFields.field('title').touchedInvalid}">
  <p *ngIf="inputFields.field('title').errorFirstIfTouchedOf('required') === 'invalid'" class="error-msg ignore-text-style">Der Titel ist erforderlich.</p>
  <p class="label ignore-text-style">Untertitel:</p>
  <input type="text" placeholder="Untertitel (optional)" formId="subtitle" [ngClass]="{ touched: inputFields.field('subtitle').touchedInvalid}">
  <p class="label ignore-text-style">Kurzbeschreibung:</p>
  <textarea type="text" placeholder="Kurzbeschreibung (optional)" formId="shortDescription" [ngClass]="{ touched: inputFields.field('shortDescription').touchedInvalid}"></textarea>
  <span class="disabled-container">
    <p class="label ignore-text-style">Deaktiviert:</p>
    <app-toggle-switch class="switch" [(checked)]="disabledChecked"></app-toggle-switch>
  </span>
  <p class="label ignore-text-style">Nachricht:</p>
  <app-markdown-editor class="markdown-editor" [(markdownText)]="markdownText"></app-markdown-editor>
  <p *ngIf="inputFields.status === 'messageRequired'" class="error-msg ignore-text-style">Die Nachricht ist erforderlich.</p>
  <div (click)="handleAddEditNews(); $event.stopPropagation()" class="submit-btn" [ngClass]="{ evaluatedInvalid: inputFields.status !== 'valid' }">{{ editType === 'update' ? 'Speichern' : 'Hinzufügen' }}</div>
  <p *ngIf="inputFields.status === 'invalidInput' || inputFields.status === 'messageRequired'" class="error-msg ignore-text-style">Nicht alle Eingaben sind gültig.</p>
  <p *ngIf="inputFields.status === 'loading'" class="loading-msg ignore-text-style">Nachricht wird {{ editType === 'update' ? 'gespeichert' : 'hinzugefügt' }}.</p>
  <p *ngIf="WebsiteEditingErrorCode.isLoginErrorCode(inputFields.status)" class="error-msg ignore-text-style">{{ WebsiteEditingErrorCode.errorMessage(inputFields.status) }}</p>
</app-input-form>
