@import '/src/sass/flex'
@import '/src/sass/text'

:host
  width: 100%

#cookie-container
  @include flex-column(flex-start, center)
  width: 100%
  padding: 5em 0
  border: solid 0.1em

  #text1
    @include font-montserrat
    @include font-size('medium')
    @include font-weight('small')
    margin-bottom: 2em
    text-align: center

  #button
    @include font-montserrat
    @include font-size('medium')
    @include font-weight('small')
    text-align: center
    cursor: pointer

#maps-container
  width: 100%
  border: solid 0.1em
