<div
  *ngIf="!functionalityCookiesSelected"
  id="cookie-container"
  [ngStyle]="{
    borderColor: styleConfig.css('textColor'),
    backgroundColor: styleConfig.css('backgroundColor')
  }"
>
  <p
    id="text1"
    [ngStyle]="{
      color: styleConfig.css('textColor')
    }"
  >Google Maps konnte nicht geladen werden, da Sie nicht den erforderlichen Cookies zugestimmt haben.</p>
  <p
    id="button"
    (click)="acceptFunctionalityCookies()"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Funktionelle Cookies Jetzt Akzeptieren</p>
</div>
<p
*ngIf="!apiLoaded && functionalityCookiesSelected"
  class="text center large"
  [ngStyle]="{
    color: styleConfig.css('primaryColor')
  }"
>Google Maps wird geladen</p>
<div
  id="maps-container"
  *ngIf="apiLoaded && functionalityCookiesSelected"
>
  <google-map
    [options]="mapOptions"
    [width]="'100%'"
    [height]="'65vh'"
    [ngStyle]="{
      borderColor: styleConfig.css('textColor')
    }"
  >
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker"
    ></map-marker>
  </google-map>
</div>
