<label
    [text]="label"
></label>
<div
    id="container"
>
    <input
        #input
        id="input"
        [ngClass]="{ error: inputField.error }"
        type="text"
        [placeholder]="label"
        (blur)="onBlur()"
    >
    <div
        id="stepper"
    >
        <fa-icon
            id="increase-button"
            icon="minus"
            (click)="onStepperChange('decrease')"
        />
        <fa-icon
            id="decrease-button"
            icon="plus"
            (click)="onStepperChange('increase')"
        />
    </div>
</div>
<error-message
    [error]="inputField.error"
 />
