@import '/src/sass/flex'
@import 'src/sass/font'

:host
  @include flex-column(center, flex-start)

.header-item
  @include flex-column(center, flex-start)
  margin: 0 10px
  position: relative
  width: 100%

  .top-item
    @include flex-row(center, center)
    height: 75px
    cursor: pointer
    text-decoration: none
    width: 100%
    padding: 0 5px

    .text
      font-family: 'MetropolisExtraLight', Helvetica Neue, Helvetica, sans-serif
      color: #ffffff
      font-size: 18px
      line-height: 75px

    .drop-down-arrow
      margin-left: 5px
      color: #ffffff

    &:hover
      .text, .drop-down-arrow
        color: #7793F1

  .sub-items
    @include flex-column(center, flex-start)
    position: absolute
    top: 75px
    z-index: 3
    width: max-content
    display: none

    .sub-item-container
      @include flex-row(center, center)
      width: 100%
      padding: 7.5px 20px
      background-color: #ffffff
      cursor: pointer

      .sub-item
        font-family: 'MetropolisExtraLight', Helvetica Neue, Helvetica, sans-serif
        color: #000000
        text-decoration: none
        font-size: 18px

      &:nth-last-child(1)
        padding-bottom: 10px
        border-radius: 0 0 10px 10px

      &:hover
        background-color: #f0f0f0

        .sub-item
          color: #1f3a95

  &.expanded .sub-items
    display: flex
    z-index: 4

  &.intransparent
    .top-item
      .text, .drop-down-arrow
        color: #000000

      &:hover
        background-color: #f0f0f0

        .text, .drop-down-arrow
          color: #1f3a95
