<app-text-section
  [title]="'Abteilung Herrenfußball'"
>
  <p
    class="text block"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Liebe Besucher, Mitglieder, Kinder und Eltern,</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >im Namen der Fußballjugend des SV Kleinsendelbach e.V. heiße ich Sie auf unserer Internetseite herzlich willkommen!</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Die Nachwuchsarbeit nimmt schon seit Jahren einen hohen Stellenwert bei unserem Verein ein und besitzt einen guten Ruf in und außerhalb der Gemeinde. Im Kleinfeldbereich, bis 11 Jahre, können wir alle drei Altersklassen besetzen.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Im Großfeldbereich, U13, U15, U17 und U19, haben wir uns in einer Spielgemeinschaft zusammengeschlossen. Mit den Nachbarvereinen FC Dormitz, SV Hetzles, TSV Neunkirchen und FC Kalchreuth haben wir starke Partner gefunden, die wunderbar zusammen harmonieren. Durch diesen Zusammenschluss konnten Lücken in den einzelnen Altersklassen geschlossen und mit den ersten Mannschaften ein gewisses Liga-Niveau erreicht werden. Dadurch müssen talentierte Spieler nicht zwangsläufig zu größeren Vereinen wechseln und können somit ihre Fahrten zum Training kurz halten.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Die Jugend liegt uns sehr am Herzen und deshalb möchten wir unsere Jugendarbeit erhalten, verstärken und für die Zukunft ausbauen sowie Perspektiven bieten.</p>
</app-text-section>

<app-links
  [links]="links"
></app-links>

<app-events
  [groupIds]="eventGroupIds"
  [eventGroupTitle]="eventGroupTitle"
></app-events>

<app-contact-info
  [contactData]="contactData"
></app-contact-info>

<app-text-section>

  <div
    class="text-images-2"
    [ngClass]="deviceType.className"
  >
    <img
      class="text-image"
      src="assets/images/jugend.jpg"
      title="Großfeldjugend"
      [ngStyle]="{
        borderColor: styleConfig.css('textColor')
      }"
    >
    <img
      class="text-image"
      src="assets/images/kleinfeldmannschaften.jpg"
      title="Kleinfeldjugend"
      [ngStyle]="{
        borderColor: styleConfig.css('textColor')
      }"
    >
  </div>
  <p
    class="text margin-top-large"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Viel Spaß beim Sport wünscht</p>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >die Jugendabteilung</p>

</app-text-section>
