<span class="text-section">
  <h1>Abteilung Jugendfußball</h1>
  <p>Liebe Besucher, Mitglieder, Kinder und Eltern,</p>
  <p>im Namen der Fußballjugend des SV Kleinsendelbach e.V. heiße ich Sie auf unserer Internetseite herzlich willkommen!</p>
  <p>Die Nachwuchsarbeit nimmt schon seit Jahren einen hohen Stellenwert bei unserem Verein ein und besitzt einen guten Ruf in und außerhalb der Gemeinde. Im Kleinfeldbereich, bis 11 Jahre, können wir alle drei Altersklassen besetzen.</p>
  <p>Im Großfeldbereich, U13, U15, U17 und U19, haben wir uns in einer Spielgemeinschaft zusammengeschlossen. Mit den Nachbarvereinen FC Dormitz, SV Hetzles, TSV Neunkirchen und FC Kalchreuth haben wir starke Partner gefunden, die wunderbar zusammen harmonieren. Durch diesen Zusammenschluss konnten Lücken in den einzelnen Altersklassen geschlossen und mit den ersten Mannschaften ein gewisses Liga-Niveau erreicht werden. Dadurch müssen talentierte Spieler nicht zwangsläufig zu größeren Vereinen wechseln und können somit ihre Fahrten zum Training kurz halten.</p>
  <p>Die Jugend liegt uns sehr am Herzen und deshalb möchten wir unsere Jugendarbeit erhalten, verstärken und für die Zukunft ausbauen sowie Perspektiven bieten.</p>
</span>
<!-- TODO: links to c- / e- / f- / g-jugend -->
<app-component-events [eventGroupIds]="eventGroupIds"></app-component-events>
<app-component-contact [pageId]="'football-youth/general'"></app-component-contact>
<span class="text-section">
  <span class="image-container">
    <img class="image" src="assets/Jugend_2018.jpg" title="Großfeldmannschaften">
    <img class="image" src="assets/Kleinfeldmannschaften_2018.jpg" title="Kleinfeldmannschaften">
  </span>
  <!-- img class="team-image" title="1. und 2. Mannschaft" src="assets/mannschaft.png" -->
  <p class="big-top-space medium center small-bottom-space">Viel Spaß beim Sport wünscht</p>
  <p class="red medium center">die Jugendabteilung</p>
</span>
