@import '../../../../../node_modules/kleinsendelbach-website-library/styles/index'

.navigation-button-container
    @include flex-row(center, flex-start)
    width: 100%
    margin-top: 25px

    .button
        width: 25%
        margin-right: 25px
