<app-editing-navigation-bar/>
<authentication-check
    [roles]="['admin']"
    [states]="authenticationStates"
    [id]="'admin'"
    (onAuthentication)="getUnauthenticatedUsers()"
>
    <text-section
        [title]="'Wartende Website Editors'"
        *ngIf="unauthenticatedUsers && unauthenticatedUsers.length !== 0"
    >
        <p
            class="text secondaryColor"
        >Folgende Personen haben beantragt, die Website zu bearbeiten. Bestätige oder lehne die Anfrage ab.</p>
        <div
            id="unauthenticated-user-container"
            [ngClass]="deviceType.current"
        >
            <div
                class="unauthenticated-user"
                *ngFor="let user of unauthenticatedUsers; trackBy: User.trackByHashedUserId"
            >
                <p
                    class="name textColor"
                >{{ user.firstName }} {{ user.lastName }}</p>
                <p
                    class="button primaryColor"
                    role="none"
                    (click)="handleAccessRequest('accept', user.hashedUserId)"
                >Bestätigen</p>
                <p
                    class="button primaryColor"
                    role="none"
                    (click)="handleAccessRequest('decline', user.hashedUserId)"
                >Ablehnen</p>
            </div>
        </div>
    </text-section>
    <text-section
        [title]="'Benutzer'"
    >
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                [href]="allInternalLinks['bearbeiten/benutzer-rollen'].link"
                [title]="allInternalLinks['bearbeiten/benutzer-rollen'].title"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Benutzer Rollen bearbeiten</p>
        </div>
    </text-section>
</authentication-check>

<authentication-check
    [roles]="['occupancyManager']"
    [states]="authenticationStates"
    [id]="'occupancyManager'"
>
    <text-section
        [title]="'Belegungsplan'"
    >
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                [href]="allInternalLinks['bearbeiten/belegungsplan'].link"
                [title]="allInternalLinks['bearbeiten/belegungsplan'].title"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Belegunsplan bearbeiten</p>
        </div>
    </text-section>
</authentication-check>

<authentication-check
    [roles]="['websiteManager']"
    [states]="authenticationStates"
    [id]="'websiteManager'"
>
    <text-section
        [title]="'Website bearbeiten'"
    >
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                [href]="allInternalLinks['bearbeiten/termine'].link"
                [title]="allInternalLinks['bearbeiten/termine'].title"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Kommende Termine bearbeiten</p>
        </div>
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                [href]="allInternalLinks['bearbeiten/berichte'].link"
                [title]="allInternalLinks['bearbeiten/berichte'].title"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Berichte bearbeiten</p>
        </div>
    </text-section>
</authentication-check>
