<app-editing-navigation-bar/>
<authentication-check
    [roles]="['admin']"
    [authenticationStates]="authenticationStates"
    id="admin"
    (onAuthentication)="getUnauthenticatedUsers()"
>
    <text-section
        title="Benutzer"
    >
        <p
            *ngIf="unauthenticatedUsers && unauthenticatedUsers.length !== 0"
            class="text secondaryColor"
        >Folgende Personen haben Zugriff beantragt. Bestätige oder lehne die Anfrage ab.</p>
        <div
            *ngIf="unauthenticatedUsers && unauthenticatedUsers.length !== 0"
            id="unauthenticated-user-container"
            [ngClass]="deviceType.current"
        >
            <div
                class="unauthenticated-user"
                *ngFor="let user of unauthenticatedUsers; trackBy: TrackBy.property('hashedUserId')"
            >
                <p
                    class="name textColor"
                >{{ user.firstName }} {{ user.lastName }}</p>
                <p
                    class="button primaryColor"
                    role="none"
                    (click)="handleAccessRequest('accept', user.hashedUserId)"
                >Bestätigen</p>
                <p
                    class="button primaryColor"
                    role="none"
                    (click)="handleAccessRequest('decline', user.hashedUserId)"
                >Ablehnen</p>
            </div>
        </div>
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                link="bearbeiten/benutzer-rollen"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Benutzer Rollen bearbeiten</p>
        </div>
    </text-section>
    <text-section
        title="Kritik und Vorschläge"
    >
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                link="bearbeiten/kritik-vorschläge"
                class="button"
            >Ansehen</a>
            <p
                class="title secondaryColor"
            >Kritik und Vorschläge ansehen</p>
        </div>
    </text-section>
</authentication-check>

<authentication-check
    [roles]="['occupancyManager']"
    [authenticationStates]="authenticationStates"
    id="occupancyManager"
>
    <text-section
        title="Belegungsplan"
    >
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                link="bearbeiten/belegungsplan"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Belegunsplan bearbeiten</p>
        </div>
    </text-section>
</authentication-check>

<authentication-check
    [roles]="['websiteManager']"
    [authenticationStates]="authenticationStates"
    id="websiteManager"
>
    <text-section
        title="Website bearbeiten"
    >
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                link="bearbeiten/termine"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Kommende Termine bearbeiten</p>
        </div>
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                link="bearbeiten/berichte"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Berichte bearbeiten</p>
        </div>
        <div
            class="edit-container"
            [ngClass]="deviceType.current"
        >
            <a
                link="bearbeiten/newsletter"
                class="button"
            >Bearbeiten</a>
            <p
                class="title secondaryColor"
            >Newsletter bearbeiten</p>
        </div>
    </text-section>
</authentication-check>
