@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

#unauthenticated-user-container
    @include flex-column(flex-start, center)
    margin-bottom: 50px
    margin-top: 25px
    width: 100%

    .unauthenticated-user
        @include flex-row(center, center)
        background-color: color('background')
        border:  1px solid
        border-bottom: 0
        border-color: color('text')
        width: 95%

        &:first-child
            border-radius: 5px 5px 0 0

        &:last-child
            border-bottom: 1px solid
            border-radius: 0 0 5px 5px

        &:first-child:last-child
            border-radius: 5px

        .name, .button
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('small')
            padding: 5px 10px
            text-align: center

        .name
            flex: 5

        .button
            cursor: pointer
            flex: 2

    &.mobile .unauthenticated-user
        @include flex-column(center, center)

.edit-container
    @include flex-row(center, flex-start)
    margin-bottom: 15px
    width: 100%

    .button
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        background-color: color('background')
        border: 1px solid
        border-color: color('text')
        border-radius: 5px
        color: color('primary')
        cursor: pointer
        padding: 5px 35px
        text-align: center
        text-decoration: none

        &:hover
            background-color: color('hoveredBackground')

    .title
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        margin-left: 25px

    &.mobile
        @include flex-column(center, center)
        margin-bottom: 25px

        .title
            margin-left: 0
            margin-top: 10px
