@import '/src/sass/flex'

:host
  @include flex-column(center, flex-start)
  width: 100vw

.links
  @include flex-column()
  width: 80%
  padding:
    top: 32px
    bottom: 64px

  .row
    @include flex-row(center, flex-start)
    width: 100%
    padding:
      right: 32px
      top: 32px
      left: 32px

    .item
      @include flex-column()
      flex: 1
      padding: 0 16px
      text-decoration: none
      height: 100%

      *
        text-align: center

      .icon
        color: #24252A
        font-size: 48px

      .title
        font-family: 'Montserrat', sans-serif
        transition: .3s
        color: #CF1D16
        font:
          size: 24px
          weight: 500
        padding:
          top: 16px
          bottom: 24px
        height: 26px

      .description
        font-family: 'Montserrat', sans-serif
        color: #868E90
        font:
          size: 16px
          weight: 400

      &:hover
        .title
          font-size: 26px
        .icon.jump
          animation: icon-jump 1s linear infinite
        .icon.shake
          animation: icon-shake 1s linear infinite
        .icon.football
          animation: football-rotation 3s linear infinite

@keyframes football-rotation
    0%
        transform: rotate(0)
    100%
        transform: rotate(360deg)

@keyframes icon-jump
    0%
        transform: translateY(0)
    65%
        transform: translateY(-10px)
    100%
        transform: translateY(0)

@keyframes icon-shake
    0%
        transform: rotate(0)
    25%
        transform: rotate(10deg)
    75%
        transform: rotate(-10deg)
    100%
        transform: rotate(0)
