<span class="links">
  <span *ngFor="let linkItemRow of linkItemsList"
    class="row">
    <a *ngFor="let linkItem of linkItemRow"
      href="{{ linkItem.linkUrl }}"
      title="{{ linkItem.name }}"
      class="item">
      <fa-icon [icon]="[linkItem.icon.prefix, linkItem.icon.name]"
        class="icon {{ linkItem.animation }}"></fa-icon>
      <div class="title">{{ linkItem.name }}</div>
      <div class="description">
        {{ linkItem.description }}
      </div>
    </a>
  </span>
</span>
