<text-section>
    <div
        id="links"
        [ngClass]="deviceType.current"
    >
        <a
            *ngFor="let link of links; trackBy: TrackBy.id"
            [href]="link.link.link"
            [target]="link.link.target"
            [title]="link.link.title"
            class="container"
        >
        <p
            class="title primaryColor"
        >{{ link.title }}</p>
        <p
            class="subtitle secondaryColor"
        >{{ link.subtitle }}</p>
        </a>
    </div>
</text-section>
