@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

#links
  @include flex-row(flex-start, center)
  flex-wrap: wrap

  .container
    @include flex-column(flex-start, center)
    padding: 16px
    margin: 0 8px
    border-radius: 8px
    text-decoration: none

    &:hover
        background-color: color('hoveredBackground')

    .title, .subtitle
      @include font-montserrat
      text-align: center

    .title
      @include font-size('large')
      @include font-weight('normal')
      margin-bottom: 8px

    .subtitle
      @include font-size('medium')
      @include font-weight('small')

  &.desktop .container
    width: calc(20% - 48px)

  &.tablet .container
    width: calc(25% - 48px)

  &.mobile .container
    width: calc(100% - 48px)

@media screen and (prefers-color-scheme: dark)
    #links .container:hover
        background-color: color('hoveredBackground')
