<span class="text-section">
  <h1>Gymnastikangebot beim SV Kleinsendelbach e.V.</h1>
  <p class="medium center big-top-space red">Aktuell kann leider kein Gymnastik beim SV Kleinsendelbach angeboten werden.</p>
  <!-- p class="medium block ">Die Gymnastikabteilung freut sich Kurse für Step-Aerobic und Wirbelsäulengymnastik anbieten zu können. Hier finden Sie unsere Angebote aus dem Gymnastik-Bereich, sowie Informationen zum sportlichen Konzept der Gymnastik-Abteilung.</p>
  <p class="medium block">Die Kurse finden immer donnerstags in der Kleinsendelbacher Mehrzweckhalle statt.</p>
  <img class="image" src="assets/images/gymnastik.png.jpeg" title="Gymnastik">
</span>
<span class="text-section">
  <h1>Step-Aerobic</h1>
  <p class="block">mit BBP-Bodenübungen (Bauch-Beine-Po). Durch dynamischen Bewegungsabläufen auf einer Stufe (= Step), werden dieGelenke geschont und gleichzeitig das Herz-Kreislaufsystem, Ausdauer und Muskelkraft sowie die Koordination trainiert. Die Bodenübungen ergänzen das Training und sprechen gezielt die Problemzonen an. So schmelzen ganz nebenbei auch überflüssige Pölsterchen dahin.</p>
  <p class="red center">Do. 18:30 bis 19:30Uhr</p>
</span>
<span class="text-section">
  <h1>Neu</h1>
  <p class="block">Sie wollen in einen oder beide Kurse einfach mal für einige Stunden hineinschnuppern, ohne gleich Vereinsmitglied zu werden? Dafür bieten wir ab sofort die neue Zehnerkarte an. Sie gilt für 10 x 60 Minuten und kann für einen oder auch für die beiden Kurse direkt hintereinander verwendet werden. Sie kostet 29 Euro.</p>
  <p class="block">Außerdem können Sie bei Interesse gerne auf eine kostenlose Schnupperstunde vorbeikommen und mitmachen. Falls Sie noch Fragen zum Kursangebot haben kontaktieren Sie uns unter <a href="mailto:gymnastik@sv-kleinsendelbach.de" title="Email an Gymnastikabteilung" class="inline">gymnastik@sv-kleinsendelbach.de</a>.</p>
  <p class="large center dark big-top-space">Wir freuen uns auf Sie</p>
  <p class="large center red">Gymnastikabteilung des Sportverein Kleinsendelbach e. V.</p -->
</span>
