@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%
  min-height: 75vh

.image
  width: auto
  border: #485460 solid 1px

@media screen and (prefers-color-scheme: dark)
  .image
    border: #24252A solid 1px
