@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    margin-bottom: 20px
    width: 100%

#container
    @include flex-row(flex-start, center)
    gap: 32px // sass-lint:disable-line no-misspelled-properties
    width: 100%

    #date-input, #time-input
        @include dynamic-color(color, 'text')
        @include dynamic-color(background-color, 'background')
        @include dynamic-color(border-color, 'text')
        @include font-montserrat
        @include font-size('large')
        @include font-weight('normal')
        border: solid 1px
        border-radius: 8px
        cursor: pointer
        flex: 1
        height: 48px
        text-align: center
        vertical-align: middle

        &.error
            @include dynamic-color(border-color, 'formStatusError')

    &.mobile
        @include flex-column(flex-start, center)
        gap: 16px // sass-lint:disable-line no-misspelled-properties

        #date-input, #time-input
            padding: 5px 0
            width: 100%
