<label
    [text]="label"
></label>
<div
    id="container"
    [ngClass]="deviceType.current"
>
    <input
        #dateInput
        *ngIf="isComponentShown('date')"
        id="date-input"
        [ngClass]="{ error: inputField.error }"
        type="date"
        (blur)="onBlur()"
    >
    <input
        #timeInput
        *ngIf="isComponentShown('time')"
        id="time-input"
        [ngClass]="{ error: inputField.error }"
        type="time"
        (blur)="onBlur()"
    >
</div>
<error-message
    [error]="inputField.error"
 />
