@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
  @include flex-column(flex-start, center)
  width: 100%
  margin-bottom: 20px

#container
  @include flex-row(flex-start, center)
  width: 100%
  gap: 32px

  #dateInput, #timeInput
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    cursor: pointer
    text-align: center
    flex: 1
    vertical-align: middle
    border: solid 1px
    border-radius: 8px
    height: 48px
    @include dynamic-color(color, 'text')
    @include dynamic-color(background-color, 'background')
    @include dynamic-color(border-color, 'text')

    &.error
        @include dynamic-color(border-color, 'formStatusError')

  &.mobile
    @include flex-column(flex-start, center)
    gap: 16px

    #dateInput, #timeInput
      width: 100%
      padding: 5px 0
