<div
  class="input"
>
  <p
    class="label"
    [ngStyle]="{
      color: styleConfig.css('textColor')
    }"
  >{{ field.label }}</p>

  <!-- Input text -->
  <input
    *ngIf="field.type.type === 'inputText'"
    type="{{ field.type.option === undefined ? 'text' : field.type.option.type }}"
    placeholder="{{ field.type.placeholder }}"
    [attr.formId]="id"
    [attr.min]="field.type.option !== undefined && field.type.option.type === 'date' ? field.type.option.min : undefined"
    [attr.max]="field.type.option !== undefined && field.type.option.type === 'date' ? field.type.option.max : undefined"
    [ngStyle]="{
      color: styleConfig.css('textColor'),
      backgroundColor: styleConfig.css('backgroundColor'),
      borderColor: styleConfig.css(field.errorMessage === undefined ? 'textColor' : 'formErrorStatusColor')
    }"
  >

  <!-- textarea -->
  <textarea
    *ngIf="field.type.type === 'textarea'"
    placeholder="{{ field.type.placeholder }}"
    [attr.formId]="id"
    [ngStyle]="{
      color: styleConfig.css('textColor'),
      backgroundColor: styleConfig.css('backgroundColor'),
      borderColor: styleConfig.css(field.errorMessage === undefined ? 'textColor' : 'formErrorStatusColor')
    }"
  ></textarea>

  <!-- select -->
  <select
    *ngIf="field.type.type === 'select'"
    [attr.formId]="id"
    [ngStyle]="{
      color: styleConfig.css('textColor'),
      backgroundColor: styleConfig.css('backgroundColor'),
      borderColor: styleConfig.css(field.errorMessage === undefined ? 'textColor' : 'formErrorStatusColor')
    }"
  >
    <optgroup
      *ngFor="let group of field.type.options.type === 'grouped' ? field.type.options.groups : []"
      label="{{ group.groupText }}"
    >
      <option
        *ngFor="let option of group.options"
        value="{{ option.id }}"
      >{{ option.text }}</option>
    </optgroup>
    <option
      *ngFor="let option of field.type.options.type === 'ungrouped' ? field.type.options.options : []"
      value="{{ option.id }}"
    >{{ option.text }}</option>
  </select>

  <p
    *ngIf="field.errorMessage !== undefined"
    class="error-msg"
    [ngStyle]="{
      color: styleConfig.css('formErrorStatusColor')
    }"
  >{{ field.errorMessage }}</p>
</div>
