@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100%

.input
  @include flex-column(flex-start, center)
  width: 100%
  margin-bottom: 2em

  .label
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    margin-bottom: 0.5em
    text-align: left
    width: 100%

  input, textarea, select
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    cursor: pointer
    text-align: center
    width: 100%
    vertical-align: middle
    border: solid 0.1em
    border-radius: 0.5em

  input, select
    height: 2em

  textarea
    height: 10em
    resize: none

  .error-msg
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    margin-top: 0.5em
    text-align: left
    width: 100%
