@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  margin: 16px

  &.desktop
    width: calc(14% - 32px)

  &.tablet
    width: calc(20% - 32px)

  &.mobile
    width: calc(100% - 32px)

#image
  height: 176px
  padding-bottom: 16px

#name
  @include font-montserrat
  @include font-weight('small')
  @include font-size('normal')
  text-align: center

a#name
  text-decoration: none
  cursor: pointer

#additionalText
  @include font-montserrat
  @include font-weight('small')
  @include font-size('normal')
  text-align: center
  padding-top: 16px
