<!-- eslint-disable @angular-eslint/template/no-interpolation-in-attributes -->
<img
    *ngIf="person.imageId !== null"
    id="image"
    src="http://www.anpfiff.info/upload/images/Portrait4/{{ person.imageId }}.jpg"
    [title]="person.name"
    [alt]="person.name"
>
<img
    *ngIf="person.imageId === null"
    id="image"
    src="assets/images/profile.png"
    [title]="person.name"
    [alt]="person.name"
>
<a
    *ngIf="person.personParameters !== null"
    href="http://www.anpfiff.info/sites/person/start.aspx?SK={{ person.personParameters.spielkreis }}&Pers={{ person.personParameters.personId }}"
    target="_blank"
    title="{{ person.name }} (anpfiff.info)"
    id="name"
>{{ person.name }}</a>
<p
    *ngIf="person.personParameters === null"
    id="name"
>{{ person.name }}</p>

<p
    *ngIf="person.additionalText !== null"
    id="additionalText"
>{{ person.additionalText }}</p>
