@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    margin: 16px

    &.desktop
        width: calc(14% - 32px)

    &.tablet
        width: calc(20% - 32px)

    &.mobile
        width: calc(100% - 32px)

#image
    height: 176px
    padding-bottom: 16px

#name
    @include dynamic-color(color, 'primary')
    @include font-montserrat
    @include font-weight('small')
    @include font-size('normal')
    text-align: center

a#name
    cursor: pointer
    text-decoration: none

#additional-text
    @include dynamic-color(color, 'secondaryText')
    @include font-montserrat
    @include font-weight('small')
    @include font-size('normal')
    padding-top: 16px
    text-align: center
