<span class="text-section">
  <h1 *ngIf="editType === 'update'">Termin bearbeiten</h1>
  <h1 *ngIf="editType === 'add'">Termin hinzufügen</h1>
  <p *ngIf="isStartupLoading" class="large center red top-space">Anmeldedaten werden überprüft.</p>
  <app-input-form *ngIf="!isStartupLoading" [inputFields]="inputFields" class="form" [ngClass]="deviceType.stringValue">
    <p class="label ignore-text-style">Zugehöriges Thema:</p>
    <select formId="groupId" [ngClass]="{ touched: inputFields.field('groupId').touchedInvalid }">
      <optgroup *ngFor="let groupedEventGroupId of GroupedEventGroupId.all" label="{{ GroupedEventGroupId.description(groupedEventGroupId.groupedId) }}">
        <option *ngFor="let groupId of groupedEventGroupId.groupIds" value="{{ groupId }}">{{ EventGroupId.description(groupId) }}</option>
      </optgroup>
    </select>
    <p *ngIf="inputFields.field('groupId').errorFirstIfTouchedOf('required') === 'invalid'" class="error-msg ignore-text-style">Das zugehörige Thema ist erforderlich.</p>
    <p *ngIf="inputFields.field('groupId').errorFirstIfTouchedOf('isOneOf') === 'invalid'" class="error-msg ignore-text-style">Das ist kein gültiges Thema.</p>
    <p class="label ignore-text-style">Titel:</p>
    <input type="text" placeholder="Titel" formId="title" [ngClass]="{ touched: inputFields.field('title').touchedInvalid}">
    <p *ngIf="inputFields.field('title').errorFirstIfTouchedOf('required') === 'invalid'" class="error-msg ignore-text-style">Der Titel ist erforderlich.</p>
    <p class="label ignore-text-style">Untertitel:</p>
    <input type="text" placeholder="Untertitel (optional)" formId="subtitle" [ngClass]="{ touched: inputFields.field('subtitle').touchedInvalid}">
    <p class="label ignore-text-style">Link:</p>
    <input type="text" placeholder="Link (optional)" formId="link" [ngClass]="{ touched: inputFields.field('link').touchedInvalid}">
    <p *ngIf="inputFields.field('link').errorFirstIfTouchedOf('url') === 'invalid'" class="error-msg ignore-text-style">Der Link ist ungültig.</p>
    <p class="label ignore-text-style">Datum / Zeit:</p>
    <span class="date-time">
      <input type="date" min="{{ now.date }}" formId="date" [ngClass]="{ touched: inputFields.field('date').touchedInvalid}">
      <input type="time" formId="time" [ngClass]="{ touched: inputFields.field('time').touchedInvalid}">
    </span>
    <p *ngIf="inputFields.field('date').errorFirstIfTouchedOf('required') === 'invalid'" class="error-msg ignore-text-style">Das Datum ist erforderlich.</p>
    <p *ngIf="inputFields.field('date').errorFirstIfTouchedOf('date') === 'invalid'" class="error-msg ignore-text-style">Das Datum ist ungültig.</p>
    <p *ngIf="inputFields.field('time').errorFirstIfTouchedOf('required') === 'invalid' && !inputFields.field('date').hasError" class="error-msg ignore-text-style">Die Zeit ist erforderlich.</p>
    <p *ngIf="inputFields.field('time').errorFirstIfTouchedOf('time') === 'invalid' && !inputFields.field('date').hasError" class="error-msg ignore-text-style">Die Zeit ist ungültig.</p>
    <p *ngIf="inputFields.field('date').errorFirstIfTouchedOf('futureDate') === 'invalid' || (inputFields.field('time').errorFirstIfTouchedOf('futureDate') === 'invalid' && !inputFields.field('date').hasError)" class="error-msg ignore-text-style">Das Event muss in der Zukunft liegen.</p>
    <div (click)="handleAddEditEvent(); $event.stopPropagation()" class="submit-btn" [ngClass]="{ evaluatedInvalid: inputFields.status !== 'valid' }">{{ editType === 'update' ? 'Speichern' : 'Hinzufügen' }}</div>
    <p *ngIf="inputFields.status === 'invalidInput'" class="error-msg ignore-text-style">Nicht alle Eingaben sind gültig.</p>
    <p *ngIf="inputFields.status === 'loading'" class="loading-msg ignore-text-style">Event wird {{ editType === 'update' ? 'gespeichert' : 'hinzugefügt' }}.</p>
    <p *ngIf="WebsiteEditingErrorCode.isLoginErrorCode(inputFields.status)" class="error-msg ignore-text-style">{{ WebsiteEditingErrorCode.errorMessage(inputFields.status) }}</p>
  </app-input-form>
</span>
