@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

.hint
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('normal')
    padding: 5px 0
    text-align: start
    width: 97.5%
