<app-authentication-check
  [authenticationTypes]="['editEvents']"
  [logInPageLink]="logInPageLink"
>
  <div
    id="back-btn-container"
  >
    <a
      id="back-button"
      title="Zurück"
      href="{{ editEventsLink.link }}"
      [ngStyle]="{
        color: styleConfig.css('textColor'),
        backgroundColor: styleConfig.css('backgroundColor')
      }"
    >Zurück</a>
  </div>
  <app-text-section
    *ngIf="previousEvent === undefined"
    [title]="'Spiel vom BFV übernehmen'"
  >
    <p
      class="text margin-bottom-large"
      [ngStyle]="{
        color: styleConfig.css('textColor')
      }"
    >Um ein Spiel vom BFV zu übernehmen, fügen Sie den Link zum BFV Spiel hier ein. Bsp: 'https://www.bfv.de/spiele/...'</p>
    <input-form
      [inputForm]="bfvGameInputForm"
      [submitButtonText]="'Übernehmen'"
      (submitButtonClicked)="takeBfvGame()"
    >
      <input-field-text
        [label]="'BFV Spiele Link'"
        [placeholder]="'BFV Spiele Link'"
        [inputField]="bfvGameInputForm.field('bfvGameLink')"
      ></input-field-text>
    </input-form>
  </app-text-section>
  <app-text-section
    [title]="previousEvent === undefined ? 'Termin hinzufügen' : 'Termin bearbeiten'"
  >
    <input-form
      [inputForm]="inputForm"
      [submitButtonText]="previousEvent === undefined ? 'Hinzufügen' : 'Speichern'"
      (submitButtonClicked)="saveEvent()"
    >
      <input-field-select
        [label]="'Zugehöriges Thema'"
        [selectOptions]="groupIdSelectOptions"
        [inputField]="inputForm.field('groupId')"
      ></input-field-select>
      <input-field-text
        [label]="'Titel'"
        [inputField]="inputForm.field('title')"
      ></input-field-text>
      <input-field-text
        [label]="'Untertitel'"
        [placeholder]="'Untertitel (optional)'"
        [inputField]="inputForm.field('subtitle')"
      ></input-field-text>
      <input-field-text
        [label]="'Link'"
        [placeholder]="'Link (optional)'"
        [inputField]="inputForm.field('link')"
      ></input-field-text>
      <input-field-date-time
        [label]="'Datum / Uhrzeit'"
        [inputField]="inputForm.field('date')"
      ></input-field-date-time>
    </input-form>
  </app-text-section>
</app-authentication-check>
