@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100%

#contacts
  @include flex-row(flex-start, center)
  width: 100%
  flex-wrap: wrap

  .contact
    @include flex-column(flex-start, center)
    margin-bottom: 32px

    .function
      @include font-montserrat
      @include font-size('large')
      @include font-weight('normal')
      text-align: center
      margin-bottom: 8px

    .name
      @include font-montserrat
      @include font-size('medium')
      @include font-weight('normal')
      text-align: center
      margin-bottom: 8px

    .telephone, .mobile, .email
      @include flex-row(center, center)
      @include font-montserrat
      @include font-size('normal')
      @include font-weight('small')
      margin-bottom: 4px
      text-decoration: none

      .icon
        margin-right: 8px

    &:nth-last-child(1)
      margin-bottom: 0

  &.desktop .contact
    width: 20%

  &.tablet .contact
    width: 33%

  &.mobile .contact
    width: 100%
