@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100vw

#container
  @include flex-column(flex-start, center)
  width: 100vw
  position: fixed
  top: 0
  height: 48px
  z-index: 1001
  box-shadow: #80808080 0 4px 16px

  #top-row
    @include flex-row(center, center)
    width: 100vw
    height: 48px

    #logo-container
      @include flex-row(center, center)
      height: 100%
      text-decoration: none
      cursor: pointer
      width: calc(100% - 32px)

      #logo
        height: 32px

      #logo-text
        @include font-metrophobic
        @include font-size('normal')
        @include font-weight('medium')
        margin-left: 16px
        white-space: nowrap

    .hamburger-menu
      cursor: pointer
      font-size: 24px
      width: 24px
      margin-right: 16px

  #header-items
    @include flex-column(flex-start, center)
    width: 100vw
    height: 100%

#background
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 1000
