<span class="text-section">
  <h1>Anfahrt zum Sportheim Kleinsendelbach</h1>
  <p class="center large small-bottom-space">Sportverein Kleinsendelbach e.V.</p>
  <p class="center large small-bottom-space">Hauptstraße 21</p>
  <p class="center large small-bottom-space">91077 Kleinsendelbach</p>
  <a class="center large" href="tel:091268304" title="Sportheim Kleinsendelbach">
    <i class="large text-margin-right fas fa-phone"></i>
    <p class="large">09126 / 8304</p></a>
  <google-map [width]="null" [zoom]="map.zoom" [center]="map.center"
    [options]="mapOptions">
    <map-marker *ngFor="let marker of map.marker" [position]="marker"></map-marker>
  </google-map>
</span>
