<text-section
    title="Anfahrt zum Sportheim Kleinsendelbach"
>
    <p
        class="text large no-bottom-padding secondaryColor"
    >Sportverein Kleinsendelbach e.V.</p>
    <p
        class="text large no-bottom-padding margin-top-normal secondaryColor"
    >Hauptstraße 21</p>
    <p
        class="text large no-bottom-padding margin-top-normal secondaryColor"
    >91077 Kleinsendelbach</p>
    <a
        class="text large margin-bottom-normal margin-top-normal"
        href="tel:091268304"
        title="Sportverein Kleinsendelbach e.V."
    >
        <fa-icon
            icon="phone"
        /> 09126 / 8304
    </a>
    <maps
        [options]="mapOptions"
        [markers]="[mapOptions.center]"
    />
</text-section>
