<div
  id="container"
  [ngStyle]="{
    backgroundColor: styleConfig.backgroundColor.css(appearance.current)
  }"
>
  <a
    href="{{ homeLinkData.homeLink.link }}"
    target="{{ homeLinkData.homeLink.target }}"
    title="Startseite"
    id="logo-container"
  >
    <img
      src="{{ homeLinkData.logoSrc }}"
      alt="{{ homeLinkData.title }}"
      id="logo"
    >
    <p
      id="logo-text"
      [ngStyle]="{
        color:  styleConfig.textColor.css(appearance.current)
      }"
    >{{ homeLinkData.title }}</p>
  </a>
  <div
    id="header-items"
  >
    <app-desktop-header-item
      *ngFor="let headerItem of Object.entries(headerData)"
      [headerItem]="headerItem"
      [expandedHeaderItemId]="expandedHeaderItemId"
      [styleConfig]="styleConfig"
      (clickHeaderItemIdEmitter)="handleHeaderItemClick($event)"
    ></app-desktop-header-item>
  </div>
</div>
<div
  id="background"
  *ngIf="expandedHeaderItemId !== null"
  (click)="$event.preventDefault(); $event.stopPropagation(); expandedHeaderItemId = null"
></div>
