<div
    id="message-box"
    *ngIf="isShown"
    [ngClass]="deviceType.current"
>
    <p
        id="header"
    >Cookie-Einstellungen</p>
    <p
        class="text"
    >Wir verwenden Cookies, um Ihnen ein optimales Webseiten-Erlebnis zu bieten.</p>
    <p
        class="text"
        *ngIf="selectionShown"
    >Mit der Nutzung unserer Webseite stimmen Sie der Verwendung von Cookies zu. Weitere Informationen über die Verwendung von Cookies und wie Sie Ihre Einwilligung für die Zukunft widerrufen können, finden Sie in unseren Datenschutzhinweisen.</p>
    <a
        link="datenschutz"
        id="privacy"
    >Datenschutz</a>
    <p
        id="extra-text"
        *ngIf="selectionShown"
    >Welchen Cookies stimmen Sie zu?</p>
    <div
        id="selection-buttons"
        *ngIf="selectionShown"
    >
        <p
            class="button unchangable"
            [class.selected]="cookiesSelection['necessary'] === 'selected'"
        >Notwendig</p>
        <p
            class="button"
            [class.selected]="cookiesSelection['functionality'] === 'selected'"
            role="none"
            (click)="toggleCookieSelection('functionality')"
        >Funktionalität</p>
        <p
            class="button"
            [class.selected]="cookiesSelection['statistics'] === 'selected'"
            role="none"
            (click)="toggleCookieSelection('statistics')"
        >Statistik</p>
    </div>
    <p
        id="details-button"
        *ngIf="selectionShown"
        role="none"
        (click)="toggleDetailsShown()"
    >{{ detailsShown ? "Details ausblenden" : "Details zeigen" }}</p>
    <p
        id="show-selection-button"
        *ngIf="deviceType.current === 'mobile'"
        role="none"
        (click)="toggleSelectionShown()"
    >{{ selectionShown ? "Auswahl ausblenden" : "Auswahl zeigen" }}</p>
    <p
        class="details-topic"
        *ngIf="detailsShown && selectionShown"
    >Notwendig</p>
    <p
        class="details-description"
        *ngIf="detailsShown && selectionShown"
    >Diese Cookies sind für den Betrieb unserer Seite unbedingt notwendig. Sie ermöglichen beispielsweise sicherheitsrelevante Funktionalitäten, die Sprachumschaltung oder die Speicherung der von Ihnen festgelegten Cookie-Einstellungen.</p>
    <p
        class="details-topic"
        *ngIf="detailsShown && selectionShown"
    >Funktionalität</p>
    <p
        class="details-description"
        *ngIf="detailsShown && selectionShown"
    >Funktionale Cookies ermöglichen es, Inhalte von Dritten, wie BFV oder Google Maps, anzuzeigen.</p>
    <p
        class="details-topic"
        *ngIf="detailsShown && selectionShown"
    >Statistik</p>
    <p
        class="details-description"
        *ngIf="detailsShown && selectionShown"
    >Um unsere Webseite weiter zu verbessern, erfassen wir anonymisiert Daten für Statistiken und Analysen. Mit Hilfe dieser Cookies können wir beispielsweise die Anzahl der Website-Besucher und Zugriffe auf bestimmte Seiten ermitteln, um auf dieser Grundlage unsere Inhalte zu verbessern.</p>
    <div
        id="confirm-buttons"
    >
        <p
            id="confirm-selected"
            role="none"
            (click)="handleConfirmSelected()"
        >Auswahl akzeptieren</p>
        <p
            id="confirm-all"
            role="none"
            (click)="handleConfirmAll()"
        >Alle akzeptieren</p>
    </div>
</div>
