@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
  @include flex-column(flex-start, center)

#message-box
  @include flex-column(flex-start, center)
  width: 25vw
  padding: 32px
  box-shadow: 0 0 10px color('shadow')
  position: fixed
  bottom: 0
  right: 32px
  z-index: 1100
  background-color: color('background')

  #header
    @include font-roboto
    @include font-weight('medium')
    @include font-size('medium')
    padding-bottom: 12px
    color: color('primary')

  .text
    @include font-roboto
    @include font-weight('light')
    @include font-size('small')
    padding-bottom: 12px
    text-align: justify
    line-height: 1.2
    color: color('text')

  #privacy
    @include font-roboto
    @include font-weight('light')
    @include font-size('small')
    padding-bottom: 16px
    text-decoration: none
    cursor: pointer
    color: color('primary')

  #extra-text
    @include font-roboto
    @include font-weight('medium')
    @include font-size('small')
    padding-bottom: 12px
    color: color('primary')

  #selection-buttons
    @include flex-row(center, space-between)
    width: 100%
    padding-bottom: 16px

    .button
      @include font-roboto
      @include font-weight('light')
      @include font-size('small')
      padding: 6px 0
      border: 1px solid
      width: 30%
      text-align: center
      cursor: pointer

      &.unchangable
        cursor: not-allowed

  #details-button, #show-selection-button
    @include font-roboto
    @include font-weight('light')
    @include font-size('small')
    padding-bottom: 12px
    text-decoration: none
    cursor: pointer
    color: color('primary')

  .details-topic
    @include font-roboto
    @include font-weight('medium')
    @include font-size('normal')
    padding-bottom: 4px
    color: color('primary')

  .details-description
    @include font-roboto
    @include font-weight('light')
    @include font-size('small')
    padding-bottom: 12px
    text-align: justify
    line-height: 1.2
    color: color('text')

  #confirm-buttons
    @include flex-row(center, space-between)
    width: 100%
    padding-top: 12px

    #confirm-selected, #confirm-all
      @include font-roboto
      @include font-weight('light')
      @include font-size('small')
      padding: 6px 0
      border: 1px solid
      width: 45%
      text-align: center
      cursor: pointer

    #confirm-selected
      color: color('text')
      background-color: color('background')
      border-color: color('text')

    #confirm-all
      color: color('background')
      background-color: color('primary')
      border-color: color('primary')

  &.tablet
    width: 40vw

  &.mobile
    width: calc(100vw - 64px)
    right: 0

    #selection-buttons
      @include flex-column(flex-start, center)

      .button
        width: 100%
        margin-bottom: 12px

    #confirm-buttons
        @include flex-column(flex-start, center)

        #confirm-selected, #confirm-all
            width: 100%
            margin-bottom: 12px

@media screen and (prefers-color-scheme: dark)
    #message-box
        box-shadow: 0 0 10px darkColor('shadow')
        background-color: darkColor('background')

    #header, #privacy, #extra-text
        color: darkColor('primary')

    .text
        color: darkColor('text')

    #details-button, #show-selection-button, .details-topic
        color: darkColor('primary')

    .details-description
        color: darkColor('text')

    #confirm-buttons
        #confirm-selected
            color: darkColor('text')
            background-color: darkColor('background')
            border-color: darkColor('text')

        #confirm-all
            color: darkColor('background')
            background-color: darkColor('primary')
            border-color: darkColor('primary')
