<span class="text-section">
  <p *ngIf="FetchState.isLoading(fetchState)" class="loading center large">Nachricht wird geladen.</p>
  <span *ngIf="FetchState.isFailure(fetchState)" class="failure">
    <p class="text center large red no-bottom-space">Nachricht konnte nicht geladen werden.</p>
    <p class="loadAgain center" (click)="fetchNews()">Erneut laden</p>
  </span>
  <span *ngIf="FetchState.isSuccess(fetchState)" class="news" [ngClass]="deviceType.stringValue">
    <h1 class="title no-bottom-space">{{ FetchState.getContent(fetchState).news.title }}</h1>
    <p *ngIf="FetchState.getContent(fetchState).news.subtitle !== undefined" class="subtitle center large no-bottom-space">{{ FetchState.getContent(fetchState).news.subtitle }}</p>
    <p class="date center dark">{{ date(FetchState.getContent(fetchState).news.date) }}</p>
</span>
<div *ngIf="FetchState.isSuccess(fetchState)" [froalaView]="FetchState.getContent(fetchState).message" class="message-view"></div>
