<span class="text-section">
  <h1>
    Chronik des Sportverein Kleinsendelbach
  </h1>
  <p class="block">
    Der SVK wurde am 19. Dezember 1954 gegründet. Mit der Gründungsversammlung hatte er 36 Mitglieder.
  </p>
  <p class="block">
    Im Jahre 1955 wurde Wilhelm (Willi) Kupfer zum ersten Vorsitzenden gewählt. Dieser wurde 1956 Bürgermeister der
    Gemeinde und stand dem Verein bis 1978 vor. Für den Sportverein hat sich Willi Kupfer große Verdienste erworben. Der
    Sportplatz an der Kleinsendelbacher Hauptstraße wurde von zwei Landwirten zuerst pachtweise übernommen und später
    dann käuflich erworben.
  </p>
  <p class="block">
    Der SVK besitzt seit 1968 ein eigenes Vereinsheim, dem ersten dieser Güte in der damaligen zeit. Es wurde
    ausschließlich in Eigenleistung erstellt. Die geplanten Kosten von 140.000 DM wurden deshalb auch erheblich
    unterschritten und nur 60.000 DM ausgegeben. Federführend war damals der 1. Bürgermeister und zugleich Vorstand des
    SVK, Willi Kupfer. Als „Kapo“ fungierte Alfred Schramm.
  </p>
  <p class="block">
    Kupfer trat 1978, nach 23-jähriger Tätigkeit als 1. Vorstand, aus gesundheitlichen Gründen zurück und verstarb viel
    zu früh im darauffolgenden Jahr. Otto Staudinger, bis dahin 2. Vorstand, übernahm den Vorsitz des Vereins. Im Jahr
    1985 wechselte der Vorsitz zu Egon Pürstinger.
  </p>
  <p class="block">
    Mit der Zunahme der Mitglieder wurden auch die Bedürfnisse des SVK größer. Mit nur einem Sportplatz für den
    laufenden Spielbetrieb sowie den Trainingseinheiten konnte ein geordneter Spielbetrieb nicht mehr bewerkstelligt
    werden. Ein zweiter Platz war dringend erforderlich. Die Grundstücksverhandlungen und die Finanzierung standen im
    Raum. Mit großzügiger Unterstützung durch die Gemeinde Kleinsendelbach, unter Vorsitz von 1. Bürgermeister Alfred
    Schramm, konnte ein Gelände direkt an der Schwabach zuerst gepachtet und dann von der Gemeinde käuflich erworben
    werden.
  </p>
  <p class="block">
    Im Sommer 1989 übergab Pfarrer Matthäus Kunel bei einer festlichen Einweihung den neuen B-Platz sowie den gründlich
    „restaurierten“ A-Platz seiner Bestimmung. Einen Wechsel in der Führungsriege gab es im Jahr 1991. Egon Pürstinger
    konnte sein Amt nicht mehr ausüben und trat zurück. Wolfgang Wruck wurde als dessen Nachfolger zum 1. Vorstand
    gewählt.
  </p>
  <p class="block">
    Einen erneuten Wechsel beim 1. Vorstand gab es im Frühjahr 2009. Damals übernahm der ehemalige Trainer des SVK,
    Eberhard Fröhling aus Weiher, diesen Posten. Er hatte dieses Amt für sechs Jahre inne und ihm folgte im April 2015
    mit Martina E. Kellner die erste Frau auf dieser Position.
  </p>
  <p class="block">
    (nach der „Chronik der Gemeinde Kleinsendelbach“ von Wilhelm Held (1966), herausgegeben von der Gemeinde
    Kleinsendelbach im April 2002 und der Satzung des Sportvereins Kleinsendelbach vom 20. Juli 1958)
  </p>
  <p class="block">
    Wenn Sie an der ausführlichen Chronik des SVK Interesse haben, so kontaktieren Sie uns bitte unter <a class="inline"
      href="mailto:vorstand@sv-kleinsendelbach.de">vorstand@sv-kleinsendelbach.de</a>. Gerne geben wir Ihnen dann ein
    Exemplar unserer Festschrift zum 60. Vereinsjubiläum aus dem September 2015.
  </p>
</span>
