@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%
  margin-top: 75px

.list
    @include flex-column(flex-start)
    margin:
        bottom: 32px
        left: 64px
