<text-section
    title="Mitgliedsantrag"
>
    <p
        class="text x-large left-align"
    >Wenn Sie Mitglied beim SVK werden wollen, gehen Sie bitte wie folgt vor:</p>
    <p
        class="text color-secondary margin-top"
    >1. Mitgliedsantrag <a
        class="text"
        href="assets/files/Mitgliedsantrag.pdf"
        target="_blank"
        title="Mitgliedsantrag"
    >hier</a> herunterladen</p>
    <p
        class="text color-secondary"
    >2. Mitgliedsantrag bitte vollständig ausfüllen (beide Seiten) und unterschreiben</p>
    <p
        class="text color-secondary"
    >3. Ausgefüllten Antrag als Scan per E-Mail an <a
        class="text"
        href="mailto:mitglieder@sv-kleinsendelbach.de"
        title="mitglieder@sv-kleinsendelbach.de"
    >mitglieder&#64;sv-kleinsendelbach.de</a> senden, in den Briefkasten am Sportheim einwerfen oder ganz einfach dem entsprechenden Trainer/Übungsleiter geben</p>
    <p
        class="text margin-top color-secondary"
    >Unsere Mitgliedsbeiträge finden Sie im Antrag. Eine Aufnahmegebühr erheben wir nicht.</p>
    <p
        class="text margin-top color-secondary"
    >Vielen Dank für Ihre Mitgliedschaft beim SVK und viel Spaß mit unserem Sportangebot!</p>
</text-section>
