<span class="text-section">
  <h1>Mitgliedsantrag</h1>
  <h3>Wenn Sie Mitglied beim SVK werden wollen, gehen Sie bitte wie folgt vor:</h3>
  <span class="list">
    <p class="medium small-bottom-space">1. Mitgliedsantrag <a class="inline medium" title="Mitgliedsantrag"
        href="assets/download/Mitgliedsantrag.pdf" target="_blank" rel="noopener noreferrer">hier</a>
      herunterladen</p>
    <p class="medium small-bottom-space">2. Mitgliedsantrag bitte vollständig ausfüllen (beide Seiten!) und
      unterschreiben</p>
    <p class="medium small-bottom-space">3. Ausgefüllten Antrag als Scan per E-Mail an <a class="inline medium"
        title="mitglieder@sv-kleinsendelbach.de"
        href="mailto:mitglieder@sv-kleinsendelbach.de">mitglieder@sv-kleinsendelbach.de</a>
      senden, in den Briefkasten am Sportheim einwerfen oder ganz einfach dem entsprechenden Trainer/Übungsleiter geben
    </p>
  </span>
  <p class="medium">Unsere Mitgliedsbeiträge finden Sie im Antrag. Eine Aufnahmegebühr erheben wir nicht.</p>
  <p class="medium">Vielen Dank für Ihre Mitgliedschaft beim SVK und viel Spaß mit unserem Sportangebot!</p>
</span>
