<text-section
  [title]="'Mitgliedsantrag'"
>
  <p
  class="text x-large left-align"
  [ngStyle]="{
    color: styleConfig.css('textColor')
  }"
  >Wenn Sie Mitglied beim SVK werden wollen, gehen Sie bitte wie folgt vor:</p>
  <p
    class="text block left-margin"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >1. Mitgliedsantrag <a
    class="text"
    href="assets/files/Mitgliedsantrag.pdf"
    target="_blank"
    title="Mitgliedsantrag"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >hier</a> herunterladen</p>
  <p
    class="text block left-margin"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >2. Mitgliedsantrag bitte vollständig ausfüllen (beide Seiten) und unterschreiben</p>
  <p
    class="text block left-margin"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >3. Ausgefüllten Antrag als Scan per E-Mail an <a
    class="text"
    href="mailto:mitglieder@sv-kleinsendelbach.de"
    title="mitglieder@sv-kleinsendelbach.de"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >mitglieder@sv-kleinsendelbach.de</a> senden, in den Briefkasten am Sportheim einwerfen oder ganz einfach dem entsprechenden Trainer/Übungsleiter geben</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Unsere Mitgliedsbeiträge finden Sie im Antrag. Eine Aufnahmegebühr erheben wir nicht.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Vielen Dank für Ihre Mitgliedschaft beim SVK und viel Spaß mit unserem Sportangebot!</p>

</text-section>
