@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100%

#link-rows
  @include flex-column(center, center)
  width: 85%

  .link-row
    @include flex-row(flex-start, center)
    width: 100%

    .social-media-link
      @include flex-column(flex-start, center)
      text-decoration: none
      cursor: pointer
      flex: 1
      padding: 16px
      margin: 16px
      border-radius: 8px

      .title, .name
        @include font-montserrat
        text-align: center

      .icon
        height: 80px
        font-size: 80px
        text-align: center
        margin-bottom: 12px

      .title
        @include font-size('medium')
        @include font-weight('small')
        margin-bottom: 8px

      .name
        @include font-size('normal')
        @include font-weight('small')
