<text-section
    title="Sportheim in Kleinsendelbach"
>
    <p
        class="text margin-top color-secondary"
    >Der SV Kleinsendelbach überträgt in seinem Sportheim die Spiele der Bundesliga auf Sky. Sie können live dabei sein, wenn Ihre Lieblingsmannschaft aufläuft. Frei nach dem Motto von Sky „Unsere Gäste haben das Beste verdient“, zeigen wir auch die Champions League Spiele mit deutscher Beteiligung, die nicht im freien Fernsehen ausgestrahlt werden.</p>
    <p
        class="text margin-top color-secondary"
    >Der Sportverein freut sich zusammen mit Ihnen auf spannende Spiele!</p>
</text-section>

<text-section
    title="Unsere Öffnungszeiten"
>
    <opening-hours
        [openingHoursData]="openingHoursData"
    />
</text-section>

<text-section
    title="Sportheim des SV Kleinsendelbach e.V."
>
    <p
        class="text align-center color-secondary"
    >Hauptstraße 21</p>
    <p
        class="text align-center color-secondary"
    >91077 Kleinsendelbach</p>
    <a
        class="text align-center"
        href="tel:091268304"
        title="Sportverein Kleinsendelbach e.V."
    >
        <fa-icon
            icon="phone"
        /> 09126 / 8304
    </a>
</text-section>
