@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%

.coach-container
  @include flex-column(center, center)
  width: 100%

.squad-container
  @include flex-row(center, center)
  width: 100%
  flex-wrap: wrap
