@import '/src/sass/flex'
@import '/src/sass/text'

:host
    @include flex-column(flex-start, center)
    width: 100%

#report-container
    @include flex-column(center, center)
    width: 100%

#view-all-reports
    @include font-montserrat
    @include font-weight('small')
    @include font-size('medium')
    cursor: pointer
    text-decoration: none
    text-align: center
