@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

#dots
    position: relative
    cursor: pointer
    padding: 5px
    @include dynamic-color(color, 'text')

    &.isShown
        z-index: 911

#elements
    width: 120px
    box-shadow: 0 4px 5px 3px
    position: absolute
    z-index: 912
    @include dynamic-color(color, 'shadow')
    @include dynamic-color(background-color, 'background')

    &::ng-deep > *
        font-weight: 500
        font-size: 14px
        padding: 10px 40px 10px 20px
        cursor: pointer

        &:hover
            @include dynamic-color(background, 'hoveredBackground')

#background
    position: absolute
    z-index: 910
    width: 100vw
    height: 100vh
    top: 0
    left: 0
