@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

#dots
    @include dynamic-color(color, 'text')
    cursor: pointer
    padding: 5px
    position: relative

    &.is-shown
        z-index: 911

#elements
    @include dynamic-color(color, 'shadow')
    @include dynamic-color(background-color, 'background')
    box-shadow: 0 4px 5px 3px
    position: absolute
    width: 120px
    z-index: 912

    &::ng-deep > *
        cursor: pointer
        font-size: 14px
        font-weight: 500
        padding: 10px 40px 10px 20px

        &:hover
            @include dynamic-color(background, 'hoveredBackground')

#background
    height: 100vh
    left: 0
    position: absolute
    top: 0
    width: 100vw
    z-index: 910
