<fa-icon
    [icon]="ellipsisVertical"
    id="dots"
    #dots
    (click)="$event.preventDefault(); $event.stopPropagation(); toggleMenu()"
    [ngClass]="{ isShown: isShown }"
 />
<div
    id="elements"
    *ngIf="isShown"
    role="none"
    (click)="$event.preventDefault(); $event.stopPropagation(); dismissMenu()"
>
    <ng-content></ng-content>
</div>
<div
    id="background"
    *ngIf="isShown"
    role="none"
    (click)="$event.preventDefault(); $event.stopPropagation(); dismissMenu()"
></div>
