@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    margin-bottom: 20px
    width: 100%

angular-editor
    width: 100%

    &.error
        border: 1px solid
        border-color: color('formStatusError')


::ng-deep .angular-editor-toolbar .select-color
    width: 125px

::ng-deep .angular-editor-toolbar .select-custom-style
    width: 150px

::ng-deep .angular-editor-placeholder
    @include font-montserrat
    @include font-size('large')
    @include font-weight('medium')
    text-align: center
    width: 100%

::ng-deep .angular-editor-textarea
    @include font-montserrat
    @include font-size('medium')
    @include font-weight('normal')

    a
        text-decoration: none
