<label
    [text]="label"
></label>
<angular-editor
    [ngClass]="{ error: inputField.error}"
    [placeholder]="placeholder ?? label"
    [(ngModel)]="htmlContent"
    [config]="config"
>
    <ng-template
        #customButtons
        let-executeCommandFn="executeCommandFn"
    >
        <ae-toolbar-set>
        <ae-select
            class="select-color"
            [options]="colorSelectOptions"
            [(ngModel)]="selectedColor"
            (change)="setColor(executeCommandFn)"
            tabindex="-1"
        />
        </ae-toolbar-set>
    </ng-template>
</angular-editor>
<error-message
    [error]="inputField.error"
 />
