::ng-deep router-outlet
    &.desktop + *
        display: block
        min-height: calc(100vh - 368px)

        & > *:first-child
            margin-top: 80px + 20px

    &.tablet + *
        display: block
        min-height: calc(100vh - 368px)

        & > *:first-child
            margin-top: 80px + 20px

    &.mobile + *
        display: block
        min-height: calc(100vh - 736px)

        & > *:first-child
            margin-top: 48px + 20px
