:host ::ng-deep router-outlet
  &.desktop + *
    display: block
    min-height: calc(100vh - 23em)
    & > *
      margin-top: 5em

  &.tablet + *
    display: block
    min-height: calc(100vh - 23em)
    & > *
      margin-top: 5em

  &.mobile + *
    display: block
    min-height: calc(100vh - 46em)
    & > *
      margin-top: 3em
