@import '/src/sass/flex'

:host
  @include flex-column(center, flex-start)
  width: 100%

:host ::ng-deep router-outlet.content-min-height-658 + *
  min-height: calc(100vh - 658px)

:host ::ng-deep router-outlet.content-min-height-285 + *
  min-height: calc(100vh - 285px)

:host ::ng-deep router-outlet.content-min-height-708 + *
  min-height: calc(100vh - 708px)

:host ::ng-deep router-outlet.content-min-height-360 + *
  min-height: calc(100vh - 360px)
