<app-header [headerDataForDeviceType]="headerData" [homeLinkData]="homeLinkData" [styleConfig]="headerStyleConfig"></app-header>
<router-outlet></router-outlet>
<div id="space"></div>
<app-contact-info [contactData]="contactData" [styleConfig]="contactInfoStyleConfig"></app-contact-info>
<app-footer [footerData]="footerData" [styleConfig]="footerStyleConfig"></app-footer>
<app-cookie-selector-message [privacyLink]="privacyLink" [styleConfig]="cookieSelectorMessageStyleConfig"></app-cookie-selector-message>
