<app-header
  [headerDataForDeviceType]="headerData"
  [homeLinkData]="homeLinkData"
  [styleConfig]="headerStyleConfig"
></app-header>
<router-outlet
  [ngClass]="deviceType.className"
></router-outlet>
<app-text-section>
  <app-maps
    [options]="{
      zoom: 14,
      center: {
        lat: 49.589936,
        lng: 11.162849
      },
      scrollwheel: false,
      maxZoom: 18,
      minZoom: 5
    }"
    [markers]="[
      {
        lat: 49.589936,
        lng: 11.162849
      }
    ]"
  ></app-maps>
</app-text-section>
<app-footer
  [footerData]="footerData"
  [styleConfig]="footerStyleConfig"
></app-footer>
<app-cookie-selector-message
  [privacyLink]="privacyLink"
></app-cookie-selector-message>
