<text-section
    title="1. Mannschaft der SG Kleinsendelbach / Hetzles"
>
    <p
        class="text secondaryColor"
    >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
</text-section>

<events
    [groupIds]="eventGroupIds"
 />

<reports
    [isGameReport]="true"
    [groupId]="reportGroupId"
    [maxListCount]="5"
 />

<text-section
    title="Ergebnisse und Tabellen"
>
    <bfv-widget
        [teamId]="teamId"
    />
</text-section>

<contact
    [contactData]="contactData"
 />

<text-section
    title="Trainingszeiten"
>
    <p
        class="text margin-bottom-normal secondaryColor"
    >Das Training findet jeden Dienstag und Donnerstag von 19:00Uhr - 20:30Uhr abwechselnd in Kleinsendelbach und Hetzles, am B-Platz an der Sendelmühlstraße statt.</p>
    <maps
        [options]="mapOptions"
        [markers]="[mapOptions.center]"
    />
</text-section>

<squad
  [parametersType]="squadParametersType"
 />
