<text-section
    title="Authentifizierung wird überprüft"
    *ngIf="state === 'loading'"
>
    <p
        class="text large margin-top-large primaryColor"
    >Es wird überprüft, ob Sie berechtigt sind diese Seite zu besuchen.</p>
</text-section>
<text-section
    title="Authentifizierung bestätigt"
    *ngIf="state === 'alreadyLoggedIn'"
>
    <p
        class="text large margin-top-large secondaryColor"
    >Sie konnten nicht automatisch weitergeleitet werden. Bitte nutzen Sie den Link:</p>
    <a
        link="bearbeiten"
        class="text large"
    >Website bearbeiten</a>
</text-section>
<div
    class="container"
    *ngIf="state === 'loginPage'"
>
    <app-login-page
        (userUnregisteredEmitter)="handleUserUnregistered()"
    />
</div>
<div
    class="container"
    *ngIf="state === 'addToWaitingUserPage'"
>
    <app-login-add-user-waiting
        (addToWaitingUserCanceled)="handleAddToWaitingUserCanceled()"
    />
</div>
