@import '/node_modules/angular-calendar/scss/angular-calendar'
@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

// sass-lint:disable no-color-hex

:host
    @include flex-column(flex-start, center)
    width: 100%

#add-occupancy
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('small')
    background-color: color('background')
    border: 1px solid
    border-color: color('text')
    border-radius: 5px
    color: color('primary')
    cursor: pointer
    margin-bottom: 25px
    padding: 5px 15px
    text-align: center

#header
    @include flex-row(flex-start, center)
    margin-bottom: 25px
    width: 100%

    #navigator, #view-changer
        @include flex-row(flex-start, center)
        flex: 1
        margin: 0 50px

        .item
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('small')
            background-color: color('background')
            border-bottom: 1px solid
            border-color: color('text')
            border-top: 1px solid
            color: color('primary')
            cursor: pointer
            flex: 1
            padding: 5px 0
            text-align: center

            &:first-child
                border-color: color('text')
                border-left: 1px solid
                border-radius: 5px 0 0 5px

            &:last-child
                border-color: color('text')
                border-radius: 0 5px 5px 0
                border-right: 1px solid

            &:first-child:last-child
                border-color: color('text')
                border-left: 1px solid
                border-radius: 5px
                border-right: 1px solid

            &.active, &:hover
                background-color: color('hoveredBackground')

    #current-date
        color: color('text')
        @include font-montserrat
        @include font-size('medium')
        @include font-weight('medium')
        flex: 1
        margin: 0 50px
        text-align: center

.mobile #header
    @include flex-column(flex-start, center)
    margin: 0

    #navigator, #view-changer, #current-date
        margin: 0
        margin-bottom: 25px
        width: 100%

#container
    @include flex-column(flex-start, center)
    border: 1px solid
    border-color: color('text')
    border-radius: 5px
    overflow: hidden
    width: 100%

    mwl-calendar-month-view, mwl-calendar-week-view, app-location-calendar-day-view
        @include flex-column(flex-start, center)
        width: 100%

        ::ng-deep.cal-month-view, ::ng-deep.cal-week-view
            @include font-montserrat
            width: 100%

        ::ng-deep.cal-event-action
            color: color('primary')
            text-decoration: none

.dark ::ng-deep
    $bg-dark-primary: #1F262D
    $bg-dark-secondary: #394046
    $bg-active: #2C343A
    $text-color: #D5D6D7
    $border-color: rgb(0 0 0 / 60%)

    @include cal-theme((bg-primary: $bg-dark-primary, bg-secondary: $bg-dark-secondary, weekend-color: indianred, bg-active: $bg-active, border-color: $border-color, gray: $bg-dark-secondary, today-bg: $bg-dark-secondary, event-color-primary: $bg-dark-secondary))

#description-container
    @include flex-row(flex-start, flex-start)
    margin-left: 25px
    margin-top: 25px
    width: 100%

    .description
        @include flex-row(center, center)
        margin-right: 25px

        &:last-child
            margin-left: 0

        .color
            border-radius: 10px
            height: 20px
            margin-right: 5px
            width: 20px

        .text-descrption
            color: color('text')
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('small')

.mobile #description-container
    @include flex-column(flex-start, flex-start)

    .description
        margin-top: 5px
