<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<app-editing-navigation-bar
    [backButtonLink]="editMainPageLink"
/>
<authentication-check
    [roles]="['occupancyManager']"
    (onAuthentication)="getOccupancy()"
>
    <text-section
        [title]="'Belegungsplan'"
        [ngClass]="appearance.current + ' ' + deviceType.current"
    >
        <p
            id="add-occupancy"
            role="none"
            (click)="$event.preventDefault(); $event.stopPropagation(); addNewOccupancy()"
        >Neues Event hinzufügen</p>
        <p
            *ngIf="occupancies.isLoading()"
            class="text margin-top-large secondaryColor"
        >Belegungsplan wird geladen</p>
        <p
            *ngIf="occupancies.isFailure()"
            class="text margin-top-large primaryColor"
        >Belegungsplan konnte nicht geladen werden</p>
        <div
            id="header"
            *ngIf="occupancies.isSuccess()"
        >
            <div
                id="navigator"
            >
                <div
                    class="item"
                    mwlCalendarPreviousView
                    [view]="currentView"
                    [(viewDate)]="activeDate"
                    (viewDateChange)="closeActiveDate()"
                >Letzter</div>
                <div
                    class="item"
                    mwlCalendarToday
                    [(viewDate)]="activeDate"
                    (viewDateChange)="closeActiveDate()"
                >Heute</div>
                <div
                    class="item"
                    mwlCalendarNextView
                    [view]="currentView"
                    [(viewDate)]="activeDate"
                    (viewDateChange)="closeActiveDate()"
                >Nächster</div>
            </div>
            <div
                id="view-changer"
            >
                <div
                    class="item"
                    [ngClass]="{ active: currentView === CalendarView.Month }"
                    role="none"
                    (click)="setCurrentView(CalendarView.Month)"
                >Monat</div>
                <div
                    *ngIf="!deviceType.isMobile"
                    class="item"
                    [ngClass]="{ active: currentView === CalendarView.Week }"
                    role="none"
                    (click)="setCurrentView(CalendarView.Week)"
                >Woche</div>
                <div
                    class="item"
                    [ngClass]="{ active: currentView === CalendarView.Day }"
                    role="none"
                    (click)="setCurrentView(CalendarView.Day)"
                >Tag</div>
            </div>
            <div
                id="current-date"
            >{{ activeDate | calendarDate:(currentView + 'ViewTitle'):'de' }}</div>
        </div>
        <div
            *ngIf="occupancies.isSuccess()"
            id="container"
            [ngSwitch]="currentView"
        >
            <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                [viewDate]="activeDate"
                [events]="events(occupancies.content)"
                [activeDayIsOpen]="activeDateIsOpen"
                (dayClicked)="dateClicked($event.day)"
                (eventClicked)="eventClicked($event.event)"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
            />
            <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [viewDate]="activeDate"
                [events]="events(occupancies.content)"
                (dayHeaderClicked)="viewDate($event.day.date)"
                (eventClicked)="eventClicked($event.event)"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [dayStartHour]="8"
                [dayEndHour]="24"
            />
            <app-location-calendar-day-view
                *ngSwitchCase="CalendarView.Day"
                [viewDate]="activeDate"
                [events]="events(occupancies.content)"
                [locale]="locale"
                [dayStartHour]="8"
                [dayEndHour]="24"
            />
        </div>
        <div
            *ngIf="occupancies.isSuccess()"
            id="description-container"
        >
            <div
                *ngFor="let location of Location.all; trackBy: trackByIdentity"
                class="description"
            >
                <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
                <p
                    class="color"
                    [ngStyle]="{
                        backgroundColor: Location.color(location).primary
                    }"
                ></p>
                <p
                    class="text-descrption"
                >{{ Location.description(location) }}</p>
            </div>
        </div>
    </text-section>
</authentication-check>
