<text-section
    [title]="'Schauen Sie auch mal bei unseren Social-Media Kanälen vorbei!'"
>
    <div
        id="link-rows"
    >
        <div
            class="link-row"
            *ngFor="let linkRow of socialMediaItems; trackBy: trackByIdentity"
        >
            <a
                class="social-media-link"
                *ngFor="let socialMediaLink of linkRow; trackBy: SocialMediaItem.trackById"
                [href]="socialMediaLink.link.link"
                [target]="socialMediaLink.link.target"
                [title]="socialMediaLink.link.title"
            >
                <!-- eslint-disable @angular-eslint/template/no-call-expression -->
                <fa-icon
                    *ngIf="isIcon(socialMediaLink.image)"
                    class="icon textColor"
                    [icon]="socialMediaLink.image"
                />
                <img
                    *ngIf="!isIcon(socialMediaLink.image) && appearance.current === 'light'"
                    class="icon"
                    [src]="socialMediaLink.image.lightModeSource"
                    [title]="socialMediaLink.title"
                    [alt]="socialMediaLink.title"
                >
                <img
                    *ngIf="!isIcon(socialMediaLink.image) && appearance.current === 'dark'"
                    class="icon"
                    [src]="socialMediaLink.image.darkModeSource"
                    [title]="socialMediaLink.title"
                    [alt]="socialMediaLink.title"
                >
                <!-- eslint-enable @angular-eslint/template/no-call-expression -->
                <p
                    class="title primaryColor"
                >{{ socialMediaLink.title }}</p>
                <p
                    class="name secondaryColor"
                >{{ socialMediaLink.name }}</p>
            </a>
        </div>
    </div>
</text-section>
