@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

#link-rows
    @include flex-column(center, center)
    width: 85%

    .link-row
        @include flex-row(flex-start, center)
        width: 100%

        .social-media-link
            @include flex-column(flex-start, center)
            border-radius: 8px
            cursor: pointer
            flex: 1
            margin: 16px
            padding: 16px
            text-decoration: none

            .title, .name
                @include font-montserrat
                text-align: center

            .icon
                font-size: 80px
                height: 80px
                margin-bottom: 12px
                text-align: center

            .title
                @include font-size('medium')
                @include font-weight('small')
                margin-bottom: 8px

            .name
                @include font-size('normal')
                @include font-weight('small')

            &:hover
                background-color: color('hoveredBackground')
