<navigation-bar
    [navigationBarData]="navigationBarData"
/>
<authentication-check
    [roles]="['websiteManager']"
    loginLink="editing/login"
>
    <text-section
        *ngIf="!previousEvent"
        title="Spiel von BFV übernehmen"
    >
        <p
            class="text margin-bottom-large"
        >Um ein Spiel der 1. oder 2. Mannschaft von BFV zu übernehmen, fügen Sie den Link zum BFV Spiel hier ein, bsp: www.bfv.de/spiele/...</p>
        <input-form
            [inputForm]="bfvGameInputForm"
            submitButtonText="Übernehmen"
            (submitButtonClicked)="takeBfvGame()"
        >
        <text-input
            label="BFV Spiele Link"
            [inputField]="bfvGameInputForm.field('bfvGameLink')"
        />
        <!--p
            class="hint textColor"
        >Achtung! Die Anzeige hat einen Fehler. Die Felder werden nicht ausgefüllt, werden aber trotzdem übernommen. Um das Spiel as Termin zu speichern, klicke auf erst auf 'Übernehmen' und dann auf 'Hinzufügen' unten auf der Seite.</p-->
        </input-form>
    </text-section>
    <text-section
        title="Kommender Termin"
    >
        <input-form
            [inputForm]="inputForm"
            [submitButtonText]="previousEvent ? 'Speichern' : 'Hinzufügen'"
            (submitButtonClicked)="saveEvent()"
        >
            <select-input
                label="Zugehöriges Thema"
                [selectOptions]="groupIdSelectOptions"
                [inputField]="inputForm.field('groupId')"
            />
            <text-input
                label="Titel"
                [inputField]="inputForm.field('title')"
            />
            <text-input
                label="Untertitel"
                placeholder="Untertitel (optional)"
                [inputField]="inputForm.field('subtitle')"
            />
            <checkbox-input
                label="Wichtiger Termin"
                [inputField]="inputForm.field('isImportant')"
            />
            <text-input
                label="Link"
                placeholder="Link (optional)"
                [inputField]="inputForm.field('link')"
            />
            <date-time-input
                label="Datum / Uhrzeit"
                [inputField]="inputForm.field('date')"
            />
        </input-form>
    </text-section>
</authentication-check>
