<app-editing-navigation-bar
    backButtonLink="bearbeiten"
/>
<authentication-check
    [roles]="['websiteManager']"
    (onAuthentication)="getNewsletter()"
>
    <text-section
            title="Newsletter bearbeiten"
    >
        <p
            id="add-newsletter"
            role="none"
            (click)="$event.preventDefault(); $event.stopPropagation(); addNewNewsletter()"
        >Neuen Newsletter hinzufügen</p>
        <p
            *ngIf="!newsletter"
            class="text margin-top-large secondaryColor"
        >Newsletter werden geladen</p>
        <div
            *ngFor="let newsletter of newsletter; trackBy: TrackBy.property('id')"
            class="newsletter"
            [ngClass]="deviceType.current"
        >
            <div
                class="title-container"
            >
            <p
                class="title textColor"
            >{{ newsletter.title + ' | ' + newsletter.date.description }}</p>
            <p
                class="subtitle secondaryColor"
            >{{ Month.title[newsletter.month] }} {{ newsletter.year }}</p>
            </div>
            <p
                class="edit-button primaryColor"
                role="none"
                (click)="$event.preventDefault(); $event.stopPropagation(); editNewsletter(newsletter.id)"
            >Bearbeiten</p>
            <p
                class="delete-button primaryColor"
                role="none"
                (click)="$event.preventDefault(); $event.stopPropagation(); deleteNewsletter(newsletter.id)"
            >Löschen</p>
        </div>
    </text-section>
</authentication-check>
