@import '/src/sass/flex'
@import '/src/sass/text'

:host
    @include flex-column(flex-start, center)
    width: 100%

    &::ng-deep > *
        @include flex-row(center, center)
        border: 1px solid
        border-bottom: 0
        min-height: 30px
        padding: 5px
        width: 100%

        &:first-child
            border-radius: 5px 5px 0 0

        &:last-child
            border-bottom: 1px solid
            border-radius: 0 0 5px 5px

        &:first-child:last-child
            border-radius: 5px
