<span class="text-section">
  <h1 class="no-bottom-space">F-Jugend des SV Kleinsendelbach</h1>
</span>
<app-component-events [eventGroupIds]="eventGroupIds">
</app-component-events>
<app-component-results [pageId]="'football-youth/f-youth'">
</app-component-results>
<app-component-contact [pageId]="'football-youth/f-youth'">
</app-component-contact>
<app-component-training-time [pageId]="'football-youth/f-youth'">
</app-component-training-time>
<span class="text-section">
  <h1>Kader</h1>
  <img class="image" src="assets/images/f_jugend_2019.jpg" title="F-Jugend">
</span>
