.add-new-button
    width: 50%
    align-self: center
    margin-bottom: 25px

.event-group
    width: 100%

    .group-name
        margin-top: 25px
        margin-bottom: 5px

    &:first-child .group-name
        margin-top: 0
