@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100%

.form
  @include flex-column(flex-start, center)
  width: 65%

  #cancel-submit-container
    @include flex-row(flex-start, center)
    width: 100%
    gap: 32px

    button.submit, button.cancel
      @include font-montserrat
      @include font-size('large')
      @include font-weight('normal')
      cursor: pointer
      text-align: center
      flex: 1
      height: 48px
      vertical-align: middle
      border: solid 1px
      border-radius: 8px

  .status
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    margin-top: 8px
    text-align: left
    width: 100%

  &.tablet
    width: 85%

  &.mobile
    width: 100%

    #cancel-submit-container
      @include flex-column(flex-start, center)
      gap: 16px

      button.submit, button.cancel
        width: 100%
