<div
  #form
  class="form"
  [ngClass]="deviceType.className"
>

  <!-- Control fields -->
  <app-input-field
    *ngFor="let fieldEntry of inputForm.fields"
    [id]="fieldEntry.id"
    [field]="fieldEntry.field"
  ></app-input-field>

  <!-- Cancel and submit button -->
  <div
    id="cancel-submit-container"
  >
    <button
      *ngIf="cancelButtonText !== undefined && cancelButtonClicked !== undefined"
      class="cancel"
      type="button"
      (click)="$event.preventDefault(); $event.stopPropagation(); cancelButtonClicked.emit()"
      [ngStyle]="{
        color: styleConfig.css('textColor'),
        backgroundColor: styleConfig.css('backgroundColor'),
        borderColor: styleConfig.css('textColor')
      }"
    >{{ cancelButtonText }}</button>
    <button
      class="submit"
      type="button"
      (click)="$event.preventDefault(); $event.stopPropagation(); submitButtonClicked.emit()"
      [ngStyle]="{
        color: styleConfig.css('textColor'),
        backgroundColor: styleConfig.css('backgroundColor'),
        borderColor: styleConfig.css(inputForm.status === 'loading' ? 'formInfoStatusColor' : (inputForm.status === 'valid' ? 'textColor' : (inputForm.status === 'sendSucceded' ? 'formSuccessStatusColor' : 'formErrorStatusColor')))
      }"
    >{{ submitButtonText }}</button>
  </div>

  <!-- Error message -->
  <p
    *ngIf="inputForm.statusMessage !== undefined"
    class="status"
    [ngStyle]="{
      color: formStatusColor(inputForm.statusMessage.level)
    }"
  >{{ inputForm.statusMessage.message }}</p>

</div>
