<div
  #form
  class="form"
  [ngClass]="deviceType.className"
>
  <ng-content></ng-content>

  <!-- Cancel and submit button -->
  <div
    id="cancel-submit-container"
  >
    <button
      *ngIf="cancelButtonText !== undefined && cancelButtonClicked !== undefined"
      class="cancel"
      type="button"
      (click)="cancelButtonClicked.emit(); $event.stopPropagation()"
      [ngStyle]="{
        color: styleConfig.css('textColor'),
        backgroundColor: styleConfig.css('backgroundColor'),
        borderColor: styleConfig.css('textColor')
      }"
    >{{ cancelButtonText }}</button>
    <button
      class="submit"
      type="button"
      (click)="submitButtonClicked.emit(); $event.stopPropagation()"
      [ngStyle]="{
        color: styleConfig.css('textColor'),
        backgroundColor: styleConfig.css('backgroundColor'),
        borderColor: styleConfig.css(inputFields.status === 'loading' ? 'formInfoStatusColor' : (inputFields.status === 'valid' ? 'textColor' : (inputFields.status === 'sendSucceded' ? 'formSuccessStatusColor' : 'formErrorStatusColor')))
      }"
    >{{ submitButtonText }}</button>
  </div>

  <!-- Error message -->
  <p
    *ngIf="inputFields.statusMessage !== undefined"
    class="status"
    [ngStyle]="{
      color: formStatusColor(inputFields.statusMessage.level)
    }"
  >{{ inputFields.statusMessage.message }}</p>

</div>
