@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100vw
  margin-top: 3em

#footer
  @include flex-row(center, center)
  width: 100%
  box-shadow: #80808080 0em -0.25em 1em
  padding: 2em 0

  #links-copyright
    @include flex-column(center, center)
    flex: 1
    margin: 0 1em

    #links
      @include flex-column(center, center)
      width: 100%

      .link
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('normal')
        text-decoration: none
        white-space: nowrap
        padding: 0.5em
        margin: 0.1em 0
        width: 100%
        border-radius: 0.25em
        text-align: center

    #copyright
      @include font-montserrat
      @include font-size('xx-small')
      @include font-weight('light')
      margin-top: 0.5em

    #edit-link
      @include font-montserrat
      @include font-size('normal')
      @include font-weight('small')
      cursor: pointer
      text-align: center
      padding: 0.2em 0.5em
      margin-top: 0.5em
      border: 0.075em solid
      border-radius: 0.25em
      text-decoration: none

  .address-card
    $cover-height: 6em
    $under-sheet-height: 5em
    @include flex-column(center, center)
    flex: 1
    margin: 0 1em

    .top
      @include flex-column(center, center)
      width: 100%
      height: $cover-height
      transition: .5s
      transform: translateY(0.25 * ($cover-height + $under-sheet-height))
      z-index: 902
      border-radius: 0.5em
      // box-shadow: #80808080 0 0 1em

      .function, .name
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        white-space: nowrap
        margin: 0.1em

    .bottom
      @include flex-column(center, center)
      width: 100%
      height: $under-sheet-height
      transition: .5s
      transform: translateY(-0.25 * ($cover-height + $under-sheet-height))
      z-index: 901
      border-radius: 0.5em
      opacity: 0

      .street, .city
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        white-space: nowrap
        margin: 0.1em

      .telephone
        @include flex-row(center, center)
        text-decoration: none
        cursor: pointer

        .icon, .number
          @include font-size('normal')
          @include font-weight('small')
          white-space: nowrap
          line-height: 1em

        .number
          @include font-montserrat
          margin-left: 0.25em

    &:hover
      .top
        transform: translateY(0)
        border-radius: 0.5em 0.5em 0 0

      .bottom
        transform: translateY(0)
        border-radius: 0 0 0.5em 0.5em
        // box-shadow: #80808080 0 0 1em
        opacity: 1

  &.desktop
    #links-copyright, .address-card
      margin: 0 2em

