@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%
  margin-top: 75px

.opening-hours
    @include flex-column(center, flex-start)
    width: 100%

    .row
        @include flex-row(space-between, flex-start)
        margin: 16px 0

        .item
            @include flex-column(center, flex-start)
            padding: 0 8px
            flex: 1

            .title
                font-family: 'Montserrat', sans-serif
                font:
                    size: 16px
                    weight: 400
                color: #24252A
                text-align: center
                padding-bottom: 8px

            .time
                font-family: 'Montserrat', sans-serif
                text-align: center
                font:
                    size: 16px
                    weight: 400
                color: #868E90
