@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    margin-bottom: 20px
    width: 100%
    height: 320px

#textarea
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    background-color: color('background')
    border: 1px solid color('text')
    border-radius: 8px
    color: color('text')
    cursor: pointer
    padding: 0 10px
    resize: none
    height: 100%
    text-align: start
    vertical-align: middle
    width: calc(100% - 20px)

    &.error
        border: 1px solid color('formStatusError')
