<div
    id="header-item"
    [ngClass]="{
        expanded: expandedHeaderItemId === headerItem.id
    }"
>

    <!-- Top item without sub items -->
    <a
        *ngIf="!headerItem.subItems"
        [link]="headerItem.topItem"
        id="top-item"
    >
        <div
            id="top-item-text"
        >{{ headerItem.topItem.title }}</div>
    </a>

    <!-- Top item with sub items -->
    <div
        id="top-item"
        *ngIf="headerItem.subItems"
        role="none"
        (click)="$event.preventDefault(); $event.stopPropagation(); handleHeaderItemClick()"
    >
        <div
            id="top-item-text"
        >{{ headerItem.topItem.title }}</div>
        <fa-icon
            *ngIf="expandedHeaderItemId !== headerItem.id"
            icon="caret-down"
            class="drop-down-arrow"
        />
        <fa-icon
            *ngIf="expandedHeaderItemId === headerItem.id"
            icon="caret-up"
            class="drop-down-arrow"
        />
    </div>

    <!-- Sub items -->
    <div
        id="sub-items"
        *ngIf="headerItem.subItems"
    >
        <div
            class="sub-item"
            *ngFor="let subItem of headerItem.subItems; trackBy: TrackBy.id"
        >
        <a
            [link]="subItem.link"
            class="sub-item-text"
        >{{ subItem.link.title }}</a>
        </div>
    </div>

</div>
