<div
    id="header-item"
    [ngClass]="{
        expanded: expandedHeaderItemId === headerItem.id
    }"
>

    <!-- Top item without sub items -->
    <a
        id="top-item"
        *ngIf="!headerItem.subItems"
        [href]="headerItem.topItem.link"
        [target]="headerItem.topItem.target"
        [title]="headerItem.topItem.title"
    >
        <div
            id="top-item-text"
        >{{ headerItem.topItem.title }}</div>
    </a>

    <!-- Top item with sub items -->
    <div
        id="top-item"
        *ngIf="headerItem.subItems"
        role="none"
        (click)="$event.preventDefault(); $event.stopPropagation(); handleHeaderItemClick()"
    >
        <div
            id="top-item-text"
        >{{ headerItem.topItem.title }}</div>
        <fa-icon
            *ngIf="expandedHeaderItemId !== headerItem.id"
            [icon]="faCaretDown"
            class="drop-down-arrow"
        />
        <fa-icon
            *ngIf="expandedHeaderItemId === headerItem.id"
            [icon]="faCaretUp"
            class="drop-down-arrow"
        />
    </div>

    <!-- Sub items -->
    <div
        id="sub-items"
        *ngIf="headerItem.subItems"
    >
        <div
            class="sub-item"
            *ngFor="let subItem of headerItem.subItems; trackBy: SubItem.trackById"
        >
        <a
            class="sub-item-text"
            [href]="subItem.link.link"
            [target]="subItem.link.target"
            [title]="subItem.link.title"
        >{{ subItem.link.title }}</a>
        </div>
    </div>

</div>
