@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
  @include flex-column(flex-start, center)

  &:nth-last-child(1) #header-item #top-item
    border-radius: 0 0 8px 8px

  .expanded + &
    #header-item #top-item
      border-radius: 8px 8px 0 0

    &:nth-last-child(1) #header-item #top-item
      border-radius: 8px

#header-item
  @include flex-column(flex-start, center)
  width: 90vw

  #top-item
    @include flex-row(center, center)
    height: 48px
    cursor: pointer
    text-decoration: none
    width: 100%
    padding: 0 4px
    @include dynamic-color(background-color, 'background')

    #top-item-text
      @include font-metrophobic
      @include font-size('normal')
      @include font-weight('medium')
      line-height: 48px
      @include dynamic-color(color, 'text')

    .drop-down-arrow
      margin-left: 8px
      @include dynamic-color(color, 'text')

  #sub-items
    @include flex-column(flex-start, center)
    width: 100%
    display: none
    margin-bottom: 16px

    .sub-item
      @include flex-row(center, center)
      width: 90%
      padding: 8px 0
      cursor: pointer
      @include dynamic-color(background-color, 'background')

      .sub-item-text
        @include font-metrophobic
        @include font-size('small')
        @include font-weight('medium')
        text-decoration: none
        @include dynamic-color(color, 'text')

      &:nth-last-child(1)
        padding-bottom: 16px
        border-radius: 0 0 8px 8px

  &.expanded
    #top-item
      border-radius: 0 0 8px 8px

    #sub-items
      display: flex
