<app-editing-navigation-bar
    backButtonLink="bearbeiten/newsletter"
/>
<authentication-check
    [roles]="['websiteManager']"
>
    <text-section
        title="Newsletter veröffentlichen"
    >
        <p
            *ngIf="!newsletter"
            class="text primaryColor"
        >Es wurde kein Newsletter übergeben. Gehe eine Seite zurück und versuche es erneut.</p>
        <p
            *ngIf="newsletter"
            class="text"
        >Um den Newsletter "{{ newsletter.id }}" vom {{ Month.title[newsletter.month] }} {{ newsletter.year }} zu veröffentlichen, kopiere die Html für die Email in das Textfeld.</p>
        <input-form
            *ngIf="newsletter"
            [inputForm]="inputForm"
            submitButtonText="Veröffentlichen"
            (submitButtonClicked)="publishNewsletter()"
        >
            <input-field-textarea
                label="Html für E-Mail"
                [inputField]="inputForm.field('html')"
            />
        </input-form>
    </text-section>
</authentication-check>
