@import '/src/sass/color'
@import '/src/sass/text'
@import '/src/sass/flex'

#spacer
    height: 20px

#title-container
    @include flex-row(center, center)
    width: 100%

    .logo
        height: 75px

    #title
        @include font-metrophobic
        font-size: 50px
        font-weight: 400
        margin: 0 35px
        text-align: center
        width: auto
