@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%

.social-media .container
  @include flex-row(space-around, flex-start)
  width: 100%
  margin-top: 25px

  .link
    @include flex-column(center, flex-end)
    text-decoration: none
    cursor: pointer
    padding: 20px
    border-radius: 10px

    .icon
      height: 75px
      font-size: 75px
      line-height: 75px
      color: #24252A
      margin-bottom: 25px

    .text1, .text2
      color: #868E90
      white-space: nowrap
      font:
        size: 18px
        weight: 400
        family: 'Montserrat', sans-serif
      text-align: center

    .text1
      color: #CF1D16
      margin-bottom: 10px

    &:hover
      background-color: #e0e0e0
      .text2
        color: #1f3a95

  &.mobile
    @include flex-column(center, flex-start)

@media screen and (prefers-color-scheme: dark)
  .social-media .container
    .link
      .icon
        color: #C8D6E5

      .text2
        color: #868E90
      &:hover
        background-color: #44454A
        .text2
          color: #7793F1
