<app-top-news></app-top-news>
<app-home-links></app-home-links>
<span class="text-section">
  <h1>
    Schön, dass Sie unsere Website besuchen!
  </h1>
  <p class="medium center">
    Haben Sie Lust auf Fußball, Gymnastik oder Kindertanz? Dann informieren Sie sich unter der entsprechenden Abteilung auf unserer Homepage oder senden Sie uns eine Nachricht.
  </p>
  <p class="medium center">
    Wir freuen uns auf Sie!
    <br>
    Ihre Vorstandschaft des SV Kleinsendelbach
  </p>
  <p class="medium red">
    Der SVK bedankt sich herzlich bei allen Sponsoren und Gönnern.
  </p>
</span>
<!-- TODO: Social Media -->
<!-- TODO: News -->
<!-- TODO: Ergebnisse -->
