@import '../../../../node_modules/kleinsendelbach-website-library/styles/index'

.title-container
    @include flex-row(center, center)
    align-self: center

    .logo
        height: 100px

    .title
        @include font($size: 'xxlarge', $weight: 'light')
        margin: 0 35px
