@import '/src/sass/flex'

:host
  @include flex-column(center, flex-start)
  width: 100vw

.bgimage
  position: absolute
  top: 0
  z-index: -1
  margin-top: 75px

.content
  @include flex-row(center, center)
  width: 100vw
  margin-top: 75px

  .loading
    font-family: 'MetropolisExtraLight', Helvetica Neue, Helvetica, sans-serif
    color: #24252A
    font-size: 35px
    padding: 10px
    border-radius: 7.5px
    background-color: #a4a5aA80
    box-shadow: 0px 0px 5px 2.5px #a4a5aA80
    text-align: center
