<text-section
    title="Newsletter Abmeldung"
>
    <p
        *ngIf="state === 'loading'"
        class="text center large primaryColor"
    >Sie werden vom Newsletter abgemeldet.</p>
    <p
        *ngIf="state === 'no-id'"
        class="text center large primaryColor"
    >Ihre Id wurde nicht übergeben.</p>
    <p
        *ngIf="state === 'failed'"
        class="text center large primaryColor"
    >Sie konnten nicht vom Newsletter abgemeldet werden.</p>
    <p
        *ngIf="state === 'success'"
        class="text center large primaryColor"
    >Sie haben den Newsletter deabonniert.</p>
</text-section>
