@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%
  margin-top: 75px

.text-section
  .img-link
    @include flex-row(center, center)
    width: 100%
    margin-top: 64px

    .img
      border: none
      width: 25%
      margin-right: 80px

    .link
      font-size: 27px
      width: auto

  &.mobile .img-link
    @include flex-column()

    .img
      width: 75%
      margin-right: 0
      margin-bottom: 64px
