<text-section
    title="Diese Seite ist leider nicht verfügbar"
>
    <p
        class="text align-center color-secondary"
    >Entweder funktioniert der von Ihnen angeklickte Link nicht oder die Seite wurde entfernt.</p>
    <p
        class="text align-center margin-top color-secondary"
    >Ist dies der Fall, nehmen Sie bitte Kontakt mit der Vorstandschaft auf: <a
        class="text"
        link="criticism"
    >Kritik und Vorschläge</a></p>
    <div
        class="image-link"
    >
        <a
            class="link"
            link="home"
        >Zur Startseite</a>
        <img
            class="image"
            src="assets/images/svk-logo.svg"
            title="SV Kleinsendelbach"
            alt="SV Kleinsendelbach"
        >
    </div>
</text-section>
