@import '/src/sass/flex'
@import '/src/sass/text'

#image-link
    @include flex-row(center, center)
    margin-top: 64px
    width: 100%

    #image
        margin-right: 80px
        width: 25%

    #link
        @include font-montserrat
        @include font-size('header')
        @include font-weight('normal')
        cursor: pointer
        text-decoration: none
        width: auto

