<text-section
    title="Diese Seite ist leider nicht verfügbar"
>
    <p
        class="text center secondaryColor"
    >Entweder funktioniert der von Ihnen angeklickte Link nicht oder die Seite wurde entfernt.</p>
    <p
        class="text center margin-top-normal secondaryColor"
    >Ist dies der Fall, nehmen Sie bitte Kontakt mit der Vorstandschaft auf: <a
        link="kritik-vorschläge"
        class="text"
        title="Kontakt"
    >Kritik und Vorschläge</a></p>
    <div
        id="image-link"
    >
        <img
            id="image"
            src="assets/images/svk-logo.svg"
            title="SV Kleinsendelbach"
            alt="SV Kleinsendelbach"
        >
        <a
            link="home"
            id="link"
            class="text"
        >Zur Startseite</a>
    </div>
</text-section>
