<span class="text-section" [ngClass]="deviceType.stringValue">
  <h1>Diese Seite ist leider nicht verfügbar</h1>
  <p class="center">Entweder funktioniert der von Ihnen angeklickte Link nicht oder die Seite wurde entfernt.</p>
  <p class="center">Ist dies der Fall, schreiben Sie uns dies bitte an folgende E-Mail - Adresse: <a class="inline"
      href="mailto:vorstand@sv-kleinsendelbach.de">vorstand@sv-kleinsendelbach.de</a></p>
  <span class="img-link">
    <img src="assets/images/svk-logo.png" class="img">
    <a href="/home" class="link" title="Startseite">Zur Startseite</a>
  </span>
</span>
