@import '/src/sass/flex'
@import '/src/sass/text'

#image-link
  @include flex-row(center, center)
  width: 100%
  margin-top: 64px

  #image
    width: 25%
    margin-right: 80px

  #link
    @include font-montserrat
    @include font-size('header')
    @include font-weight('normal')
    text-decoration: none
    cursor: pointer

