@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    margin-bottom: 20px
    width: 100%

#container
    $width: 60px
    $height: 34px
    $slider-size: 26px
    @include flex-row(center, flex-start)
    width: 100%

    #label
        color: color('text')
        @include flex-row(center, center)
        @include font-montserrat
        @include font-size('large')
        @include font-weight('normal')
        height: $height
        vertical-align: middle

    #checkbox
        $slider-margin: calc(($height - $slider-size) / 2)
        background-color: color('text')
        border-color: color('text')
        border-radius: calc(min($width, $height) / 2)
        cursor: pointer
        height: $height
        margin-left: 20px
        width: $width
        z-index: 300

        #slider
            -webkit-transition: .4s
            background-color: color('background')
            border-radius: calc($slider-size / 2)
            bottom: $slider-margin
            height: $slider-size
            left: $slider-margin
            position: relative
            right: calc($width - $slider-size - $slider-margin)
            top: $slider-margin
            transition: .4s
            width: $slider-size
            z-index: 301

        &.checked
            background-color: color('primary')

            #slider
                left: calc($width - $slider-size - $slider-margin)
                right: $slider-margin
