<div
  id="container"
  [ngClass]="{
      expanded: isExpanded
  }"
>
    <div
        id="top-row"
    >
        <a
            link="home"
            title="Startseite"
            id="logo-container"
        >
        <img
        src="assets/images/svk-logo.svg"
            title="SV Kleinsendelbach"
            alt="SV Kleinsendelbach"
            id="logo"
        >
        <p
            id="logo-text"
        >SV Kleinsendelbach</p>
        </a>
        <fa-icon
            class="hamburger-menu"
            *ngIf="!isExpanded"
            icon="bars"
            (click)="handleHamburgerMenuClick(true)"
        />
        <fa-icon
            class="hamburger-menu"
            *ngIf="isExpanded"
            icon="times"
            (click)="handleHamburgerMenuClick(false)"
        />
    </div>
    <div
        id="header-items"
        *ngIf="isExpanded"
    >
        <mobile-header-item
            *ngFor="let headerItem of headerItems; trackBy: TrackBy.id"
            [ngClass]="{
                expanded: expandedHeaderItemId === headerItem.id
            }"
            [headerItem]="headerItem"
            [expandedHeaderItemId]="expandedHeaderItemId"
            (clickHeaderItemIdEmitter)="handleHeaderItemClick($event)"
        />
    </div>
</div>
<!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
<div
    id="background"
    *ngIf="isExpanded"
    (click)="$event.preventDefault(); $event.stopPropagation(); isExpanded = false; expandedHeaderItemId = null"
></div>
