@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100vw

#container
    @include flex-column(flex-start, center)
    background-color: color('background')
    box-shadow: 0 4px 16px
    color: color('shadow')
    height: 48px
    position: fixed
    top: 0
    width: 100vw
    z-index: 1001

    #top-row
        @include flex-row(center, center)
        height: 48px
        width: 100vw

        #logo-container
            @include flex-row(center, center)
            cursor: pointer
            height: 100%
            text-decoration: none
            width: calc(100% - 32px)

        #logo
            height: 32px

        #logo-text
            color: color('text')
            @include font-metrophobic
            @include font-size('normal')
            @include font-weight('medium')
            margin-left: 16px
            white-space: nowrap

    .hamburger-menu
        color: color('text')
        cursor: pointer
        font-size: 24px
        margin-right: 16px
        width: 24px

    #header-items
        @include flex-column(flex-start, center)
        height: 100%
        width: 100vw

    &.expanded #top-row
        border-bottom: 1px solid color('text')


#background
    height: 100vh
    left: 0
    position: fixed
    top: 0
    width: 100vw
    z-index: 1000
    backdrop-filter: blur(3px)
