<div
  id="container"
>
    <div
        id="top-row"
    >
        <a
            [href]="homeLinkData.homeLink.link"
            [target]="homeLinkData.homeLink.target"
            title="Startseite"
            id="logo-container"
        >
        <img
            [src]="homeLinkData.logoSrc"
            [alt]="homeLinkData.title"
            id="logo"
        >
        <p
            id="logo-text"
        >{{ homeLinkData.title }}</p>
        </a>
        <fa-icon
            class="hamburger-menu"
            *ngIf="!isExpanded"
            [icon]="faBars"
            (click)="handleHamburgerMenuClick(true)"
        />
        <fa-icon
            class="hamburger-menu"
            *ngIf="isExpanded"
            [icon]="faTimes"
            (click)="handleHamburgerMenuClick(false)"
        />
    </div>
    <div
        id="header-items"
        *ngIf="isExpanded"
    >
        <mobile-header-item
            *ngFor="let headerItem of headerItems; trackBy: HeaderItem.trackById"
            [ngClass]="{
                expanded: expandedHeaderItemId === headerItem.id
            }"
            [headerItem]="headerItem"
            [expandedHeaderItemId]="expandedHeaderItemId"
            (clickHeaderItemIdEmitter)="handleHeaderItemClick($event)"
        />
    </div>
</div>
<!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
<div
    id="background"
    *ngIf="isExpanded || expandedHeaderItemId !== null"
    (click)="$event.preventDefault(); $event.stopPropagation(); isExpanded = false; expandedHeaderItemId = null"
></div>
