@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

#show-worked-off-button
    @include dynamic-color(background-color, 'background')
    @include dynamic-color(color, 'primary')
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('small')
    border: 1px solid
    @include dynamic-color(border-color, 'text') // sass-lint:disable-line mixins-before-declarations
    border-radius: 5px
    cursor: pointer
    padding: 5px 35px
    text-align: center
    text-decoration: none

    &:hover
        @include dynamic-color(background-color, 'hoveredBackground')
