<app-editing-navigation-bar
    backButtonLink="bearbeiten"
/>
<authentication-check
    [roles]="['admin']"
    (onAuthentication)="getCriticismSuggestions()"
>
    <text-section
        title="Kritik und Vorschläge"
        [ngClass]="deviceType.current"
    >
        <p
            *ngIf="!fetchedCriticismSuggestions"
            class="text margin-top-large secondaryColor"
        >Kritik und Vorschläge werden geladen</p>
        <p
            *ngIf="fetchedCriticismSuggestions && fetchedCriticismSuggestions.isFailure()"
            class="text margin-top-large primaryColor"
        >Kritik und Vorschläge konnten nicht geladen werden</p>
        <p
            *ngIf="fetchedCriticismSuggestions && fetchedCriticismSuggestions.isSuccess() && fetchedCriticismSuggestions.value.active.length === 0"
            class="text margin-top-large primaryColor"
        >Keine Kritik und Vorschläge</p>
        <div
            *ngIf="fetchedCriticismSuggestions && fetchedCriticismSuggestions.isSuccess()"
            class="list-container"
        >
            <div
                *ngFor="let criticismSuggestion of fetchedCriticismSuggestions.value.active; trackBy: TrackBy.id"
                class="container"
            >
                <div
                    class="header"
                    role="none"
                    (click)="expand(criticismSuggestion)"
                >
                    <p
                        class="type"
                        [ngStyle]="{
                            backgroundColor: CriticismSuggestion.Type.color(criticismSuggestion.type)
                        }"
                    >{{ CriticismSuggestion.Type.description(criticismSuggestion.type) }}</p>
                    <p
                        class="title"
                    >{{ criticismSuggestion.title }}</p>
                    <p
                        class="worked-off"
                        role="none"
                        (click)="$event.stopPropagation(); toggleState(criticismSuggestion)"
                    >Abgearbeitet</p>
                </div>
                <p
                    *ngIf="expandedCriticismSuggestionId === criticismSuggestion.id.guidString"
                    class="description"
                >{{ criticismSuggestion.description }}</p>
            </div>
        </div>
        <p
            *ngIf="fetchedCriticismSuggestions&& fetchedCriticismSuggestions.isSuccess() && !fetchedCriticismSuggestions.value.workedOff"
            id="show-worked-off-button"
            role="none"
            (click)="getCriticismSuggestions('workedOff')"
        >Abgearbeitete anzeigen</p>
    </text-section>
    <text-section
        *ngIf="fetchedCriticismSuggestions&& fetchedCriticismSuggestions.isSuccess() && fetchedCriticismSuggestions.value.workedOff && fetchedCriticismSuggestions.value.workedOff.length !== null"
        title="Abgearbeitete Kritik und Vorschläge"
        [ngClass]="deviceType.current"
    >
        <div
            class="list-container"
        >
            <div
                *ngFor="let criticismSuggestion of fetchedCriticismSuggestions.value.workedOff; trackBy: TrackBy.id"
                class="container"
            >
                <div
                    class="header"
                    role="none"
                    (click)="expand(criticismSuggestion)"
                >
                    <p
                        class="type"
                        [ngStyle]="{
                            backgroundColor: CriticismSuggestion.Type.color(criticismSuggestion.type)
                        }"
                    >{{ CriticismSuggestion.Type.description(criticismSuggestion.type) }}</p>
                    <p
                        class="title"
                    >{{ criticismSuggestion.title }}</p>
                    <p
                        class="worked-off"
                        role="none"
                        (click)="$event.stopPropagation(); toggleState(criticismSuggestion)"
                    >Rückgänging</p>
                </div>
                <p
                    *ngIf="expandedCriticismSuggestionId === criticismSuggestion.id.guidString"
                    class="description"
                >{{ criticismSuggestion.description }}</p>
            </div>
        </div>
        <p
            *ngIf="fetchedCriticismSuggestions.value.workedOff.length === 0"
            class="text margin-top-large primaryColor"
        >Keine abgearbeitete Kritik und Vorschläge</p>
    </text-section>
</authentication-check>
