@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

#show-worked-off-button
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('small')
    background-color: color('background')
    border: 1px solid
    border-color: color('text')
    border-radius: 5px
    color: color('primary')
    cursor: pointer
    padding: 5px 35px
    text-align: center
    text-decoration: none

    &:hover
        background-color: color('hoveredBackground')

.list-container
    @include flex-column(flex-start, center)
    margin-bottom: 25px
    width: 100%

    .container
        @include flex-column(flex-start, center)
        background-color: color('background')
        border: 1px solid
        border-bottom: 0
        border-color: color('text')
        overflow: hidden
        width: 100%

        &:first-child
            border-radius: 5px 5px 0 0

        &:last-child
            border-bottom: 1px solid
            border-color: color('text')
            border-radius: 0 0 5px 5px

        &:first-child:last-child
            border-radius: 5px

        .header
            @include flex-row(center, center)
            cursor: pointer
            width: 100%

            .type
                @include font-montserrat
                @include font-size('normal')
                @include font-weight('small')
                border-color: color('text')
                border-right: 1px solid
                color: color('text')
                padding: 5px 0
                text-align: center
                width: 10%

            .title
                color: color('text')
                @include font-montserrat
                @include font-size('normal')
                @include font-weight('small')
                padding: 5px 20px
                width: 70%

            .worked-off
                @include font-montserrat
                @include font-size('normal')
                @include font-weight('small')
                border-color: color('text')
                border-left: 1px solid
                border-radius: 5px 0 0 5px
                color: color('primary')
                cursor: pointer
                padding: 5px 0
                text-align: center
                width: 20%

                &:hover
                    background-color: color('hoveredBackground')

        .description
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('small')
            border-color: color('text')
            border-top: 1px dashed
            color: color('text')
            padding: 10px 20px
            width: calc(100% - 40px)

.mobile .list-container .container .header
    @include flex-column(flex-start, center)

    .type, .title, .worked-off
        border: 0
        text-align: center
        width: 100%
