<div
    id="container"
>
    <a
        [href]="homeLinkData.homeLink.link"
        [target]="homeLinkData.homeLink.target"
        title="Startseite"
        id="logo-container"
    >
        <img
            [src]="homeLinkData.logoSrc"
            [title]="homeLinkData.title"
            [alt]="homeLinkData.title"
            id="logo"
        >
        <p
            id="logo-text"
        >{{ homeLinkData.title }}</p>
    </a>
    <div
        id="header-items"
    >
        <desktop-header-item
            *ngFor="let headerItem of headerItems; trackBy: TrackBy.id"
            [headerItem]="headerItem"
            [expandedHeaderItemId]="expandedHeaderItemId"
            (clickHeaderItemIdEmitter)="handleHeaderItemClick($event)"
        />
    </div>
</div>
<!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
<div
    id="background"
    *ngIf="expandedHeaderItemId !== null"
    (click)="$event.preventDefault(); $event.stopPropagation(); expandedHeaderItemId = null"
></div>
