@import '/src/sass/flex'
@import '/src/sass/text'

:host
  @include flex-column(flex-start, center)
  width: 100%

#back-btn-container
  @include flex-row(center, flex-start)
  width: 100%

  #back-button
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('small')
    cursor: pointer
    text-align: center
    border: 1px solid
    border-radius: 5px
    padding: 5px 15px
    margin-top: 20px
    margin-left: 20px
    text-decoration: none

#add-news
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('small')
    cursor: pointer
    text-align: center
    border: 1px solid
    border-radius: 5px
    padding: 5px 15px
    margin-bottom: 25px

.container
  @include flex-column(flex-start, center)
  width: 100%

  .news
    @include flex-row(center, center)
    width: 95%
    border: 1px solid
    border-bottom: none
    padding: 5px

    &:first-child
      border-radius: 5px 5px 0 0

    &:last-child
      border-bottom: 1px solid
      border-radius: 0 0 5px 5px

    &:first-child:last-child
      border-radius: 5px

    .title-container
      @include flex-column(center, flex-start)
      flex: 3
      margin-left: 10px

      .title
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        margin-bottom: 2px

      .subtitle
        @include font-montserrat
        @include font-size('small')
        @include font-weight('small')

    .edit-button, .delete-button, .disable-button, .disable-update-text
      @include flex-row(center, center)
      @include font-montserrat
      @include font-size('normal')
      @include font-weight('small')
      cursor: pointer
      flex: 1
      margin: 10px

    .disable-update-text
      cursor: auto
