@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    margin-bottom: 20px
    width: 100%

#container
    @include flex-row(center, center)
    @include dynamic-color(background-color, 'background')
    @include dynamic-color(border-color, 'text')
    border: solid 1px
    border-radius: 8px
    height: 48px
    overflow: hidden
    width: 100%

    &.error
        @include dynamic-color(border-color, 'formStatusError')

    .option
        @include flex-row(center, center)
        @include dynamic-color(color, 'text')
        @include font-montserrat
        @include font-size('large')
        @include font-weight('normal')
        cursor: pointer
        flex: 1
        height: 48px
        text-align: center

        &.selected
            @include dynamic-color(color, 'primary')
            @include dynamic-color(background-color, 'hoveredBackground')
            border-left: 1px solid
            border-radius: 5px
            border-right: 1px solid
            @include dynamic-color(border-color, 'text')

            &:first-child
                border-left: 0

            &:last-child
                border-right: 0

        &:hover
            @include dynamic-color(background-color, 'hoveredBackground')

    &.mobile
        @include flex-column(center, center)
        height: auto

        .option
            width: 100%

            &.selected
                border: 0
                border-bottom: 1px solid
                border-top: 1px solid
                @include dynamic-color(border-color, 'text')

                &:first-child
                    border-top: 0

                &:last-child
                    border-bottom: 0

