@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    margin-bottom: 20px
    width: 100%

#container
    @include flex-row(center, center)
    background-color: color('background')
    border: solid 1px
    border-color: color('text')
    border-radius: 8px
    height: 48px
    overflow: hidden
    width: 100%

    &.error
        border-color: color('formStatusError')

    .option
        @include flex-row(center, center)
        color: color('text')
        @include font-montserrat
        @include font-size('large')
        @include font-weight('normal')
        cursor: pointer
        flex: 1
        height: 48px
        text-align: center

        &.selected
            background-color: color('hoveredBackground')
            border-left: 1px solid
            border-radius: 5px
            border-right: 1px solid
            color: color('primary')
            border-color: color('text')

            &:first-child
                border-left: 0

            &:last-child
                border-right: 0

        &:hover
            background-color: color('hoveredBackground')

    &.mobile
        @include flex-column(center, center)
        height: auto

        .option
            width: 100%

            &.selected
                border: 0
                border-bottom: 1px solid
                border-color: color('text')
                border-top: 1px solid

                &:first-child
                    border-top: 0

                &:last-child
                    border-bottom: 0

