<text-section
    title="2. Mannschaft der SG Kleinsendelbach / Hetzles"
>
    <p
        class="text color-secondary"
    >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <p
        class="text margin-top color-secondary"
    >Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</text-section>

<text-section
    title="Kontakt"
>
    <contacts
        [contactsData]="contactsData"
    />
</text-section>

<text-section
    title="Kommende Termine"
>
    <events
        [eventGroups]="eventGroups"
        [eventGroupTitle]="eventGroupTitle"
        [getCalendarSubscriptionLink]="getCalendarSubscriptionLink"
    />
</text-section>

<text-section
    title="Ergebnisse und Tabellen"
>
    <bfv-widget
        class="bfv-widget"
        [teamId]="bfvWidgetTeamId"
    ></bfv-widget>
</text-section>

<text-section
    title="Aktuelle Berichte"
>
    <reports
        [reportGroups]="reportGroups"
        [reportGroupTitle]="reportGroupTitle"
    />
</text-section>

<text-section
    title="Trainingszeiten"
>
    <p
        class="text align-center margin-bottom-large color-secondary"
    >Das Training findet jeden Dienstag und Donnerstag von 19:00Uhr - 20:30Uhr abwechselnd in Kleinsendelbach und Hetzles am B-Platz an der Sendelmühlstraße statt.</p>
    <maps
        class="maps"
        [apiKey]="googleMapsApiKey"
        [options]="mapOptions"
        [markers]="mapMarkers"
    />
</text-section>

<text-section
    title="Kader"
>
    <squad
        [squadData]="squadData"
    />
</text-section>
