<span class="text-section">
  <h1 class="no-bottom-space">2. Mannschaft der SG Kleinsendelbach / Hetzles</h1>
</span>
<app-component-events [eventGroupIds]="eventGroupIds">
</app-component-events>
<app-component-results [pageId]="'football-adults/second-team'">
</app-component-results>
<app-component-contact [pageId]="'football-adults/second-team'">
</app-component-contact>
<app-component-training-time [pageId]="'football-adults/second-team'">
</app-component-training-time>
<app-component-squad [parametersPath]="'teamParameters/second-team'">
</app-component-squad>
