<!-- eslint-disable @angular-eslint/template/no-interpolation-in-attributes -->
<div
    id="footer"
    [ngClass]="deviceType.current"
>
    <div
        id="links-copyright"
    >
        <div
            id="links"
        >
        <a
            *ngFor="let link of links; trackBy: TrackBy.property('link')"
            [link]="link"
            class="link"
        >{{ link.title }}</a>
        <div
            id="appearance-container"
        >
            <p
                class="text"
            >Style</p>
            <app-appearance-selector
                class="selector"
            />
            <p
                class="text"
            >{{ appearanceService.configDescription }}</p>
        </div>
        </div>
        <p
            id="copyright"
        >© Copyright 2023 SV Kleinsendelbach e.V.</p>
        <a
            link="bearbeiten"
            id="edit-link"
        >Bearbeiten</a>
    </div>

    <div
        class="address-card"
        *ngFor="let contact of contactItems; trackBy: TrackBy.property('name')"
    >
        <div
            class="top"
        >
            <p
                class="function"
            >{{ contact.function }}</p>
            <p
                class="name"
            >{{ contact.name }}</p>
        </div>
        <div
            class="bottom"
        >
            <p
                class="street"
            >{{ contact.street }}</p>
            <p
                class="city"
            >{{ contact.city }}</p>
            <a
                class="telephone"
                href="tel:{{ contact.telephone.number }}"
                [title]="contact.name"
            >
                <fa-icon
                    class="icon"
                    icon="phone"
                />
                <p
                    class="number"
                >{{ contact.telephone.text }}</p>
            </a>
        </div>
    </div>
</div>
