@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
  @include flex-column(flex-start, center)
  width: 100vw
  margin-top: 48px

#footer
  @include flex-row(center, center)
  width: 100%
  box-shadow: color('shadow') 0 -4px 16px
  padding: 32px 0
  background-color: color('background')

  #links-copyright
    @include flex-column(center, center)
    flex: 1
    margin: 0 16px

    #links
      @include flex-column(center, center)
      width: 100%

      .link
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('normal')
        text-decoration: none
        white-space: nowrap
        padding: 8px
        margin: 1px 0
        width: 100%
        border-radius: 4px
        text-align: center
        color: color('text')

        &:hover
            color: color('primary')
            background-color: color('hoveredBackground')

    #copyright
      @include font-montserrat
      @include font-size('xx-small')
      @include font-weight('light')
      margin-top: 8px
      color: color('text')

    #edit-link
      @include font-montserrat
      @include font-size('normal')
      @include font-weight('small')
      cursor: pointer
      text-align: center
      padding: 3px 8px
      margin-top: 8px
      border: 1px solid
      border-radius: 4px
      text-decoration: none
      color: color('text')
      border-color: color('text')

      &:hover
        color: color('primary')
        border-color: color('primary')
        background-color: color('hoveredBackground')

  .address-card
    $cover-height: 96px
    $under-sheet-height: 88px
    @include flex-column(center, center)
    flex: 1
    margin: 0 16px

    .top
      @include flex-column(center, center)
      width: 100%
      height: $cover-height
      transition: .5s
      transform: translateY(0.25 * ($cover-height + $under-sheet-height))
      z-index: 902
      border-radius: 8px
      border: 1px solid
      cursor: pointer
      color: color('text')
      border-color: color('text')
      background-color: color('background')

      .function, .name
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        white-space: nowrap
        margin: 1px
        color: color('text')

    .bottom
      @include flex-column(center, center)
      width: 100%
      height: $under-sheet-height
      transition: .5s
      transform: translateY(-0.25 * ($cover-height + $under-sheet-height))
      z-index: 901
      border-radius: 8px
      opacity: 0
      border: 1px solid
      border-top: 0
      color: color('text')
      border-color: color('text')
      background-color: color('background')

      .street, .city
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        white-space: nowrap
        margin: 1px
        color: color('text')

      .telephone
        @include flex-row(center, center)
        text-decoration: none
        cursor: pointer
        color: color('primary')

        .icon, .number
          @include font-size('normal')
          @include font-weight('small')
          white-space: nowrap
          line-height: 16px

        .number
          @include font-montserrat
          margin-left: 4px

    &:hover
      .top
        transform: translateY(0)
        border-radius: 8px 8px 0 0

      .bottom
        transform: translateY(0)
        border-radius: 0 0 8px 8px
        opacity: 1

  &.desktop
    #links-copyright, .address-card
      margin: 0 32px

  &.tablet, &.mobile
    .address-card
      .top
        transform: translateY(0)
        border-radius: 8px 8px 0 0

      .bottom
        transform: translateY(0)
        border-radius: 0 0 8px 8px
        opacity: 1

    &.mobile
      @include flex-column(center, center)

      #links-copyright, .address-card
        width: 90%
        margin-bottom: 16px


@media screen and (prefers-color-scheme: dark)
    #footer
        background-color: darkColor('background')
        box-shadow: darkColor('shadow') 0 -4px 16px

    #links-copyright
        #links .link
            color: darkColor('text')

            &:hover
                color: darkColor('primary')
                background-color: darkColor('hoveredBackground')

        #copyright
            color: darkColor('text')

        #edit-link
            color: color('text')
            border-color: color('text')

            &:hover
                color: color('primary')
                border-color: color('primary')
                background-color: color('hoveredBackground')

    .address-card

        .top
            color: darkColor('text')
            border-color: darkColor('text')
            background-color: darkColor('background')

            .function, .name
                color: darkColor('text')

        .bottom
            color: darkColor('text')
            border-color: darkColor('text')
            background-color: darkColor('background')

            .street, .city
                color: darkColor('text')

            .telephone
                color: darkColor('primary')
