@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

#add-report
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('small')
    background-color: color('background')
    border: 1px solid color('text')
    border-radius: 5px
    color: color('primary')
    cursor: pointer
    margin-bottom: 25px
    padding: 5px 15px
    text-align: center

.report-group
    @include flex-column(flex-start, center)
    margin-bottom: 40px
    width: 100%

    &:last-child
        margin-bottom: 0

    .group-name
        @include font-montserrat
        @include font-size('large')
        @include font-weight('small')
        margin-bottom: 15px
        text-align: left
        width: 100%

    .report
        @include flex-row(center, center)
        background-color: color('background')
        border: 1px solid color('text')
        border-bottom: 0
        padding: 5px
        width: 95%

        &:nth-child(2)
            border-radius: 5px 5px 0 0

        &:last-child
            border-bottom: 1px solid color('text')
            border-radius: 0 0 5px 5px

        &:nth-child(2):last-child
            border-radius: 5px

        .title-container
            @include flex-column(center, flex-start)
            margin-left: 10px
            width: 60%

            .title
                @include font-montserrat
                @include font-size('normal')
                @include font-weight('small')
                margin-bottom: 2px

            .message
                @include font-montserrat
                @include font-size('small')
                @include font-weight('small')
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                width: 100%

        .edit-button, .delete-button
            @include flex-row(center, center)
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('small')
            cursor: pointer
            margin: 10px
            width: 20%
