<span [ngClass]="{intransparent: isIntransparent}"
  class="container">
  <span class="top-row">
    <a href="/home"
      class="logo-container"
      title="Home">
      <img src="assets/images/svk-logo.png"
        alt="SV Kleinsendelbach"
        class="logo">
      <div class="text">SV Kleinsendelbach</div>
    </a>
    <fa-icon *ngIf="!isExpanded"
      [icon]="faBars"
      (click)="handleHamburgerMenuClicked(true)"
      class="hamburger-menu"></fa-icon>
    <fa-icon *ngIf="isExpanded"
      [icon]="faTimes"
      (click)="handleHamburgerMenuClicked(false)"
      class="hamburger-menu"></fa-icon>
  </span>
  <span *ngIf="isExpanded"
    class="header-items">
    <app-mobile-header-item *ngFor="let headerItem of headerItemsList"
      [ngClass]="{expanded: expandedHeaderItemId === headerItem.id}"
      [headerItem]="headerItem"
      [isIntransparent]="isIntransparent"
      [expandedHeaderItemId]="expandedHeaderItemId"
      (clickHeaderItemIdEmitter)="handleHeaderItemClick($event)"></app-mobile-header-item>
  </span>
</span>
<span *ngIf="isExpanded || expandedHeaderItemId !== undefined"
  (click)="isExpanded = false; expandedHeaderItemId = null; $event.stopPropagation()"
  class="background"></span>
