@import '/src/sass/flex'
@import 'src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100vw

.container
  @include flex-column(center, flex-start)
  width: 100vw
  position: fixed
  top: 0
  height: 50px
  z-index: 31

  .top-row
    @include flex-row(center, center)
    width: 100vw
    height: 100%

    .logo-container
      @include flex-row(center, center)
      height: 100%
      text-decoration: none
      cursor: pointer
      width: calc(100% - 37.5px)

      .logo
        height: calc(100% - 10px)

      .text
        font-family: 'MetropolisExtraLight', Helvetica Neue, Helvetica, sans-serif
        color: #ffffff
        font-size: 25px
        margin-left: 10px

    .hamburger-menu
      color: #ffffff
      cursor: pointer
      font-size: 25px
      width: 25px
      margin-right: 12.5px

  .header-items
    height: 100%
    width: 100vw
    @include flex-column(center, flex-start)

  &.intransparent
    background-color: #ffffff
    box-shadow: #dcdcdc 0px 2px 10px

    .top-row
      .logo-container .text, .hamburger-menu
        color: #000000

.background
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 30

@media screen and (prefers-color-scheme: dark)
  .container
    .top-row
      .logo-container
        .text
          color: #ffffff

      .hamburger-menu
        color: #ffffff

    &.intransparent
      background-color: #24252A
      box-shadow: #1c1a17 0px 2px 10px

      .top-row
        .logo-container .text, .hamburger-menu
          color: #C8D6E5
