<text-section
    title="Unsere Vorstände"
>
    <contacts
        [contactsData]="managers"
    />
</text-section>

<text-section>
    <links
        [linksData]="linksData"
    />
</text-section>

<text-section
    title="Grußwort des Vorstands"
>
    <p
        class="text color-secondary"
    >Sehr geehrte Besucher unserer Homepage, liebe Mitglieder, Freunde und Förderer unseres Vereins,</p>
    <p
        class="text margin-top color-secondary"
    >ich begrüße Sie ganz herzlich auf der Homepage des SV Kleinsendelbach e. V.! Hier besuchen Sie den Sportverein Kleinsendelbach nicht nur während seiner sportlichen und sonstigen Veranstaltungen, sondern Sie finden alle Informationen zu den Ansprechpartnern, Abteilungen, Feierlichkeiten und vielem mehr.</p>
    <p
        class="text margin-top color-secondary"
    >Ehrenamtliche Vereinsarbeit ist nicht selbstverständlich. Denjenigen, die sich dazu bereit erklären und die vielfältige Arbeiten beim SVK unentgeltlich übernehmen, danken wir an dieser Stelle ganz herzlich! Wenn Sie Lust haben, uns ebenfalls zu unterstützen, so freuen wir uns natürlich darüber. Doch auch über finanzielle Unterstützung in Form einer (kleinen oder größeren) Spende freuen wir uns, selbstverständlich erhalten Sie dafür eine Spendenquittung. Bitte sprechen Sie uns an, wenn Sie uns – egal in welcher Form – unterstützen wollen und können. Außerdem freuen wir uns über Lob genauso wie über konstruktive Kritik. Sprechen Sie meine Vorstandskollegen oder mich an und kommen Sie mit uns ins Gespräch. Wir haben gerne ein offenes Ohr für Sie!</p>
    <p
        class="text margin-top color-secondary"
    >Ich wünsche Ihnen nun noch viel Spaß beim Stöbern auf dieser Homepage und hoffe auf Ihre Mithilfe und Unterstützung für den Verein.</p>
    <p
        class="text align-center large margin-top-large color-primary"
    >Mit sportlichen Grüßen</p>
    <p
        class="text align-center"
    >Sebastian Schuldes</p>
    <p
        class="text align-center small margin-top-small"
    >-im Namen der Vorstandschaft-</p>
</text-section>
