@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%
  margin-top: 75px

.item
  @include flex-column(center, center)
  width: 100%
  padding-bottom: 32px

  .address
    @include flex-column(center, center)
    width: 100%
    padding: 16px 0

    *
      padding: 0

    > *
      padding-bottom: 8px
      width: 100%
