@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

#main-sponsors .container, #premium-sponsors .container
    width: 80%

    .sponsor
        border-bottom: 1px solid color('text')

        &:last-child
            border-bottom: 0

#partners .container
    @include flex-row(flex-start, center)
    width: 80%
    flex-wrap: wrap

    .sponsor
        width: calc(100% / 3)

    &.mobile
        @include flex-column(flex-start, center)

        .sponsor
            width: 100%
            border-bottom: 1px solid color('text')

        &:last-child
            border-bottom: 0

.sponsoring
    @include flex-row(center, center)
    width: 80%
    border: 1px solid color('text')
    margin-top: 30px

    .left
        @include font-montserrat
        @include font-size('x-large')
        @include font-weight('semi-bold')
        color: color('primary')
        text-align: center
        width: 50%

    .right
        width: 50%
        margin: 30px 10px

        .benefits, .price
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('normal')

        .benefits
            color: color('secondaryText')
            margin-bottom: 5px

        .price
            @include font-weight('medium')
            color: color('primary')
            margin-top: 20px

    &.mobile
        @include flex-column(center, center)
        width: 100%

        .left
            width: 100%
            margin-top: 30px

        .right
            width: 90%
