@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

#container
    @include flex-column(flex-start, center)
    margin-top: 25px
    width: 100%

    .user
        @include flex-row(center, center)
        background-color: color('background')
        border:  1px solid color('text')
        border-bottom: 0
        width: 95%

        &:first-child
            border-radius: 5px 5px 0 0

        &:last-child
            border-bottom: 1px solid color('text')
            border-radius: 0 0 5px 5px

        &:first-child:last-child
            border-radius: 5px


        .name, .button
            @include font-montserrat
            @include font-size('normal')
            @include font-weight('small')
            padding: 5px 10px
            text-align: center

        .name
            flex: 5

        .button
            cursor: pointer
            flex: 2

    &.mobile .user
        @include flex-column(center, center)
