<app-editing-navigation-bar
    [backButtonLink]="mainEditingPageLink"
/>
<authentication-check
    [roles]="['admin']"
    (onAuthentication)="getUsers()"
>
    <text-section
        [title]="'Benutzer'"
    >
        <p
            *ngIf="!users"
            class="text margin-top-large secondaryColor"
        >Benutzer werden geladen</p>
        <div
            id="container"
            [ngClass]="deviceType.current"
        >
            <div
                class="user"
                *ngFor="let user of users; trackBy: TrackBy.property('hashedUserId')"
            >
                <p
                    class="name textColor"
                >{{ user.firstName }} {{ user.lastName }}</p>
                <p
                    *ngFor="let role of User.Role.all; trackBy: TrackBy.identity"
                    class="button"
                    [ngClass]="user.roles.includes(role) ? 'primaryColor' : 'secondarycolor'"
                    role="none"
                    (click)="editRole(user, role)"
                >{{ User.Role.description(role) }}<p>
            </div>
        </div>
    </text-section>
</authentication-check>
