<app-text-section
  [title]="'Kader'"
>
  <p
    *ngIf="FetchState.isLoading(fetchedSquad)"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Kader wird geladen</p>
  <p
    *ngIf="FetchState.isFailure(fetchedSquad)"
    class="text center large"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >Kader konnten nicht geladen werden</p>

  <!-- Coach -->
  <p
    class="text left-align x-large margin-top-normal"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).coach !== null"
  >Trainer</p>
  <div
    class="container"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).coach !== null"
  >
    <app-squad-person
      class="person"
      [person]="coachPersonInfo(FetchState.getContent(fetchedSquad).coach!)"
      [ngClass]="deviceType.className"
    ></app-squad-person>
  </div>

  <!-- Goal keeper -->
  <p
    class="text left-align x-large margin-top-normal"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.goalkeeper !== null && FetchState.getContent(fetchedSquad).squad!.goalkeeper!.length !== 0"
  >goalkeeper</p>
  <div
    class="container"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.goalkeeper !== null && FetchState.getContent(fetchedSquad).squad!.goalkeeper!.length !== 0"
  >
    <app-squad-person
      class="person"
      *ngFor="let person of FetchState.getContent(fetchedSquad).squad!.goalkeeper!"
      [person]="squadPersonInfo(person)"
      [ngClass]="deviceType.className"
    ></app-squad-person>
  </div>

  <!-- Defence -->
  <p
    class="text left-align x-large margin-top-normal"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.defence !== null && FetchState.getContent(fetchedSquad).squad!.defence!.length !== 0"
  >defence</p>
  <div
    class="container"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.defence !== null && FetchState.getContent(fetchedSquad).squad!.defence!.length !== 0"
  >
    <app-squad-person
      class="person"
      *ngFor="let person of FetchState.getContent(fetchedSquad).squad!.defence!"
      [person]="squadPersonInfo(person)"
      [ngClass]="deviceType.className"
    ></app-squad-person>
  </div>

  <!-- Midfield -->
  <p
    class="text left-align x-large margin-top-normal"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.midfield !== null && FetchState.getContent(fetchedSquad).squad!.midfield!.length !== 0"
  >midfield</p>
  <div
    class="container"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.midfield !== null && FetchState.getContent(fetchedSquad).squad!.midfield!.length !== 0"
  >
    <app-squad-person
      class="person"
      *ngFor="let person of FetchState.getContent(fetchedSquad).squad!.midfield!"
      [person]="squadPersonInfo(person)"
      [ngClass]="deviceType.className"
    ></app-squad-person>
  </div>

  <!-- Offence -->
  <p
    class="text left-align x-large margin-top-normal"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.offence !== null && FetchState.getContent(fetchedSquad).squad!.offence!.length !== 0"
  >offence</p>
  <div
    class="container"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.offence !== null && FetchState.getContent(fetchedSquad).squad!.offence!.length !== 0"
  >
    <app-squad-person
      class="person"
      *ngFor="let person of FetchState.getContent(fetchedSquad).squad!.offence!"
      [person]="squadPersonInfo(person)"
      [ngClass]="deviceType.className"
    ></app-squad-person>
  </div>

  <!-- Without disclosures -->
  <p
    class="text left-align x-large margin-top-normal"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.notSpecified !== null && FetchState.getContent(fetchedSquad).squad!.notSpecified!.length !== 0"
  >Ohne Angaben</p>
  <div
    class="container"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).squad !== null && FetchState.getContent(fetchedSquad).squad!.notSpecified !== null && FetchState.getContent(fetchedSquad).squad!.notSpecified!.length !== 0"
  >
    <app-squad-person
      class="person"
      *ngFor="let person of FetchState.getContent(fetchedSquad).squad!.notSpecified!"
      [person]="squadPersonInfo(person)"
      [ngClass]="deviceType.className"
    ></app-squad-person>
  </div>

  <!-- Staff -->
  <p
    class="text left-align x-large margin-top-normal"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).stab !== null && FetchState.getContent(fetchedSquad).stab!.length !== 0"
  >Stab</p>
  <div
    class="container"
    *ngIf="FetchState.isSuccess(fetchedSquad) && FetchState.getContent(fetchedSquad).stab !== null && FetchState.getContent(fetchedSquad).stab!.length !== 0"
  >
    <app-squad-person
      class="person"
      *ngFor="let person of FetchState.getContent(fetchedSquad).stab!"
      [person]="staffPersonInfo(person)"
      [ngClass]="deviceType.className"
    ></app-squad-person>
  </div>

</app-text-section>
