<text-section
  [title]="'E-Jugend des SV Kleinsendelbach'"
>
  <p
    class="text"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
</text-section>

<events
  [groupIds]="eventGroupIds"
></events>

<text-section
  [title]="'Ergebnisse und Tabellen'"
>
  <app-bfv-widget
    [teamId]="teamId"
  ></app-bfv-widget>
</text-section>

<app-contact-info
  [contactData]="contactData"
></app-contact-info>

<text-section
  [title]="'Trainingszeiten'"
>
  <p
    class="text margin-bottom-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Das Training findet jeden Mittwoch von 17:30Uhr - 19:00Uhr am A-Platz an der Hauptstraße statt.</p>
  <app-maps
    [options]="mapOptions"
    [markers]="mapMarkers"
  ></app-maps>
</text-section>

<text-section
  [title]="'Kader'"
>
  <img
    class="text-image"
    src="assets/images/e-jugend.jpg"
    title="E-Jugend"
    [ngStyle]="{
      borderColor: styleConfig.css('textColor')
    }"
  >
</text-section>
