@import '/src/sass/flex'
@import '/src/sass/text-style'
@import 'src/sass/reset'

body
  @include flex-column(center, flex-start)
  background-color: #F0F0F0
  width: 100vw
  min-height: 150vh
  margin: 0
  padding: 0
