@import '/src/sass/reset'

// sass-lint:disable no-color-hex

$background-color: #F0F0F0
$background-color-dark: #2C3A47

body
    background-color: $background-color
    display: block
    min-height: 100vh

.grecaptcha-badge
    z-index: 1200

@media screen and (prefers-color-scheme: dark)
    body
        background-color: $background-color-dark
