@import '/src/sass/reset'

body
  display: block
  min-height: 100vh
  background-color: #F0F0F0

.grecaptcha-badge
  z-index: 1200

@media screen and (prefers-color-scheme: dark)
  body
    background-color: #2C3A47
