<span class="text-section">
  <h1>Aktuelle Nachrichten</h1>
  <p *ngIf="FetchState.isLoading(fetchState)" class="loading center large">Nachrichten werden geladen.</p>
  <span *ngIf="FetchState.isFailure(fetchState)" class="failure">
    <p class="text center large red no-bottom-space">Nachrichten konnten nicht geladen werden.</p>
    <p class="loadAgain center" (click)="fetchNews()">Erneut laden</p>
  </span>
  <span *ngIf="FetchState.isSuccess(fetchState)" class="news-list" [ngClass]="deviceType.stringValue">
    <span *ngFor="let news of notDisabledNews(fetchState)" class="news">
      <a href="/nachricht/{{ newsUrl(news.id) }}" title="{{ news.title }}" class="thumbnail-link">
        <img src="{{ news.thumbnailUrl }}" class="thumbnail ignore-text-style">
      </a>
      <span class="container">
        <p class="date no-bottom-space dark">{{ date(news.date) }}</p>
        <a href="/nachricht/{{ newsUrl(news.id) }}" title="{{ news.title }}" class="title no-bottom-space red inline">{{ news.title }}</a>
        <p *ngIf="news.subtitle !== undefined" class="subtitle no-bottom-space dark">{{ news.subtitle }}</p>
        <p *ngIf="news.shortDescription !== undefined" class="shortDescription no-bottom-space">{{ news.shortDescription }}</p>
      </span>
    </span>
  </span>
  <a href="/nachrichten" title="Alle Nachrichten" *ngIf="FetchState.isSuccess(fetchState) && FetchState.getContent(fetchState).hasMore" class="view-all-news">Alle Nachrichten</a>
</span>
