@import '/src/sass/flex'
@import '/src/sass/font'

:host
  @include flex-column(center, flex-start)
  width: 100%

.failure .loadAgain
  margin-top: 25px
  cursor: pointer

.news-list
  @include flex-column(center, flex-start)
  width: 95%

  .news
    @include flex-row(center, flex-start)
    width: 100%
    border-bottom: #868E90 solid 1px
    padding: 40px 0

    .thumbnail-link
      @include flex-row(center, flex-start)
      width: fit-content
      height: fit-content

      .thumbnail
        border: 1px solid #24252A
        border-radius: 5px
        height: 200px
        width: 200px
        object-fit: cover

    .container
      @include flex-column(center, flex-start)
      width: calc(100% - 200px - 20px)
      margin-left: 20px

      .date
        font-size: 16px

      .title
        font-size: 28px
        margin-top: 10px

      .subtitle
        font-size: 20px
        margin-top: 20px

      .shortDescription
        margin-top: 10px

    &:last-child
      border-bottom: none

  &.mobile .news
    @include flex-column(center, flex-start)

    .container
      width: 100%
      margin-left: 0

      .title
        text-align: left

@media screen and (prefers-color-scheme: dark)
  .news-list .news .thumbnail-link .thumbnail
    border-color: #C8D6E5
