<text-section
  [title]="'Datenschutzerklärung'"
>
  <a
    class="text"
    href="assets/files/Datenschutzerklaerung.pdf"
    target="_blank"
    title="Datenschutzerklärung"
    [ngStyle]="{
      color: styleConfig.css('primaryColor')
    }"
  >-- Download der Datenschutzerklärung --</a>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Mit der Abgabe des Aufnahmeantrages beim Sportverein Kleinsendelbach e.V. willige ich ein, dass der Sportverein Kleinsendelbach e.V., als verantwortliche Stelle, die im Aufnahmeantrag erhobenen personenbezogenen Daten, wie Namen, Vorname, Geburtsdatum, Adresse, E-Mail-Adresse, Telefonnummer und Bankverbindung ausschließlich zum Zwecke der Mitgliederverwaltung, des Beitragseinzuges und der Übermittlung von Vereinsinformationen durch den Verein verarbeitet und genutzt werden.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Eine Übermittlung von Teilen dieser Daten an die jeweiligen Sportfachverbände (hier: Bayerischen Fußball-Verband e.V. – BFV) und den Bayerischen Landes-Sportverband e.V. (BLSV) findet nur im Rahmen der in den Satzungen der Fachverbände bzw. des BLSV festgelegten Zwecke statt. Diese Datenübermittlungen sind notwendig zum Zweck der Mitgliederverwaltung, zum Zwecke der Organisation eines Spiel- bzw. Wettkampfbetriebes und zum Zwecke der Einwerbung von öffentlichen Fördermitteln. Eine Datenübermittlung an Dritte, außerhalb der Fachverbände und des BLSV, findet nicht statt. Eine Datennutzung für Werbezwecke findet ebenfalls nicht statt.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Bei Beendigung der Mitgliedschaft werden die personenbezogenen Daten gelöscht, soweit sie nicht entsprechend der steuerrechtlichen Vorgaben aufbewahrt werden müssen.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Neben dem Recht auf Auskunft bezüglich der zu seiner Person beim Sportverein Kleinsendelbach e.V. gespeicherten Daten hat jedes Mitglied, im Rahmen der Vorgaben der DSGVO, das Recht, der Speicherung der Daten, die nicht im Rahmen der gesetzlichen Vorgaben für bestimmte Zeiträume vorgehalten werden müssen, für die Zukunft zu widersprechen. Ferner hat das Mitglied, im Falle von fehlerhaften Daten, ein Korrekturrecht.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Mit der Abgabe des Aufnahmeantrages beim Sportverein Kleinsendelbach e.V. willige ich ein, dass der Sportverein Kleinsendelbach e.V. meine E-Mail-Adresse und, soweit erhoben, auch meine Telefonnummer zum Zwecke der Kommunikation nutzt. Eine Übermittlung von E-Mail-Adresse und Telefonnummer, wird weder an den BLSV oder die Fachverbände noch an Dritte vorgenommen.</p>
  <p
    class="text block margin-top-normal"
    [ngStyle]="{
      color: styleConfig.css('secondaryTextColor')
    }"
  >Mit der Abgabe des Aufnahmeantrages beim Sportverein Kleinsendelbach e.V. willige ich ein, dass der Sportverein Kleinsendelbach e.V. Bilder von sportbezogenen oder gesellschaftlichen Veranstaltungen auf der WebSite des Vereines oder sonstigen Vereinspublikationen veröffentlicht und an die Presse zum Zwecke der Veröffentlichung ohne spezielle Einwilligung weitergibt. Abbildungen von genannten Einzelpersonen oder Klein-Gruppen hingegen bedürfen einer Einwilligung der abgebildeten Personen.</p>
</text-section>
