<div
    id="form"
    role="none"
    (keyup.enter)="'$event.preventDefault(); $event.stopPropagation(); submitButtonClicked.emit()'"
    [ngClass]="deviceType.current"
>
    <ng-content></ng-content>
    <div
        id="cancel-submit-container"
    >
        <p
            *ngIf="cancelButtonText !== null"
            id="cancel-button"
            role="none"
            (click)="$event.preventDefault(); $event.stopPropagation(); cancelButtonClicked.emit()"
        >{{ cancelButtonText }}</p>
        <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
        <p
            id="submit-button"
            role="none"
            (click)="$event.preventDefault(); $event.stopPropagation(); submitButtonClicked.emit()"
            [ngStyle]="{
                borderColor: borderColor
            }"
        >{{ submitButtonText }}</p>
    </div>
    <error-message
        [error]="inputForm.error"
    />
</div>
