@import '/src/sass/flex'
@import '/src/sass/color'
@import '/src/sass/text'

:host
    @include flex-column(flex-start, center)
    position: relative
    width: 100vw

#image-container
    @include flex-row(flex-start, center)
    overflow: hidden
    position: absolute
    top: 0
    width: 85vw
    z-index: 100

    .image
        object-fit: cover
        overflow: hidden
        position: absolute
        top: 0
        transition: .5s
        width: 100%

    &.mobile
        width: 100vw

#text-container
    @include flex-column(flex-end, flex-start)
    position: absolute
    top: 0
    width: 85vw
    z-index: 101

    #actual, #title, #subtitle
        @include font-roboto
        background-color: color('background')
        box-shadow: 0 0 16px color('shadow')
        color: color('text')
        padding: 5px 10px
        padding-left: 25px

    #actual
        color: color('primary')
        font-size: 20px
        font-weight: 300

    #title
        font-size: 40px
        font-weight: 500

    #subtitle
        font-size: 35px
        font-weight: 300

    &.mobile
        width: 100vw

        #title
            font-size: 30px

        #subtitle
            font-size: 25px

#nav-bar-container
    @include flex-column(center, center)
    cursor: pointer
    position: absolute
    top: 0
    width: calc(85vw + 110px)
    z-index: 102

    #nav-button-container
        @include flex-row(center, space-between)
        height: calc(100% - 48px)
        width: 100%

        #left-button, #right-button
            color: color('text')
            @include flex-row(center, center)
            cursor: pointer
            font-size: 64px
            height: 100%
            opacity: .5
            padding: 5px
            width: 45px

            &:hover
                opacity: 1

    #nav-bar
        @include flex-row(flex-start, center)
        border-radius: 8px
        margin-bottom: 16px
        padding: 4px 8px

        .circle
            @include flex-row(center, center)
            cursor: pointer
            font-size: 16px
            height: 16px
            opacity: .5
            padding: 4px
            width: 16px

            &.filled
                opacity: 1

            &:hover
                opacity: 1

    &.mobile
        width: 100vw

        #nav-button-container
            #left-button, #right-button
                height: auto
                width: auto
