<div
  id="image-container"
  [ngStyle]="{
    height: heightStyle
  }"
>
  <img
    *ngFor="let bannerItem of bannerData; index as index"
    class="image"
    src="{{ bannerItem.imageSource }}"
    title="{{ bannerItem.title }}"
    [ngStyle]="{
        height: heightStyle,
      transform: 'translateX(' + (index - currentPage + 1) + '00%)'
    }"
  >
</div>
<div
  id="nav-bar-container"
  [ngStyle]="{
    height: heightStyle
  }"
>
  <div
    id="nav-button-container"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (touchstart)="onMouseDown($event)"
    (touchend)="onMouseUp($event)"
  >
    <fa-icon
      id="left-button"
      [icon]="faChevronLeft"
      (click)="$event.preventDefault(); $event.stopPropagation(); handleButtonClick('left')"
      [ngStyle]="{
        color: styleConfig.css('textColor')
      }"
    ></fa-icon>
    <fa-icon
      id="right-button"
      [icon]="faChevronRight"
      (click)="$event.preventDefault(); $event.stopPropagation(); handleButtonClick('right')"
      [ngStyle]="{
        color: styleConfig.css('textColor')
      }"
    ></fa-icon>
  </div>
  <div
    id="nav-bar"
  >
    <fa-icon
      *ngFor="let _ of bannerData; index as index"
      [icon]="faCircle"
      class="circle"
      (click)="$event.preventDefault(); $event.stopPropagation(); handleNavBarClick(index + 1)"
      [ngStyle]="{
        color: currentPage === index + 1 ? styleConfig.css('primaryColor') : styleConfig.css('textColor')
      }"
      [ngClass]="{
        filled: currentPage === index + 1
      }"
    ></fa-icon>
  </div>
</div>
