<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<div
    [ngStyle]="{
        height: heightStyle
    }"
></div>
<div
    id="image-container"
    [ngClass]="deviceType.current"
    [ngStyle]="{
        height: heightStyle
    }"
>
    <img
        *ngFor="let bannerItem of bannerData; index as index; trackBy: TrackBy.property('title')"
        class="image"
        [src]="bannerItem.imageSource"
        [title]="bannerItem.title"
        [alt]="bannerItem.title"
        [ngStyle]="{
            height: heightStyle,
            transform: 'translateX(' + (index - currentPage + 1) + '00%)'
        }"
    >
</div>
<div
    id="text-container"
    [ngClass]="deviceType.current"
    [ngStyle]="{
        height: 'calc(' + heightStyle + ' - 30px)'
    }"
>
    <p
        id="actual"
        *ngIf="current.isCurrent"
    >Aktuell</p>
    <p
        id="title"
    >{{ current.title }}</p>
    <p
        id="subtitle"
        *ngIf="current.subTitle !== null"
    >{{ current.subTitle }}</p>
</div>
<div
    id="nav-bar-container"
    [ngClass]="deviceType.current"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (touchstart)="onMouseDown($event)"
    (touchend)="onMouseUp($event)"
    [ngStyle]="{
        height: heightStyle
    }"
>
    <div
        id="nav-button-container"
    >
        <fa-icon
            id="left-button"
            icon="chevron-left"
            (click)="$event.preventDefault(); $event.stopPropagation(); handleButtonClick('left')"
        />
        <fa-icon
            id="right-button"
            icon="chevron-right"
            (click)="$event.preventDefault(); $event.stopPropagation(); handleButtonClick('right')"
        />
    </div>
    <div
        id="nav-bar"
    >
        <fa-icon
            *ngFor="let _ of bannerData; index as index; trackBy: TrackBy.property('title')"
            icon="circle"
            class="circle"
            (click)="$event.preventDefault(); $event.stopPropagation(); handleNavBarClick(index + 1)"
            [ngStyle]="{
                color: currentPage === index + 1 ? styleConfig.css('primary') : styleConfig.css('text')
            }"
            [ngClass]="{
                filled: currentPage === index + 1
            }"
        />
    </div>
</div>
