<span class="column">
  <span class="row">
    <fa-icon [icon]="faChevronLeft"
      (click)="handleButtonClick('left'); $event.stopPropagation()"
      class="left"></fa-icon>
    <span class="content">
      <app-birthday-view *ngIf="currentItem.type == 'birthday'"
        [player]="currentItem.player"
        [playerImage]="currentItem.playerImage">
      </app-birthday-view>
      <app-top-news-game-view *ngIf="currentItem.type == 'game'"
        [gameProperties]="currentItem.gameProperties"
        [nextLastGame]="currentItem.nextLastGame"
        [team]="currentItem.team">
      </app-top-news-game-view>
    </span>
    <fa-icon [icon]="faChevronRight"
      (click)="handleButtonClick('right'); $event.stopPropagation()"
      class="right"></fa-icon>
  </span>
  <span class="nav-bar">
    <fa-icon *ngFor="let _ of itemList; index as index"
      [ngClass]="{
          filled: currentPage == index + 1
        }"
      [icon]="faCircle"
      (click)="currentPage = index + 1; $event.stopPropagation"
      class="cicle"></fa-icon>
  </span>
</span>
