@import '/src/sass/flex'

:host
  @include flex-column(center, center)
  width: 100vw
  height: 100%

.column
  @include flex-column(center, space-between)
  height: 100%
  width: 100vw

  .row
    @include flex-row(space-between, center)
    width: 100vw
    height: 400px - 34px

    .left, .right
      @include flex-row(center, center)
      cursor: pointer
      background-color: #ffffff40
      color: #ffffff
      font-size: 30px
      line-height: 30px
      width: 35px
      height: 90px

    .left
      margin-left: 25px

    .right
      margin-right: 25px

    .content
      @include flex-column(center, flex-start)
      height: 100%
      width: calc(100vw - 120px)

  .nav-bar
    @include flex-row(center, center)
    border-radius: 7px
    height: 14px
    background-color: #ffffff40
    margin-bottom: 20px

    .cicle
      @include flex-row(center, center)
      font-size: 12px
      line-height: 12px
      height: 12px
      color: #b0b0b0
      cursor: pointer
      padding: 1px 0px

      &.filled
        color: #ffffff
