<span [ngClass]="{
    intransparent: isIntransparent,
    expanded: expandedHeaderItemId === headerItem.id
  }"
  class="header-item">
  <a *ngIf="headerItem.subItems == undefined"
    href="{{ headerItem.topItem.link }}"
    target="{{ headerItem.topItem.extern ? '_blank' : '_self' }}"
    class="top-item"
    title="{{ headerItem.topItem.name }}">
    <div class="text">
      {{ headerItem.topItem.name }}
    </div>
  </a>
  <span *ngIf="headerItem.subItems != undefined"
    (click)="handleClick(); $event.stopPropagation()"
    class="top-item">
    <div class="text">
      {{ headerItem.topItem.name }}
    </div>
    <fa-icon *ngIf="headerItem.subItems != undefined && expandedHeaderItemId !== headerItem.id"
      [icon]="faCaretDown"
      class="drop-down-arrow"></fa-icon>
    <fa-icon *ngIf="headerItem.subItems != undefined && expandedHeaderItemId === headerItem.id"
      [icon]="faCaretUp"
      class="drop-down-arrow"></fa-icon>
  </span>
  <span class="sub-items">
    <span *ngFor="let subItem of headerItem.subItems"
      class="sub-item-container">
      <a href="{{ subItem.link }}"
        target="{{ subItem.extern ? '_blank' : '_self' }}"
        title="{{ subItem.name }}"
        class="sub-item">
        {{ subItem.name }}
      </a>
    </span>
  </span>
</span>
