@import '/src/sass/flex'
@import '/src/sass/text'
@import '/src/sass/markdown'
@import '/src/sass/color'

:host
    @include flex-column(flex-start, center)
    width: 100%

.hint
    @include font-montserrat
    @include font-size('normal')
    @include font-weight('normal')
    padding: 5px 0
    text-align: start
    width: 97.5%

#input-field-label
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    margin-bottom: 8px
    text-align: left
    width: 100%

#image
    border: 1px solid
    border-color: color('text')
    border-radius: 5px
    height: 25vw
    margin-bottom: 20px
    object-fit: cover
    width: 25vw

#image-selector
    display: none

#custom-image-selector
    @include flex-row(center, center)
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    background-color: color('background')
    border: solid 1px
    border-radius: 8px
    color: color('text')
    cursor: pointer
    height: 48px
    text-align: center
    vertical-align: middle
    width: 100%

#error-message
    @include font-montserrat
    @include font-size('large')
    @include font-weight('normal')
    margin-top: 8px
    text-align: left
    width: 100%

#spacer
    height: 20px

#preview-message
    @include flex-column(center, flex-start)
    bottom: 20px
    margin:
        bottom: 20px
        top: 10px
    width: 100%

    #preview-text
        @include font-montserrat
        @include font-size('normal')
        @include font-weight('small')
        margin-bottom: 10px

    #message-preview
        @include markdown-container
