@import '/src/sass/color'
@import '/src/sass/text'
@import '/src/sass/flex'
@import '/src/sass/reset'

$scaling-newsletter: 3
$scaling-website: 1.25
$text-color: #24252A // sass-lint:disable-line no-color-hex
$primary-color: #29368A // sass-lint:disable-line no-color-hex
$secondary-color: #FFFFFF // sass-lint:disable-line no-color-hex

.w100
    width: 100%

.w90
    width: 90%

.w80
    width: 80%

.w75
    width: 75%

.w60
    width: 60%

.w50
    width: 50%

.w45
    width: 45%

.w33
    width: 33.3%

.w20
    width: 20%

.w15
    width: 15%

.w10
    width: 10%

.w5
    width: 5%

.h100px
    height: 80px
    font-size: 80px

.h75px
    height: 75px

.h25px
    height: 25px

.h1px
    height: 1px

.align-left
    text-align: left

.align-center
    text-align: center

.align-right
    text-align: right

.align-block
    text-align: justify

.va-top
    vertical-align: top

.metrophobic
    font-family: 'Metrophobic', sans-serif

.roboto
    font-family: 'Roboto', sans-serif

.fw-light
    font-weight: 300

.fw-normal
    font-weight: 400

.fw-semi-bold
    font-weight: 550

.fw-bold
    font-weight: 700

.scaling-newsletter
    .p-top25px
        padding-top: calc($scaling-newsletter * 25px)

    .p-top15px
        padding-top: calc($scaling-newsletter * 15px)

    .p-top5px
        padding-top: calc($scaling-newsletter * 5px)

    .p-bottom5px
        padding-bottom: calc($scaling-newsletter * 5px)

    .fs-small
        font-size: calc($scaling-newsletter * 16px)
        line-height: calc($scaling-newsletter * 20px)

    .fs-normal
        font-size: calc($scaling-newsletter * 20px)
        line-height: calc($scaling-newsletter * 25px)

    .fs-medium
        font-size: calc($scaling-newsletter * 24px)
        line-height: calc($scaling-newsletter * 30px)

    .fs-x-large
        font-size: calc($scaling-newsletter * 30px)
        line-height: calc($scaling-newsletter * 37.5px)

    .fs-xx-large
        font-size: calc($scaling-newsletter * 40px)
        line-height: calc($scaling-newsletter * 50px)

    .fs-xxx-large
        font-size: calc($scaling-newsletter * 48px)
        line-height: calc($scaling-newsletter * 60px)

    .lh-20px
        line-height: calc($scaling-newsletter * 20px)

.scaling-website
    .p-top25px
        padding-top: calc($scaling-website * 25px)

    .p-top15px
        padding-top: calc($scaling-website * 15px)

    .p-top5px
        padding-top: calc($scaling-website * 5px)

    .p-bottom5px
        padding-bottom: calc($scaling-website * 5px)

    .fs-small
        font-size: calc($scaling-website * 16px)
        line-height: calc($scaling-website * 20px)

    .fs-normal
        font-size: calc($scaling-website * 20px)
        line-height: calc($scaling-website * 25px)

    .fs-medium
        font-size: calc($scaling-website * 24px)
        line-height: calc($scaling-website * 30px)

    .fs-x-large
        font-size: calc($scaling-website * 30px)
        line-height: calc($scaling-website * 37.5px)

    .fs-xx-large
        font-size: calc($scaling-website * 40px)
        line-height: calc($scaling-website * 50px)

    .fs-xxx-large
        font-size: calc($scaling-website * 48px)
        line-height: calc($scaling-website * 60px)

    .lh-20px
        line-height: calc($scaling-website * 20px)

.link
    cursor: pointer
    text-decoration: none

.block
    display: block

.color-text
    color: $text-color

.color-primary
    color: $primary-color

.color-secondary
    color: $secondary-color

.background-primary
    background-color: $primary-color

.border-radius
    border-radius: 1000px

.border-radius-right
    border-radius: 0 1000px 1000px 0
